<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_1" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_2" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_1").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_2").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->

<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="ov_box_empty_side">	</div>
		
		<div id="ov_box_text_side_1" class="ov_box_text_side">
			<div class="ov_text_info_title">
				SEMANA SANTA<br> - CIUDAD REAL -
			</div>
			<div  class="ov_text_info_text">
				<p>
					La Semana Santa de Ciudad Real está viva. Son días de emociones, devoción, recogimiento, arte, silencio y música...Y a la vez son días para disfrutar de las calles, de los hoteles, del comercio, de la ciudad que abre su muralla a propios y extraños.
				</p>
				<p>
					Vívelo con CADENA SER CIUDAD REAL.
				</p>				
			</div>
		</div>
				
		<div class="ov_clear_floats"> </div>
		
	</div>
		
</div>




