<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_1" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_2" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_1").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_2").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited">
		
		<div id="ov_calendar_container">
	
			<!--Decorative -->
			<div class="ov_white_line_2"> </div>
			<div class="ov_text_12">MARZO</div>
			<div class="ov_white_line_2"> </div>
			
			<div class="hollow_10px"> </div>		
			<!--Decorative -->
			
			<div id="ov_calendar_items_container">	
						
				<div id="ov_box_10_22_mar" class="ov_box_10">
					<div class="ov_text_09" id="ov_text_09_1">
						Domingo
					</div>
					<div id="ov_vertical_space_03_22_mar" class="ov_vertical_space_03">&nbsp;</div>
					<div class="ov_text_10" id="ov_text_10_1">
						22
					</div>
				</div>
				<script>
					$("#ov_box_10_22_mar").click(function(e){
						selected_day_in_proce_list=22;
						calculate_day();	
					});
				</script>
				
				<div id="ov_box_10_23_mar" class="ov_box_10">
					<div class="ov_text_09" id="ov_text_09_2">
						Lunes
					</div>
					<div id="ov_vertical_space_03_23_mar" class="ov_vertical_space_03">&nbsp;</div>
					<div class="ov_text_10" id="ov_text_10_2">
						23
					</div>
				</div>
				<script>
					$("#ov_box_10_23_mar").click(function(e){
						selected_day_in_proce_list=23;
						calculate_day();	
					});
				</script>
				
				<div id="ov_box_10_24_mar" class="ov_box_10">
					<div class="ov_text_09" id="ov_text_09_3">
						Martes
					</div>
					<div id="ov_vertical_space_03_24_mar" class="ov_vertical_space_03">&nbsp;</div>
					<div class="ov_text_10" id="ov_text_10_3">
						24
					</div>
				</div>
				<script>
					$("#ov_box_10_24_mar").click(function(e){						
						selected_day_in_proce_list=24;
						calculate_day();	
					});
				</script>
				
				<div id="ov_box_10_25_mar" class="ov_box_10">
					<div class="ov_text_09" id="ov_text_09_4">
						Miércoles
					</div>
					<div id="ov_vertical_space_03_25_mar" class="ov_vertical_space_03">&nbsp;</div>
					<div class="ov_text_10" id="ov_text_10_4">
						25
					</div>
				</div>
				<script>
					$("#ov_box_10_25_mar").click(function(e){						
						selected_day_in_proce_list=25;
						calculate_day();	
					});
				</script>
				
				<div id="ov_box_10_26_mar" class="ov_box_10">
					<div class="ov_text_09" id="ov_text_09_5">
						Jueves
					</div>
					<div id="ov_vertical_space_03_26_mar" class="ov_vertical_space_03">&nbsp;</div>
					<div class="ov_text_10" id="ov_text_10_5">
						26
					</div>
				</div>
				<script>
					$("#ov_box_10_26_mar").click(function(e){					
						selected_day_in_proce_list=26;
						calculate_day();	
					});
				</script>
				
				<div class="ov_clear_floats"> </div>	
				
				<div id="ov_box_10_27_mar" class="ov_box_10">
					<div class="ov_text_09" id="ov_text_09_6">
						Viernes
					</div>
					<div id="ov_vertical_space_03_27_mar" class="ov_vertical_space_03">&nbsp;</div>
					<div class="ov_text_10" id="ov_text_10_6">
						27
					</div>
				</div>
				<script>
					$("#ov_box_10_27_mar").click(function(e){					
						selected_day_in_proce_list=27;
						calculate_day();	
					});
				</script>
				
				<div id="ov_box_10_28_mar" class="ov_box_10">
					<div class="ov_text_09" id="ov_text_09_7">
						Sábado
					</div>
					<div id="ov_vertical_space_03_28_mar" class="ov_vertical_space_03">&nbsp;</div>
					<div class="ov_text_10" id="ov_text_10_7">
						28
					</div>
				</div>
				<script>
					$("#ov_box_10_28_mar").click(function(e){					
						selected_day_in_proce_list=28;
						calculate_day();	
					});
				</script>
				
				<div id="ov_box_10_29_mar" class="ov_box_10">
					<div class="ov_text_09" id="ov_text_09_8">
						Domingo
					</div>
					<div id="ov_vertical_space_03_29_mar" class="ov_vertical_space_03">&nbsp;</div>
					<div class="ov_text_10" id="ov_text_10_8">
						29
					</div>
				</div>
				<script>
					$("#ov_box_10_29_mar").click(function(e){
						selected_day_in_proce_list=29;
						calculate_day();	
					});
				</script>
				
				<div id="ov_box_10_30_mar" class="ov_box_10">
					<div class="ov_text_09" id="ov_text_09_9">
						Lunes
					</div>
					<div id="ov_vertical_space_03_30_mar" class="ov_vertical_space_03">&nbsp;</div>
					<div class="ov_text_10" id="ov_text_10_9">
						30
					</div>
				</div>
				<script>
					$("#ov_box_10_30_mar").click(function(e){
						selected_day_in_proce_list=30;
						calculate_day();	
					});
				</script>
				
				<div id="ov_box_10_31_mar" class="ov_box_10">
					<div class="ov_text_09" id="ov_text_09_10">
						Martes
					</div>
					<div id="ov_vertical_space_03_31_mar" class="ov_vertical_space_03">&nbsp;</div>
					<div class="ov_text_10" id="ov_text_10_10">
						31
					</div>
				</div>
				<script>
					$("#ov_box_10_31_mar").click(function(e){						
						selected_day_in_proce_list=31;
						calculate_day();	
					});
				</script>
			
			</div>
			
			<div class="ov_clear_floats">&nbsp;</div>		
			
			<!--Decorative -->
			<div class="ov_white_line_2"> </div>
			<div class="ov_text_12">ABRIL</div>
			<div class="ov_white_line_2"> </div>
			
			<div id="ov_calendar_items_container">	
								
				<div id="ov_box_10_1_abr" class="ov_box_10">
					<div class="ov_text_09" id="ov_text_09_10">
						Miércoles
					</div>
					<div id="ov_vertical_space_03_1_abr" class="ov_vertical_space_03">&nbsp;</div>
					<div class="ov_text_10" id="ov_text_10_10">
						1
					</div>
				</div>
				<script>
					$("#ov_box_10_1_abr").click(function(e){						
						selected_day_in_proce_list=1;
						calculate_day();	
					});
				</script>
				
				<div id="ov_box_10_2_abr" class="ov_box_10">
					<div class="ov_text_09" id="ov_text_09_10">
						Jueves
					</div>
					<div id="ov_vertical_space_03_2_abr" class="ov_vertical_space_03">&nbsp;</div>
					<div class="ov_text_10" id="ov_text_10_10">
						2
					</div>
				</div>
				<script>
					$("#ov_box_10_2_abr").click(function(e){						
						selected_day_in_proce_list=2;
						calculate_day();	
					});
				</script>
				
				<div id="ov_box_10_3_abr" class="ov_box_10">
					<div class="ov_text_09" id="ov_text_09_10">
						Viernes
					</div>
					<div id="ov_vertical_space_03_3_abr" class="ov_vertical_space_03">&nbsp;</div>
					<div class="ov_text_10" id="ov_text_10_10">
						3
					</div>
				</div>
				<script>
					$("#ov_box_10_3_abr").click(function(e){						
						selected_day_in_proce_list=3;
						calculate_day();	
					});
				</script>
				
				<div id="ov_box_10_4_abr" class="ov_box_10">
					<div class="ov_text_09" id="ov_text_09_10">
						Sábado
					</div>
					<div id="ov_vertical_space_03_4_abr" class="ov_vertical_space_03">&nbsp;</div>
					<div class="ov_text_10" id="ov_text_10_10">
						4
					</div>
				</div>
				<script>
					$("#ov_box_10_4_abr").click(function(e){						
						selected_day_in_proce_list=4;
						calculate_day();	
					});
				</script>
				
				<div id="ov_box_10_5_abr" class="ov_box_10">
					<div class="ov_text_09" id="ov_text_09_10">
						Domingo
					</div>
					<div id="ov_vertical_space_03_5_abr" class="ov_vertical_space_03">&nbsp;</div>
					<div class="ov_text_10" id="ov_text_10_10">
						5
					</div>
				</div>
				<script>
					$("#ov_box_10_5_abr").click(function(e){						
						selected_day_in_proce_list=5;
						calculate_day();	
					});
				</script>
				
				<div class="ov_clear_floats">&nbsp;</div>		
					
			</div>
			
			<!--Decorative -->
			<div class="ov_white_line_2"> </div>
			
			<div class="hollow_10px"> </div>		
			<!--Decorative -->
	
		</div>
		
		<div id="proce_list_container">
	
			<div class="hollow_10px"> </div>
			<div class="hollow_10px"> </div>	
			
			<div id="ov_zone_13_22_mar" class="ov_zone_13">
				
				<div id="ov_box_13_1" class="ov_box_13">
					<div id="ov_box_14_1" class="ov_box_14">
						<div id="ov_text_12_1" class="ov_text_12">
							NAZARENO
						</div>
						<div id="ov_text_13_1" class="ov_text_13">
							Día 22
						</div>
					</div>
					<div id="ov_box_15_1" class="ov_box_15">
						<div id="ov_text_15_1" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_1" class="ov_text_14">
							18:00h<br>
							Parroquia de San Pedro
						</div>
						<div id="ov_box_16_1" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_1").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_nazareno_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
								
					});
				</script>
				
				<div class="hollow_10px"> </div>
						
			</div>
			
			<div id="ov_zone_13_27_mar" class="ov_zone_13">
				
				<div id="ov_box_13_2" class="ov_box_13">
					<div id="ov_box_14_2" class="ov_box_14">
						<div id="ov_text_12_2" class="ov_text_12">
							DOLOROSA DE SANTIAGO
						</div>
						<div id="ov_text_13_2" class="ov_text_13">
							Día 27
						</div>
					</div>
					<div id="ov_box_15_2" class="ov_box_15">
						<div id="ov_text_15_2" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_2" class="ov_text_14">
							20:00h<br>
							Guardapasos
						</div>
						<div id="ov_box_16_2" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats">&nbsp;</div>
				</div>
				<script>
					$("#ov_box_13_2").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_perchelera_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
					});
				</script>
				
				<div class="hollow_10px"> </div>
				
			</div>
				
			<div id="ov_zone_13_29_mar" class="ov_zone_13">
				
				<div id="ov_box_13_3" class="ov_box_13">
					<div id="ov_box_14_3" class="ov_box_14">
						<div id="ov_text_12_3" class="ov_text_12">
							LAS PALMAS
						</div>
						<div id="ov_text_13_3" class="ov_text_13">
							Día 29
						</div>
					</div>
					<div id="ov_box_15_3" class="ov_box_15">
						<div id="ov_text_15_3" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_3" class="ov_text_14">
							11:30h<br>
							Colegio Salesiano Hermano Gárate
						</div>
						<div id="ov_box_16_3" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_3").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_palmas_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
												
					});
				</script>
				
				<div class="hollow_10px"> </div>
				
				<div id="ov_box_13_4" class="ov_box_13">
					<div id="ov_box_14_4" class="ov_box_14">
						<div id="ov_text_12_4" class="ov_text_12">
							CORONACIÓN DE ESPINAS
						</div>
						<div id="ov_text_13_4" class="ov_text_13">
							Día 29
						</div>
					</div>
					<div id="ov_box_15_4" class="ov_box_15">
						<div id="ov_text_15_4" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_4" class="ov_text_14">
							17:30h<br>
							Parroquia de Santa María del Prado
						</div>
						<div id="ov_box_16_4" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_4").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_coronacion_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
												
					});
				</script>
				
				<div class="hollow_10px"> </div>
				
				<div id="ov_box_13_5" class="ov_box_13">
					<div id="ov_box_14_5" class="ov_box_14">
						<div id="ov_text_12_5" class="ov_text_12">
							PRENDIMIENTO
						</div>
						<div id="ov_text_13_5" class="ov_text_13">
							Día 29
						</div>
					</div>
					<div id="ov_box_15_5" class="ov_box_15">
						<div id="ov_text_15_5" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_5" class="ov_text_14">
							18:00h<br>
							Parroquia de Ntra. Señora de los Ángeles
						</div>
						<div id="ov_box_16_5" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_5").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_prendimiento_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
													
					});
				</script>
				
				<div class="hollow_10px"> </div>
					
			</div>
			
			<div id="ov_zone_13_30_mar" class="ov_zone_13">
				
				<div id="ov_box_13_2_0" class="ov_box_13">
					<div id="ov_box_14_2_0" class="ov_box_14">
						<div id="ov_text_12_2_0" class="ov_text_12">
							VIACRUCIS PENITENCIAL
						</div>
						<div id="ov_text_13_2_0" class="ov_text_13">
							Día 30
						</div>
					</div>
					<div id="ov_box_15_2_0" class="ov_box_15">
						<div id="ov_text_15_2_0" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_2_0" class="ov_text_14">
							22:00h<br>
							S.I.P.B. Catedral
						</div>
						<div id="ov_box_16_2_0" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats">&nbsp;</div>
				</div>
				<script>
					$("#ov_box_13_2_0").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_viacrucis_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
					});
				</script>
				
				<div class="hollow_10px"> </div>
				
			</div>
			
			<div id="ov_zone_13_31_mar" class="ov_zone_13">
				
				<div id="ov_box_13_6" class="ov_box_13">
					<div id="ov_box_14_6" class="ov_box_14">
						<div id="ov_text_12_6" class="ov_text_12">
							MEDINACELI
						</div>
						<div id="ov_text_13_6" class="ov_text_13">
							Día 31
						</div>
					</div>
					<div id="ov_box_15_6" class="ov_box_15">
						<div id="ov_text_15_6" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_6" class="ov_text_14">
							19:00h<br>
							Parroquia de Nuestra Señora del Pilar
						</div>
						<div id="ov_box_16_6" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_6").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_medinaceli_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
					});
				</script>
				
				<div class="hollow_10px"> </div>
				
				<div id="ov_box_13_7" class="ov_box_13">
					<div id="ov_box_14_7" class="ov_box_14">
						<div id="ov_text_12_7" class="ov_text_12">
							ESPERANZA
						</div>
						<div id="ov_text_13_7" class="ov_text_13">
							Día 31
						</div>
					</div>
					<div id="ov_box_15_7" class="ov_box_15">
						<div id="ov_text_15_7" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_7" class="ov_text_14">
							19:20<br>
							Parroquia de Nuestra Señora del Pilar
						</div>
						<div id="ov_box_16_7" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_7").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_esperanza_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
					});
				</script>
				
				<div class="hollow_10px"> </div>
				
				<div id="ov_box_13_8" class="ov_box_13">
					<div id="ov_box_14_8" class="ov_box_14">
						<div id="ov_text_12_8" class="ov_text_12">
							LAS PENAS
						</div>
						<div id="ov_text_13_8" class="ov_text_13">
							Día 31
						</div>
					</div>
					<div id="ov_box_15_8" class="ov_box_15">
						<div id="ov_text_15_8" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_8" class="ov_text_14">
							21:00h<br>
							Convento de las Carmelitas
						</div>
						<div id="ov_box_16_8" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_8").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_penas_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
					});
				</script>
				
				<div class="hollow_10px"> </div>
				
			</div>
			
			<div id="ov_zone_13_1_abr" class="ov_zone_13">
			
				<div id="ov_box_13_9" class="ov_box_13">
					<div id="ov_box_14_9" class="ov_box_14">
						<div id="ov_text_12_9" class="ov_text_12">
							MAYOR DOLOR
						</div>
						<div id="ov_text_13_9" class="ov_text_13">
							Día 1
						</div>
					</div>
					<div id="ov_box_15_9" class="ov_box_15">
						<div id="ov_text_15_9" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_9" class="ov_text_14">
							00:00h (Madrugada Miércoles Santo)<br>
							Parroquia de San Pedro
						</div>
						<div id="ov_box_16_9" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_9").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_silencio_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
					});
				</script>
				
				<div class="hollow_10px"> </div>
				
				<div id="ov_box_13_10" class="ov_box_13">
					<div id="ov_box_14_10" class="ov_box_14">
						<div id="ov_text_12_10" class="ov_text_12">
							FLAGELACIÓN
						</div>
						<div id="ov_text_13_10" class="ov_text_13">
							Día 1
						</div>
					</div>
					<div id="ov_box_15_10" class="ov_box_15">
						<div id="ov_text_15_10" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_10" class="ov_text_14">
							19:00h<br>
							Guardapasos
						</div>
						<div id="ov_box_16_10" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_10").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_flagelacion_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
					});
				</script>
				
				<div class="hollow_10px"> </div>
			
			</div>
			
			<div id="ov_zone_13_2_abr" class="ov_zone_13">
				
				<div id="ov_box_13_11" class="ov_box_13">
					<div id="ov_box_14_11" class="ov_box_14">
						<div id="ov_text_12_11" class="ov_text_12">
							SILENCIO
						</div>
						<div id="ov_text_13_11" class="ov_text_13">
							Día 2
						</div>
					</div>
					<div id="ov_box_15_11" class="ov_box_15">
						<div id="ov_text_15_11" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_11" class="ov_text_14">
							03:00h<br>
							Parroquia de San Pedro
						</div>
						<div id="ov_box_16_11" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_11").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_silencio_02.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
					});
				</script>
				
				<div class="hollow_10px"> </div>
				
				<div id="ov_box_13_111" class="ov_box_13">
					<div id="ov_box_14_111" class="ov_box_14">
						<div id="ov_text_12_111" class="ov_text_12">
							SANTA CENA
						</div>
						<div id="ov_text_13_111" class="ov_text_13">
							Día 2
						</div>
					</div>
					<div id="ov_box_15_111" class="ov_box_15">
						<div id="ov_text_15_111" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_111" class="ov_text_14">
							18:30h<br>
							Rectorado de la Universidad
						</div>
						<div id="ov_box_16_111" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_111").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_cena_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
					});
				</script>
				
				<div class="hollow_10px"> </div>
				
				<div id="ov_box_13_12" class="ov_box_13">
					<div id="ov_box_14_12" class="ov_box_14">
						<div id="ov_text_12_12" class="ov_text_12">
							ECCE HOMO
						</div>
						<div id="ov_text_13_12" class="ov_text_13">
							Día 2
						</div>
					</div>
					<div id="ov_box_15_12" class="ov_box_15">
						<div id="ov_text_15_12" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_12" class="ov_text_14">
							19:20h<br>
							Guardapasos
						</div>
						<div id="ov_box_16_12" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_12").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_pilatos_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
					});
				</script>
				
				<div class="hollow_10px"> </div>
				
				<div id="ov_box_13_13" class="ov_box_13">
					<div id="ov_box_14_13" class="ov_box_14">
						<div id="ov_text_12_13" class="ov_text_12">
							CRISTO DE LA CARIDAD
						</div>
						<div id="ov_text_13_13" class="ov_text_13">
							Día 2
						</div>
					</div>
					<div id="ov_box_15_13" class="ov_box_15">
						<div id="ov_text_15_13" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_13" class="ov_text_14">
							19:15h<br>
							Guardapasos
						</div>
						<div id="ov_box_16_13" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_13").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_longinos_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
					});
				</script>
				
				<div class="hollow_10px"> </div>
				
				<div id="ov_box_13_14" class="ov_box_13">
					<div id="ov_box_14_14" class="ov_box_14">
						<div id="ov_text_12_14" class="ov_text_12">
							DOLOROSA DE SANTIAGO
						</div>
						<div id="ov_text_13_14" class="ov_text_13">
							Día 2
						</div>
					</div>
					<div id="ov_box_15_14" class="ov_box_15">
						<div id="ov_text_14_14" class="ov_text_14">
							19:30h<br>
							Guardapasos
						</div>
						<div id="ov_box_16_14" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_14").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_perchelera_02.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
					});
				</script>
				
				<div class="hollow_10px"> </div>
				
			</div>
			
			<div id="ov_zone_13_3_abr" class="ov_zone_13">

				<div id="ov_box_13_15" class="ov_box_13">
					<div id="ov_box_14_15" class="ov_box_14">
						<div id="ov_text_12_15" class="ov_text_12">
							NAZARENO
						</div>
						<div id="ov_text_13_15" class="ov_text_13">
							Día 3
						</div>
					</div>
					<div id="ov_box_15_15" class="ov_box_15">
						<div id="ov_text_15_15" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_15" class="ov_text_14">
							00:00h (Madrugada Viernes Santo)<br>
							Parroquia de San Pedro
						</div>
						<div id="ov_box_16_15" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_15").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_nazareno_02.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
					});
				</script>
				
				<div class="hollow_10px"> </div>
				
				<div id="ov_box_13_16" class="ov_box_13">
					<div id="ov_box_14_16" class="ov_box_14">
						<div id="ov_text_12_16" class="ov_text_12">
							ORACIÓN EN EL HUERTO
						</div>
						<div id="ov_text_13_16" class="ov_text_13">
							Día 3
						</div>
					</div>
					<div id="ov_box_15_16" class="ov_box_15">
						<div id="ov_text_15_16" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_16" class="ov_text_14">
							10:50h<br>
							Parroquia de San Pedro
						</div>
						<div id="ov_box_16_16" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_16").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_oracion_huerto_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
					});
				</script>
				
				<div class="hollow_10px"> </div>	

				<div id="ov_box_13_17" class="ov_box_13">
					<div id="ov_box_14_17" class="ov_box_14">
						<div id="ov_text_12_17" class="ov_text_12">
							EL ENCUENTRO
						</div>
						<div id="ov_text_13_17" class="ov_text_13">
							Día 3
						</div>
					</div>
					<div id="ov_box_15_17" class="ov_box_15">
						<div id="ov_text_15_17" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_17" class="ov_text_14">
							11:20h<br>
							Parroquia de San Pedro
						</div>
						<div id="ov_box_16_17" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_17").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_encuentro_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
											
					});
				</script>
				
				<div class="hollow_10px"> </div>		

				<div id="ov_box_13_18" class="ov_box_13">
					<div id="ov_box_14_18" class="ov_box_14">
						<div id="ov_text_12_18" class="ov_text_12">
							JESÚS CAÍDO
						</div>
						<div id="ov_text_13_18" class="ov_text_13">
							Día 3
						</div>
					</div>
					<div id="ov_box_15_18" class="ov_box_15">
						<div id="ov_text_15_18" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_18" class="ov_text_14">
							11:30h<br>
							Parroquia de San Pedro
						</div>
						<div id="ov_box_16_18" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_18").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_jesus_caido_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
											
					});
				</script>
				
				<div class="hollow_10px"> </div>	

				<div id="ov_box_13_19" class="ov_box_13">
					<div id="ov_box_14_19" class="ov_box_14">
						<div id="ov_text_12_19" class="ov_text_12">
							CRISTO DEL PERDÓN Y DE LAS AGUAS
						</div>
						<div id="ov_text_13_19" class="ov_text_13">
							Día 3
						</div>
					</div>
					<div id="ov_box_15_19" class="ov_box_15">
						<div id="ov_text_15_19" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_19" class="ov_text_14">
							11:45h<br>
							Parroquia de San Pedro
						</div>
						<div id="ov_box_16_19" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_19").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_cristo_perdon_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
											
					});
				</script>		
				
				<div class="hollow_10px"> </div>	

				<div id="ov_box_13_20" class="ov_box_13">
					<div id="ov_box_14_20" class="ov_box_14">
						<div id="ov_text_12_20" class="ov_text_12">
							MISERICORDIA
						</div>
						<div id="ov_text_13_20" class="ov_text_13">
							Día 3
						</div>
					</div>
					<div id="ov_box_15_20" class="ov_box_15">
						<div id="ov_text_15_20" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_20" class="ov_text_14">
							11:55h<br>
							Parroquia de San Pedro
						</div>
						<div id="ov_box_16_20" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_20").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_misericordia_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
											
					});
				</script>			

				<div class="hollow_10px"> </div>				
				
				<div id="ov_box_13_21" class="ov_box_13">
					<div id="ov_box_14_21" class="ov_box_14">
						<div id="ov_text_12_21" class="ov_text_12">
							CRISTO DE LA PIEDAD
						</div>
						<div id="ov_text_13_21" class="ov_text_13">
							Día 3
						</div>
					</div>
					<div id="ov_box_15_21" class="ov_box_15">
						<div id="ov_text_15_21" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_21" class="ov_text_14">
							20:20h<br>
							S.I.P.B. Catedral
						</div>
						<div id="ov_box_16_21" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_21").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_cristo_piedad_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
											
					});
				</script>			

				<div class="hollow_10px"> </div>		

				<div id="ov_box_13_22" class="ov_box_13">
					<div id="ov_box_14_22" class="ov_box_14">
						<div id="ov_text_12_22" class="ov_text_12">
							DESCENDIMIENTO
						</div>
						<div id="ov_text_13_22" class="ov_text_13">
							Día 3
						</div>
					</div>
					<div id="ov_box_15_22" class="ov_box_15">
						<div id="ov_text_15_22" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_22" class="ov_text_14">
							20:30h<br>
							Ermita de los Remedios
						</div>
						<div id="ov_box_16_22" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_22").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_descendimiento_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
											
					});
				</script>			

				<div class="hollow_10px"> </div>		
				
				<div id="ov_box_13_23" class="ov_box_13">
					<div id="ov_box_14_23" class="ov_box_14">
						<div id="ov_text_12_23" class="ov_text_12">
							ANGUSTIAS
						</div>
						<div id="ov_text_13_23" class="ov_text_13">
							Día 3
						</div>
					</div>
					<div id="ov_box_15_23" class="ov_box_15">
						<div id="ov_text_15_23" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_23" class="ov_text_14">
							21:30h<br>
							Parroquia de la Merced
						</div>
						<div id="ov_box_16_23" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_23").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_angustias_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
											
					});
				</script>			

				<div class="hollow_10px"> </div>		
				
				<div id="ov_box_13_24" class="ov_box_13">
					<div id="ov_box_14_24" class="ov_box_14">
						<div id="ov_text_12_24" class="ov_text_12">
							SANTO SEPULCRO
						</div>
						<div id="ov_text_13_24" class="ov_text_13">
							Día 3
						</div>
					</div>
					<div id="ov_box_15_24" class="ov_box_15">
						<div id="ov_text_15_24" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_24" class="ov_text_14">
							20:00h<br>
							Guardapasos
						</div>
						<div id="ov_box_16_24" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_24").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_santo_sepulcro_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
											
					});
				</script>			

				<div class="hollow_10px"> </div>		
				
				<div id="ov_box_13_25" class="ov_box_13">
					<div id="ov_box_14_25" class="ov_box_14">
						<div id="ov_text_12_25" class="ov_text_12">
							NTRA. SEÑORA DE LOS DOLORES
						</div>
						<div id="ov_text_13_25" class="ov_text_13">
							Día 3
						</div>
					</div>
					<div id="ov_box_15_25" class="ov_box_15">
						<div id="ov_text_15_25" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_25" class="ov_text_14">
							21:30h<br>
							S.I.P.B. Catedral
						</div>
						<div id="ov_box_16_25" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_25").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_dolores_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
											
					});
				</script>			

				<div class="hollow_10px"> </div>		
			
			</div>
			
			<div id="ov_zone_13_4_abr" class="ov_zone_13">
				
				<div id="ov_box_13_26" class="ov_box_13">
					<div id="ov_box_14_26" class="ov_box_14">
						<div id="ov_text_12_26" class="ov_text_12">
							SOLEDAD
						</div>
						<div id="ov_text_13_26" class="ov_text_13">
							Día 4
						</div>
					</div>
					<div id="ov_box_15_26" class="ov_box_15">
						<div id="ov_text_15_26" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_26" class="ov_text_14">
							17:00h<br>
							Parroquia de San Pedro
						</div>
						<div id="ov_box_16_26" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_26").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_soledad_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
											
					});
				</script>			

				<div class="hollow_10px"> </div>				
					
			</div>
			
			<div id="ov_zone_13_5_abr" class="ov_zone_13">
			
				<div id="ov_box_13_27" class="ov_box_13">
					<div id="ov_box_14_27" class="ov_box_14">
						<div id="ov_text_12_27" class="ov_text_12">
							EL RESUCITADO
						</div>
						<div id="ov_text_13_27" class="ov_text_13">
							Día 5
						</div>
					</div>
					<div id="ov_box_15_27" class="ov_box_15">
						<div id="ov_text_15_27" class="ov_text_15">
							Salida:
						</div>
						<div id="ov_text_14_27" class="ov_text_14">
							12:00h<br>
							S.I.P.B. Catedral
						</div>
						<div id="ov_box_16_27" class="ov_box_16">
							+ información
						</div>	
					</div>
					<div class="ov_clear_floats"> </div>
				</div>
				<script>
					$("#ov_box_13_27").click(function(e){
						
						load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_resucitado_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
											
					});
				</script>			

				<div class="hollow_10px"> </div>				
					
				
			</div>
	
			<div class="hollow_10px"> </div>
			<div class="hollow_10px"> </div>
			
		</div>
		
	</div>
		
</div>
<script>
	calculate_day();	
</script>



