<!-- Volver -->
<div  class="ov_back_button_container">

	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_1" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>

		<div id="ov_back_button_2" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>

</div>
<div class="back_hollow_filler"></div>
<script>
	$("#ov_back_button_1").click(function(e) {

		onBackKeyDown();

	});
	$("#ov_back_button_2").click(function(e) {

		load_view({
			view_to_load : 'ov_view_container_02',
			url_to_load : './views/general/ov_view_main_menu.html',
			view_background_color : '#EBEBEB',
			view_background_image : 'none',
			view_to_hide : 'ov_view_container_01'
		});

	}); 
</script>
<!-- Volver -->
<div class="ov_zone_general">

	<div class="ov_zone_limited">
		<div id="ov_large_menu_item_14b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/palmas.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					Hermandad de las Palmas
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_14b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_palmas.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_15b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/coronacion.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					Hermandad del Santísimo Cristo Ultrajado y Coronado de Espinas y Santa María del Perdón
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_15b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_coronacion.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_16b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/prendimiento.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					Hermandad del Prendimiento de Jesús Cautivo y María Santísima de la Salud
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_16b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_prendimiento.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_21b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/medinaceli.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					Real Cofradía de Esclavitud de Nuestro Padre Jesús de Medinaceli y del Santísimo Niño del Remedio
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_21b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_medinaceli.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_22b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/esperanza.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					Hermandad de Nuestra Señora de la Esperanza
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_22b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_esperanza.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_23b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/penas.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					Penitencial Hermandad y Cofradía de Nazarenos de la Humillación de Nuestro Señor Jesús de las Penas
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_23b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_penas.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>
		<div id="ov_large_menu_item_17b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/silencio.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					Hermandad del Santísimo Cristo de la Buena Muerte y la Virgen del Mayor Dolor (silencio)
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_17b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_silencio.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_24b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/flagelacion.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					Ilustre, Humilde y Fervorosa Hermandad y Cofradía de Nazarenos de la Flagelación de Nuestro Padre Jesús de la Bondad y María Santísima del Consuelo
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_24b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_flagelacion.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_18b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/cena.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					Hermandad Sacramental de la Santa Cena y María Santísima del Dulce Nombre
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_18b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_cena.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_19b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/pilatos.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					Hermandad del Ecce - Homo (Pilatos)
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_19b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_pilatos.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_20b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/longinos.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					Hermandad del Santísimo Cristo de la Caridad (longinos)
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_20b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_longinos.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_1b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/perchelera.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					Hermandad de la Dolorosa de Santiago
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_1b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_perchelera.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_3b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/nazareno.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					Hermandad Penitencial de Nuestro Padre Jesús Nazareno y María Santísima del Amparo en su Gracia y Esperanza
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_3b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_nazareno.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_4b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/huerto.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					Real y muy ilustre Hermandad de la Oración en el Huerto de los Olivos
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_4b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_huerto.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_5b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/encuentro.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					Cofradía del Encuentro. Hermandad Ferroviaria de San Rafael Arcángel y Nuestra Señora de Alarcos
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_5b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_encuentro.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_6b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/jesuscaido.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					Hermandad de Nuestro Padre Jesús Caído
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_6b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_jesuscaido.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_7b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/trescruces.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					Hermandad del Santísimo Cristo del Perdón y de las Aguas (las Tres Cruces)
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_7b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_trescruces.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_8b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/misericordia.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					Hermandad de la Santísima Virgen de la Misericordia
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_8b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_misericordia.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_9b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/piedad.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					Hermandad del Santísimo Cristo de la Piedad
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_9b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_piedad.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_10b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/descendimiento.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					Humilde y Fervorosa Hermandad y Cofradía de Nazarenos del Santísimo Cristo del Amor en su Santo Descendimiento
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_10b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_descendimiento.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_11b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/angustias.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					Hermandad de Nuestra Señora de las Angustias
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_11b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_angustias.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_12b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/sepulcro.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					Muy Ilustre y Venerable Cofradía de Nazarenos de Nuestro Padre Jesús de las Cinco Llagas en el Santo Sepúlcro. Real y Fervorosa Cofradía de Ntra. Sra. de la Pasión
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_12b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_sepulcro.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_13b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/avemaria.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					Hermandad de Nuestra Señora de los Dolores (Ave María)
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_13b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_avemaria.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>
		<div id="ov_large_menu_item_2b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/soledad.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					Real Cofradía de Nuestra Señora de la Soledad, Tercio de los Siete Dolores, Santa Cruz en el Monte Calvario y María Santísima de la Amargura y San Juan Evangelista
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_2b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_soledad.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

		<div id="ov_large_menu_item_25b" class="ov_large_menu_item">

			<div class="ov_box_circle_images">

				<img src="./resources/escudos/resucitado.png" class="ov_image_circle" alt=" "/>

			</div>

			<div class="ov_box_large_menu_item_title">

				<div class="ov_text_large_menu_item_01">
					Asociación de Cofradías de Semana Santa
				</div>

				<div class="ov_text_large_menu_item_02">
					+ información
				</div>

			</div>

			<div class="ov_clear_floats"></div>

		</div>
		<script>
			$("#ov_large_menu_item_25b").click(function(e) {

				load_view({
					view_to_load : 'ov_view_container_02',
					url_to_load : './views/hermandades/hermandad_resucitado.html',
					view_background_color : '#EBEBEB',
					view_background_image : 'none',
					view_to_hide : 'ov_view_container_01'
				});

			});
		</script>

		<div class="hollow_10px"></div>

	</div>
</div>

