<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_1" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_2" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_1").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_2").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->

<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="ov_box_empty_side">	</div>
		
		<div id="ov_box_text_side_1" class="ov_box_text_side">
			<div class="ov_text_info_title">
				<div style="display:inline-block;line-height:40px;">SEMANA SANTA<br> - CIUDAD REAL -</div>
				<img src="./resources/general_images/ayto.png" width="90" style="margin-left:20px;display:inline-block;vertical-align:bottom" />
				<div class="ov_clear_floats"> </div>
			</div>
			
			<div  class="ov_text_info_text">
				<p style="text-align: center;"><br>SALUDO DE LA ALCALDESA</p>
				
				<p>Esta es la primera vez que como Alcaldesa y, aprovechando las nuevas tecnologías dispuestas por la Cadena SER, tengo el honor de dirigirme a todos aquellos vecinos y visitantes que disfrutan con la llegada de la Semana Santa de Ciudad Real. Una tradición que hunde sus raíces en varios siglos (400 años se conmemoran este 2016 de la Hermandad del Cristo de la Piedad), pero que ha sabido irse adaptando al paso del tiempo.</p>

				<p>En ella podrán encontrar información de nuestras 24 hermandades y cofradías, de los 34 pasos que procesionan durante estos días, los distintos recorridos desde el Domingo de Pasión, el Viernes de Dolores y hasta llegar al Domingo de Resurrección. También las actividades que se han programado y que no deben perderse. </p>
 
				<p>Ciudad Real vive durante estos días su semana grande. Se siente en el ambiente que están próximas a llegar esas fechas en las que se funden la religiosidad popular junto a la expresión artística de nuestros escultores imagineros. </p>

				<p>La ciudad entera se dispone a recobrar el peculiar aroma de estas fechas. El luminoso ambiente que hace intuir la inminente llegada de la primavera se percibe en todas nuestras calles y plazas. Los desfiles procesionales, seguidos con respeto por nuestros vecinos, discurren por la ciudad al acompasado ritmo que imprimen los costaleros, transformándola en una maravillosa exposición de arte religioso o Museo al aire libre en las engalanadas calles de Ciudad Real.</p>
				
				<img src="./resources/general_images/alcaldesa.jpg" style="max-width:100%;width:250px;display:block;margin:auto" />

				<p>Durante estos días se entremezclan distintos sentimientos: los religiosos, por supuesto. Pero también familiares, de quienes vuelven a Ciudad Real a sacar sus túnicas, de cultura, de arte y por supuesto de esa necesaria promoción económica y turística que también en Semana Santa debe llenar Ciudad Real.</p>

				<p>Por eso hay que agradecer la dedicación constante de los cofrades, Hermanos Mayores, Capataces y Costaleros, para que durante esta Semana de Pasión, las calles vuelvan a estar llenas de gente siguiendo con emoción el discurrir de las estaciones de penitencia. Y se reavivará el recuerdo esa peculiar la mezcla de olores a incienso y humo de cirio que impregna todos los rincones. Y volveremos a saciar nuestro apetito con esos platos de vigilia o los Dulces Santos que se elaboran en cada casa, como las torrijas o las flores, acompañadas de mistela. </p>

				<p>A aquellos que durante estas fechas nos visitan, y que seguro harán buen uso de esta aplicación, les quiero dar la bienvenida, deseando que disfruten de todas las emociones que les aguardan en cada esquina durante la Semana Santa.</p>
				
				<p>Un afectuoso saludo,<br>
				PILAR ZAMORA BASTANTE<br>
				Alcaldesa de Ciudad Real
				</p>
				
			</div>
		</div>
				
		<div class="ov_clear_floats"> </div>
		
	</div>
		
</div>




