<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_3" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_4" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_3").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_4").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div class="titulos_procesion">
				FLAGELACIÓN
			</div>
			<div class="subtitulos_procesion">
				1 de Abril - Miércoles Santo
			</div>
			<div class="subtitulos_procesion">
				Salida a las <b>19:00h</b> desde el Guardapasos.
			</div>
			
		</div>
		
		<div class="informacion_procesion">
			La Hermandad organiza una salida procesional, en la tarde del Martes Santo.
			La imagen se porta a costal, tiene una cuadrilla de 48 costaleros.
			<br>
			El exorno floral son claveles color Cardenal e iris morados en las esquinas.
			<br>
		</div>
		
		<div class="titulos_hermandad">
			ORGANIZA.
		</div>
		
		<div id="ov_to_herman" class="enlace_a_hermandad">
			Ilustre, Humilde y Fervorosa Hermandad y Cofradía de Nazarenos de la Flagelación de Nuestro Padre Jesús de la Bondad y María Santísima del Consuelo
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/hermandades/hermandad_flagelacion.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div class="titulos_hermandad">
			TÚNICA.
		</div>
		
		<div class="informacion_procesion">
			Blanca con botonadura granate y fajín de raso granate. Capillo blanco con el escudo de la hermandad bordado en oro. Sandalias negras y calcetas blancas. Los hermanos del tramo del Cristo portan cirios de color granate y los de la Virgen de color blanco.
			<img src="./resources/habitos/flagelacion.jpg" style="display:block" class="tunica" />
		</div>
		
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="subtitulo_pasos">
			Nuestro Padre Jesús de la bondad
		</div>
		
		<div class="informacion_pasos">
			Autor: Fernando Castejón López
			<br>
			Fecha: 1991
			<br><br>
			La imagen de Jesús flagelado es obra del escultor Fernando Castejón López en 1991. El resto de las imágenes del paso (los dos sayones, uno romano a caballo, otro a pie, y un patricio son obra del sevillano Manuel Ramos Corona, el mismo encargado de realizar la imagen de la Virgen del Consuelo en 1989.<br>El paso del misterio es de estilo barroco estrenado en 2003. El paso lleva candelabros de guardabrisas y faldones en terciopelo granate.
			<br><br>
			<img src="./resources/pasos/flagelacion.jpg" class="imagenes_pasos"/>			
		</div>
		<div class="hollow_10px"> </div>
		
		<div class="subtitulo_pasos">
			Virgen del Consuelo
		</div>
		
		<div class="informacion_pasos">
			Autor: Fernando Castejón López
			<br>
			Fecha: 1989
			<br><br>
			La Virgen del consuelo viste saya en terciopelo azul bordada en oro y toca de sobre manto en mall bordada en oro. Luce corona en metal sobredorado y en su pecherín lleva pendido un broche con su nombre en plata y la medalla de oro de hermandad. El manto es liso de color granate. En la mano izquierda lleva unas flores de azahar en metal plateado. 
			<p>Estrenos 2015</p>
			Manto de vistas bordado en oro, con bordados provenientes de las antiguas bambalinas del paso, confeccionado por Jesús Díaz-Hellín.
			<br><br>	
			<img src="./resources/pasos/virgenconsuelo.jpg" class="imagenes_pasos"/>			
		</div>
											
		<div class="titulos_hermandad">
			MÚSICA.
		</div>
		
		<div class="informacion_procesion">
			A. C. Banda de Cornetas y Tambores.<br>Nuestra Señora del Prado - La Pasión.
		</div>
		
		<div class="titulos_hermandad">
			RECORRIDO.
		</div>
		
		<div class="informacion_procesion">
			Con salida y llegada al Guardapasos.
			La ruta se recorre en sentido antihorario.
			(El mapa no se mostrará sin una conexión a Internet activa)
		</div>
		
		<div style="margin:auto;width:90%">
		
			<div id="mapa_flagelacion" class="iframe_route"></div>
			<script>
			$("#mapa_flagelacion").gmap3({
				map:{
				options:{
				center:[38.987265, -3.925746],
				zoom:16
				}
				},
				marker:{
				values:[
				{latLng:[38.987986, -3.922081], data:"Guardapasos"}]
				},
				polyline:{
				options:{
					strokeColor: "#6F65D5",
					strokeOpacity: 0.6,
					strokeWeight: 4,
					icons: [{icon: lineSymbol, offset: '15%'},
					{icon: lineSymbol, offset: '30%'},
					{icon: lineSymbol, offset: '45%'},
					{icon: lineSymbol, offset: '60%'},
					{icon: lineSymbol, offset: '75%'},
					{icon: lineSymbol, offset: '90%'},
					],
					path:[

					[38.987986, -3.922081],
					[38.987503, -3.924132],
					[38.987348, -3.924942],
					[38.987278, -3.925709],
					
	
					[38.986216, -3.925580],
					[38.984799, -3.925194],
					[38.985073, -3.926530],
					[38.985041, -3.927160],
					[38.985121, -3.927192],
					[38.984975, -3.928257],
					[38.985867, -3.928442],
					[38.986347, -3.928482],
					[38.985898, -3.929051],
					[38.986841, -3.930507],
					[38.986932, -3.930698],
					[38.987360, -3.930395],
					[38.987685, -3.929907],
					[38.987297, -3.929654],
					[38.987579, -3.929137],
					[38.988025, -3.928391],
					[38.988765, -3.928300],
					

					[38.989005, -3.927471],
					[38.989322, -3.926015],
					
					[38.989532, -3.925537],
					
					[38.989840, -3.925725],
					[38.990061, -3.925129],
					
					[38.989844, -3.924969],
					[38.989783, -3.924826],
					
					
					[38.990193, -3.924400],

					[38.989733, -3.924094],
					
					[38.989724, -3.924097],
					[38.989678, -3.924184],
					[38.989147, -3.923899],
					[38.989181, -3.923764],
					[38.988691, -3.923563],
					[38.988876, -3.922903],
					[38.987901, -3.922439],
			
					
					
					]
					}
				}
			});
			</script>
		
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="titulos_hermandad">
			ITINERARIO.
		</div>
		
		<div class="informacion_procesion">
			Pulsa sobre cualquier dirección para obtener una ruta desde tu posición actual.
			(Necesitarás una conexión a Internet activa)
		</div>
		
		<div id="geoloc_map_container" style="margin:auto;width:90%;display:none">
		
			<iframe id="geoloc_map" class="iframe_route_02" src=""> </iframe>
			
			<div id="geoloc_map_text" style="font-family:'4';font-size:1.2em;color:#333;padding:10px 10px;text-align:center;">
				Espere, calculando ruta...
			</div>
			
			<div class="ov_button_01" onclick="$('#geoloc_map_container').hide()">
				Ocultar
			</div>
			
			<div class="hollow_10px"> </div>
			
			<div class="ov_button_01" onclick="show_geoloc(destination);">
				Actualizar
			</div>			
			
		</div>
		
		<div id="ov_place_1" class="punto_a_ruta">
			Calle Quevedo
		</div>
		<script>
			$("#ov_place_1").click(function(e){
				show_geoloc("Calle Quevedo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_2" class="punto_a_ruta">
			Calle Corazón De María
		</div>
		<script>
			$("#ov_place_2").click(function(e){
				show_geoloc("Calle Corazon de Maria, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_3" class="punto_a_ruta">
			Calle Conde De La Cañada
		</div>
		<script>
			$("#ov_place_3").click(function(e){
				show_geoloc("Calle Conde De La Cañada, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_4" class="punto_a_ruta">
			Calle Lanza
		</div>
		<script>
			$("#ov_place_4").click(function(e){
				show_geoloc("Calle Lanza, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_5" class="punto_a_ruta">
			Calle Cuchillería
		</div>
		<script>
			$("#ov_place_5").click(function(e){
				show_geoloc("Calle Cuchilleria, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_6" class="punto_a_ruta">
			Plaza Mayor
		</div>
		<script>
			$("#ov_place_6").click(function(e){
				show_geoloc("Plaza Mayor, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_7" class="punto_a_ruta">
			Calle María Cristina
		</div>
		<script>
			$("#ov_place_7").click(function(e){
				show_geoloc("Calle Maria Cristina, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_8" class="punto_a_ruta">
			Calle Feria
		</div>
		<script>
			$("#ov_place_8").click(function(e){
				show_geoloc("Calle Feria, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_9" class="punto_a_ruta">
			Calle Prado
		</div>
		<script>
			$("#ov_place_9").click(function(e){
				show_geoloc("Calle Prado, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_10" class="punto_a_ruta">
			Calle Camarín
		</div>
		<script>
			$("#ov_place_10").click(function(e){
				show_geoloc("Calle Camarin, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_11" class="punto_a_ruta">
			Calle Caballeros
		</div>
		<script>
			$("#ov_place_11").click(function(e){
				show_geoloc("Calle Caballeros, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_12" class="punto_a_ruta">
			Pasaje De La Merced
		</div>
		<script>
			$("#ov_place_12").click(function(e){
				show_geoloc("Pasaje de la Merced, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_13" class="punto_a_ruta">
			Plaza De La Merced
		</div>
		<script>
			$("#ov_place_13").click(function(e){
				show_geoloc("Plaza De La Merced, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_14" class="punto_a_ruta">
			Calle Toledo
		</div>
		<script>
			$("#ov_place_14").click(function(e){
				show_geoloc("Calle Toledo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_15" class="punto_a_ruta">
			Calle Jacinto
		</div>
		<script>
			$("#ov_place_15").click(function(e){
				show_geoloc("Calle Jacinto, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_16" class="punto_a_ruta">
			Calle Ángel
		</div>
		<script>
			$("#ov_place_16").click(function(e){
				show_geoloc("Calle Ángel, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_17" class="punto_a_ruta">
			Plaza De Santiago
		</div>
		<script>
			$("#ov_place_17").click(function(e){
				//show_geoloc("");
			});
		</script>
		
		<div id="ov_place_18" class="punto_a_ruta">
			Calle Norte
		</div>
		<script>
			$("#ov_place_18").click(function(e){
				show_geoloc("Calle Norte, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_19" class="punto_a_ruta">
			Calle Calatrava San Antonio
		</div>
		<script>
			$("#ov_place_19").click(function(e){
				show_geoloc("Calle Calatrava, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_20" class="punto_a_ruta">
			Plaza De La Inmaculada
		</div>
		<script>
			$("#ov_place_20").click(function(e){
				show_geoloc("Plaza De La Inmaculada, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_21" class="punto_a_ruta">
			Calle Cañas
		</div>
		<script>
			$("#ov_place_21").click(function(e){
				show_geoloc("Calle Cañas, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_22" class="punto_a_ruta">
			Calle Cuchilleria
		</div>
		<script>
			$("#ov_place_22").click(function(e){
				show_geoloc("Calle Cuchilleria, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_23" class="punto_a_ruta">
			Calle Felipe II
		</div>
		<script>
			$("#ov_place_23").click(function(e){
				show_geoloc("Calle Felipe II, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_24" class="punto_a_ruta">
			Calle San Juan De Avila
		</div>
		<script>
			$("#ov_place_24").click(function(e){
				show_geoloc("Calle San Juan De Avila, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_25" class="punto_a_ruta">
			Calle Quevedo	
		</div>
		<script>
			$("#ov_place_25").click(function(e){
				show_geoloc("Calle Quevedo, Ciudad Real");
			});
		</script>
				
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>
