<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_3" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_4" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_3").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_4").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div style="padding:10px;background-color:#5E3656">
			
			<div style="font-family:'3';font-size:1.7em;color:#FFF;padding-bottom:10px;text-align:left;">
				SANTA CENA
			</div>
			<div style="font-family:'4';font-size:1.2em;color:#FFF;padding-bottom:10px;text-align:left;">
				2 de Abril - Jueves Santo
			</div>
			<div style="font-family:'4';font-size:1.2em;color:#FFF;padding-bottom:10px;text-align:left;">
				Salida a las <b>19:20h</b> desde el Rectorado de la Universidad.
			</div>
			
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			La Hermandad organiza una salida procesionales, en la noche del Martes Santo y en la noche de Jueves Santo.
			La imagen se porta a costal, es empujado sobre ruedas desde su interior por 13 hermanos a los que denominan "malditos". Por otra parte serían por 35 hermanos.
			<br>
			El exorno floral es de lirios morados y centros de rosas rojas y espiga. Por otra parte de rosas blancas y frexias.
			<br>
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			ORGANIZA.
		</div>
		
		<div id="ov_to_herman" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:20px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Hermandad Sacramental de la Santa Cena y María Santísima del Dulce Nombre
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/hermandades/hermandad_cena.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			TÚNICA.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			De lana blanca con capillo de raso del mismo color con el escudo de la hermandad, beca verde y cinturón de raso color eminencia y con trenzado de pita, sandalia negra y calceta blanca. Los hermanos portan cirios de color blanco.
			<img src="./resources/habitos/cena.jpg" style="display:block" class="tunica" />
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			El Misterio de la Santa Cena
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			Autor: Faustino Sanz Herranz
			<br>
			Fecha: 1960-1964
			<br><br>
			El paso del misterio es de estilo barroco, color caoba de la carpintería de Jesús Segura Ponce. Lleva candelabros de guardabrisas. Completan el paso faldones de terciopelo verde con broches bordados en oro fino y el escudo de la hermandad bordado en el faldón delatero.<br>María Santísima del Dulce Nombre es obra de Jesús Méndez Lastrucci de 1995. Viste saya blanca bordada en oro y manto liso también blanco. Luce corona en metal sobredorado y en su mano izquierda lleva una rosa de orfebrería en metal plateado.
			<p>Estrenos 2014</p>
			Bacalao corporativo con el escudo de la Hermandad, de los talleres sevillanos García y Poo.<br>Restauración de la banda de la victoria, que ciñe la cintura de María Santísima del Dulce Nombre.
			<br><br>	
			<img src="./resources/pasos/cena.jpg" style="display:block;margin:auto;width:80%;max-width:300px"/>			
		</div>
											
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			MÚSICA.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Asociación Banda de Música de Pozoblanco.
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			RECORRIDO.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Con salida y llegada al Rectorado de la Universidad.
			La ruta se recorre en sentido antihorario.
			(El mapa no se mostrará sin una conexión a Internet activa)
		</div>
		
		<div style="margin:auto;width:90%">
		
			<iframe id="route_map" src="" width="600" height="450" frameborder="0" style="border:0"></iframe>

			<script>
				route_map_url="https://www.google.com/maps/embed?pb=!1m47!1m12!1m3!1d1550.631513843838!2d-3.9267849254539975!3d38.98649296041168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m32!1i0!3e2!4m3!3m2!1d38.9893867!2d-3.9258222!4m3!3m2!1d38.9902239!2d-3.9265239!4m3!3m2!1d38.9887364!2d-3.9305548!4m3!3m2!1d38.987697!2d-3.9299041999999997!4m3!3m2!1d38.988118199999995!2d-3.9283915!4m5!1s0xd6bc36aef0f4095%3A0xb7bdceab081f187d!2sCalle+Mar%C3%ADa+Cristina%2C+13001+Ciudad+Real%2C+Espa%C3%B1a!3m2!1d38.9861709!2d-3.9284616999999997!4m3!3m2!1d38.9869562!2d-3.9269114!5e0!3m2!1ses!2ses!4v1424342229211";
				setTimeout(function(){
					$("#route_map").attr("src",route_map_url);
				},2000);
			</script>
		
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			ITINERARIO.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Pulsa sobre cualquier dirección para obtener una ruta desde tu posición actual.
			(Necesitarás una conexión a Internet activa)
		</div>
		
		<div id="geoloc_map_container" style="margin:auto;width:90%;display:none">
		
			<iframe id="geoloc_map" style="background-color:#5E3656;border:none;width:100%;height:400px;background-image:url(./resources/general_images/loader.gif);background-repeat:no-repeat;background-position:center center;" src=""> </iframe>
			
			<div id="geoloc_map_text" style="font-family:'4';font-size:1.2em;color:#333;padding:10px 10px;text-align:center;">
				Espere, calculando ruta...
			</div>
			
			<div class="ov_button_01" onclick="$('#geoloc_map_container').hide()">
				Ocultar
			</div>
			
			<div class="hollow_10px"> </div>
			
			<div class="ov_button_01" onclick="show_geoloc(destination);">
				Actualizar
			</div>			
			
		</div>
		
		<div id="ov_place_1" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza De Santiago
		</div>
		<script>
			$("#ov_place_1").click(function(e){
				//show_geoloc("");
			});
		</script>
		
		<div id="ov_place_2" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Altagracia
		</div>
		<script>
			$("#ov_place_2").click(function(e){
				show_geoloc("Calle Altagracia, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_3" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Estrella
		</div>
		<script>
			$("#ov_place_3").click(function(e){
				show_geoloc("Calle Estrella, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_4" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Toledo
		</div>
		<script>
			$("#ov_place_4").click(function(e){
				show_geoloc("Calle Toledo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_5" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Estación Vía Crucis
		</div>
		<script>
			$("#ov_place_5").click(function(e){
				show_geoloc("Calle Estacion Via Crucis, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_6" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza Del Carmen
		</div>
		<script>
			$("#ov_place_6").click(function(e){
				show_geoloc("Plaza Del Carmen, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_7" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Paseo Del Prado (Camarin)
		</div>
		<script>
			$("#ov_place_7").click(function(e){
				show_geoloc("Paseo Del Prado, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_8" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Caballeros
		</div>
		<script>
			$("#ov_place_8").click(function(e){
				show_geoloc("Calle Caballeros, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_9" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Pasaje De La Merced
		</div>
		<script>
			$("#ov_place_9").click(function(e){
				show_geoloc("Pasaje De La Merced, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_10" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Toledo
		</div>
		<script>
			$("#ov_place_10").click(function(e){
				show_geoloc("Calle Toledo, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_11" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle María Cristina
		</div>
		<script>
			$("#ov_place_11").click(function(e){
				show_geoloc("Calle Maria Cristina, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_12" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza Mayor
		</div>
		<script>
			$("#ov_place_12").click(function(e){
				show_geoloc("Plaza Mayor, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_13" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Cuchilleria-Paloma
		</div>
		<script>
			$("#ov_place_13").click(function(e){
				show_geoloc("Calle Cuchilleria, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_14" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Paloma-Huerto
		</div>
		<script>
			$("#ov_place_14").click(function(e){
				show_geoloc("Calle Paloma, Ciudad Real");
			});
		</script>
				
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>
