<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_3" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_4" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_3").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_4").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div class="titulos_procesion">
				ECCE HOMO
			</div>
			<div class="subtitulos_procesion">
				2 de Abril - Jueves Santo
			</div>
			<div class="subtitulos_procesion">
				Salida a las <b>19:00h</b> desde el Guardapasos.
			</div>
			
		</div>
		
		<div class="informacion_procesion">
			La Hermandad organiza una salida procesional, en la tarde del Jueves Santo.
			La imagen se porta a costal por 32 costaleros a dos hombros.
			<br>
			El exorno floral del Niño Jesús es de clavel blanco con la Cruz de Santiago en rojo. El paso del misterio lleva rosa roja.
			<br>
		</div>
		
		<div class="titulos_hermandad">
			ORGANIZA.
		</div>
		
		<div id="ov_to_herman" class="enlace_a_hermandad">
			Hermandad del Ecce - Homo (Pilatos)
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/hermandades/hermandad_pilatos.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div class="titulos_hermandad">
			TÚNICA.
		</div>
		
		<div class="informacion_procesion">
			De lana color hueso, manga perdida, botones y greca de la túnica color eminencia. Cinturón de raso del mismo color con dos cintas que penden del lado izquierdo rematadas con borlas de oro. Capillo de raso con el escudo de la hermandad bordado en oro. Se completa la túnica con zapato negro y guante blanco. Los hermanos portan farol electrónico.
			<img src="./resources/habitos/pilatos.jpg" style="display:block" class="tunica" />
		</div>
		
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="subtitulo_pasos">
			El Misterio de la Presentación de Jesús
		</div>
		
		<div class="informacion_pasos">
			Autor: Antonio Illanes Rodríguez y Antonio Castillo Lastrucci
			<br>
			Fecha: 1944 y 1949 
			<br><br>
			En el paso del misterio el Señor luce corona y potencias en metal plateado y viste túnica de terciopelo blanco bordada en oro y capa de terciopelo granate bordada en oro. Las manos las lleva atadas por un cordón de oro. La imagen de Poncio Pilato viste túnica blanca y clámide  color granate. El soldado romano, el escriba y el niño con la palagana en la que Pilato se lavará las manos, son de talla completa. El paso del misterio es de estilo barroco estrenado en 1949. Está dorado en pan de oro y lleva candelabros de guardabrisas. Los faldones son de color rojo llevando en los bajos una greca de color blanco.
			<p>Estrenos 2015</p>
			Nuevo escudo del soldado romano.
			<br><br>	
			<img src="./resources/pasos/pilatos.jpg" class="imagenes_pasos"/>			
		</div>
		<div class="hollow_10px"> </div>
		
		<div class="subtitulo_pasos">
			Imagen del Niño Jesús Pasionista
		</div>
		
		<div class="informacion_pasos">
			Autor: Anónimo
			<br>
			Fecha: Finales del siglo XIX o principios del XX
			<br><br>
			El paso del Niño Jesús es de dimensiones reducidas, de color marrón y faldones granates.			
			<br><br>	
			<!--Falta foto<img src="./resources/pasos/ninopasion.jpg" class="imagenes_pasos"/>-->
		</div>
											
		<div class="titulos_hermandad">
			MÚSICA.
		</div>
		
		<div class="informacion_procesion">
			Un solo tambor para marcar el paso de los portadores.
		</div>
		
		<div class="titulos_hermandad">
			RECORRIDO.
		</div>
		
		<div class="informacion_procesion">
			Con salida y llegada al Guardapasos.
			La ruta se recorre en sentido antihorario.
			(El mapa no se mostrará sin una conexión a Internet activa)
		</div>
		
		<div style="margin:auto;width:90%">
		
			<div id="mapa_pilatos_eccehomo" class="iframe_route"></div>
			<script>
			setTimeout(function() {
				var lineSymbol = { path: google.maps.SymbolPath.FORWARD_OPEN_ARROW, scale: 2 };
				$("#mapa_pilatos_eccehomo").gmap3({
				map:{
				options:{
				center:[38.990235, -3.926552],
				zoom:15
				}
				},
				marker:{
				values:[
				{latLng:[38.988022, -3.921899], data:"Rectorado"}]
				},
				polyline:{
				options:{
				strokeColor: "#6F65D5",
				strokeOpacity: 0.6,
				strokeWeight: 4,
				icons: [{icon: lineSymbol, offset: '15%'},
				{icon: lineSymbol, offset: '30%'},
				{icon: lineSymbol, offset: '45%'},
				{icon: lineSymbol, offset: '60%'},
				{icon: lineSymbol, offset: '75%'},
				{icon: lineSymbol, offset: '90%'},
				],
				path:[
				
				[38.988022, -3.921899],
				[38.987710, -3.923181],

				[38.988040, -3.923293],
				[38.989174, -3.923765],
				[38.988986, -3.924290],
				[38.989715, -3.924705],
				[38.989783, -3.924834],

				[38.990109, -3.925147],

				[38.989944, -3.925775],
				[38.989525, -3.925548],
				[38.989238, -3.926281],
				[38.990226, -3.926495],
				[38.989878, -3.928180],
				[38.989778, -3.928212],

				[38.989588, -3.928952],
				[38.989415, -3.929438],
				[38.988819, -3.930349],
				[38.988827, -3.930422],

				[38.988737, -3.930551],

				[38.988579, -3.930472],
				[38.987070, -3.931148],

				[38.986928, -3.930697],
				
				//
				[38.986211, -3.929522],
				[38.986501, -3.929147],
				//
				
				[38.987297, -3.929652],
				[38.988008, -3.928405],
				[38.986611, -3.928483],
				[38.986527, -3.928383],
				[38.986346, -3.928491],
				[38.985839, -3.928432],
				[38.984978, -3.928257],
				[38.985114, -3.927201],
				[38.986830, -3.927335],
				[38.987095, -3.926452],
				[38.987155, -3.926018],
				[38.987263, -3.925712],
				[38.987345, -3.924937],
				[38.988022, -3.921899],
				]		
				}
				}
				});
			},1000);
			</script>
		
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="titulos_hermandad">
			ITINERARIO.
		</div>
		
		<div class="informacion_procesion">
			Pulsa sobre cualquier dirección para obtener una ruta desde tu posición actual.
			(Necesitarás una conexión a Internet activa)
		</div>
		
		<div id="geoloc_map_container" style="margin:auto;width:90%;display:none">
		
			<iframe id="geoloc_map" class="iframe_route_02" src=""> </iframe>
			
			<div id="geoloc_map_text" style="font-family:'4';font-size:1.2em;color:#333;padding:10px 10px;text-align:center;">
				Espere, calculando ruta...
			</div>
			
			<div class="ov_button_01" onclick="$('#geoloc_map_container').hide()">
				Ocultar
			</div>
			
			<div class="hollow_10px"> </div>
			
			<div class="ov_button_01" onclick="show_geoloc(destination);">
				Actualizar
			</div>			
			
		</div>
		
		<div id="ov_place_1" class="punto_a_ruta">
			Calle Cañas
		</div>
		<script>
			$("#ov_place_1").click(function(e){
				show_geoloc("Calle Cañas, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_2" class="punto_a_ruta">
			Paseo Santísimo Cristo De La Caridad
		</div>
		<script>
			$("#ov_place_2").click(function(e){
				show_geoloc("Paseo Santisimo Cristo De La Caridad, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_3" class="punto_a_ruta">
			Calle Lirio, Norte y Plaza Santiago
		</div>
		<script>
			$("#ov_place_3").click(function(e){
				show_geoloc("Calle Lirio, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_4" class="punto_a_ruta">
			Calle Altagracia
		</div>
		<script>
			$("#ov_place_4").click(function(e){
				show_geoloc("Calle Altagracia, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_5" class="punto_a_ruta">
			Calle Estrella
		</div>
		<script>
			$("#ov_place_5").click(function(e){
				show_geoloc("Calle Estrella, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_6" class="punto_a_ruta">
			Calle Toledo
		</div>
		<script>
			$("#ov_place_6").click(function(e){
				show_geoloc("Calle Toledo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_7" class="punto_a_ruta">
			Calle Estación Vía Crucis
		</div>
		<script>
			$("#ov_place_7").click(function(e){
				show_geoloc("Calle Estacion Via Crucis, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_8" class="punto_a_ruta">
			Plaza Del Carmen
		</div>
		<script>
			$("#ov_place_8").click(function(e){
				show_geoloc("Plaza del Carmen, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_9" class="punto_a_ruta">
			Paseo Del Prado (Camarin)
		</div>
		<script>
			$("#ov_place_9").click(function(e){
				show_geoloc("Paseo del Prado, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_10" class="punto_a_ruta">
			Calle Caballeros
		</div>
		<script>
			$("#ov_place_10").click(function(e){
				show_geoloc("Calle Caballeros, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_11" class="punto_a_ruta">
			Pasaje De La Merced
		</div>
		<script>
			$("#ov_place_11").click(function(e){
				show_geoloc("Pasaje De La Merced, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_12" class="punto_a_ruta">
			Calle Toledo
		</div>
		<script>
			$("#ov_place_12").click(function(e){
				show_geoloc("Calle Toledo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_13" class="punto_a_ruta">
			Calle María Cristina
		</div>
		<script>
			$("#ov_place_13").click(function(e){
				show_geoloc("Calle Maria Cristina, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_14" class="punto_a_ruta">
			Plaza Mayor
		</div>
		<script>
			$("#ov_place_14").click(function(e){
				show_geoloc("Plaza Mayor, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_15" class="punto_a_ruta">
			Calle Cuchilleria-Paloma
		</div>
		<script>
			$("#ov_place_15").click(function(e){
				show_geoloc("Calle Cuchilleria, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_16" class="punto_a_ruta">
			Calle Paloma-Huertos
		</div>
		<script>
			$("#ov_place_16").click(function(e){
				show_geoloc("Calle Paloma, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_17" class="punto_a_ruta">
			Calle Huertos-Quevedo
		</div>
		<script>
			$("#ov_place_17").click(function(e){
				show_geoloc("Calle Huertos, Ciudad Real");
			});
		</script>
				
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>
