<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_3" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_4" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_3").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_4").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div class="titulos_procesion">
				LAS PENAS
			</div>
			<div class="subtitulos_procesion">
				31 de Marzo - Martes Santo
			</div>
			<div class="subtitulos_procesion">
				Salida a las <b>21:00h</b> desde el Convento de las Carmelitas.
			</div>
			
		</div>
		
		<div class="informacion_procesion">
			La Hermandad organiza una salida procesional, en la noche del Martes Santo.
			La imagen se porta a costal, por una cuadrilla de 35 costaleros.
			<br>
			El exorno floral es un manto de lirios morados.
			<br>
		</div>
		
		<div class="titulos_hermandad">
			ORGANIZA.
		</div>
		
		<div id="ov_to_herman" class="enlace_a_hermandad">
			Penitencial Hermandad y Cofradía de Nazarenos de la Humillación de Nuestro Señor Jesús de las Penas
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/hermandades/hermandad_penas.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div class="titulos_hermandad">
			TÚNICA.
		</div>
		
		<div class="informacion_procesion">
			De color rojo con botonadura color negro, al igual que el capillo con babero con el escudo de la hermandad; fajín alto de pita,  zapato y calcetín negro. Los hermanos portan cirios de color rojo.
			<img src="./resources/habitos/penas.jpg" style="display:block" class="tunica" />
		</div>
		
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="subtitulo_pasos">
			Jesús de la Penas
		</div>
		
		<div class="informacion_pasos">
			Autor: Víctor González Gil y Faustino Sanz Herranz
			<br>
			Fecha: 1992
			<br><br>
			Jesús de la Penas. Es una obra inacabada de Víctor González Gil, a quien le sorprendió la muerte mientras las estaba realizando. Tuvo que ser terminada y policromada por el también madrileño Faustino Sanz Herranz en 1992.  El cirineo es obra del año 2006 del cordobés Miguel Ángel González Jurado, quien también tallo las nuevas manos del Señor en 2003.
			<p>Estrenos 2015</p>
			Tallado del frontal del canasto del Paso del Señor y 4 candelabros de guardabrisas de 7 luces para las esquinas, todo ello realizado en los talleres de Alberto Fernández Romero de Villarrubia de los Ojos.
			<br>
			Remate del Senatus en orfebrería plateada, realizado en los talleres Paula Orfebrería de Lucerna.
			<br><br>	
			<img src="./resources/pasos/penas.jpg" class="imagenes_pasos"/>			
		</div>
											
		<div class="titulos_hermandad">
			MÚSICA.
		</div>
		
		<div class="informacion_procesion">
			La Cofradía va acompañada por un trío de música de capilla compuesto por instrumentos de viento y madera (clarinete, oboe y fagot) se interpretan piezas fúnebres y motetes.
		</div>
		
		<div class="titulos_hermandad">
			RECORRIDO.
		</div>
		
		<div class="informacion_procesion">
			Con salida y llegada al Convento de las Carmelitas.
			La ruta se recorre en sentido antihorario.
			(El mapa no se mostrará sin una conexión a Internet activa)
		</div>
		
		<div style="margin:auto;width:90%">
		
			<div id="mapa_las_penas" class="iframe_route"></div>
			<script>
			$("#mapa_las_penas").gmap3({
				map:{
				options:{
				center:[38.986883, -3.928735],
				zoom:16
				}
				},
				marker:{
				values:[
				{latLng:[38.988735, -3.930553], data:"Convento Del Carmen"}]
				},
				polyline:{
				options:{
					strokeColor: "#6F65D5",
					strokeOpacity: 0.6,
					strokeWeight: 4,
					icons: [{icon: lineSymbol, offset: '15%'},
					{icon: lineSymbol, offset: '30%'},
					{icon: lineSymbol, offset: '45%'},
					{icon: lineSymbol, offset: '60%'},
					{icon: lineSymbol, offset: '75%'},
					{icon: lineSymbol, offset: '90%'},
					],
					path:[

					[38.988735, -3.930553],
					[38.988598, -3.930474],

					[38.986484, -3.931410],
					[38.985707, -3.930302],
					[38.986215, -3.929537],
					[38.985892, -3.929049],
					[38.986347, -3.928491],
					[38.985846, -3.928446],
					[38.985000, -3.928288],
					[38.985116, -3.927188],
					[38.985046, -3.927161],
					[38.985066, -3.926509],
					[38.984789, -3.925208],
					[38.986228, -3.925592],
					[38.986163, -3.926222],
					[38.986107, -3.926201],
					[38.986130, -3.927268],
					[38.986073, -3.927268],
					[38.986005, -3.928448],
					[38.986344, -3.928483],
					[38.986526, -3.928392],
					[38.986607, -3.928475],
					[38.988006, -3.928400],
					[38.987622, -3.929065],
					[38.987297, -3.929664],
					[38.988590, -3.930476],
					]
					}
				}
			});
			</script>
		
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="titulos_hermandad">
			ITINERARIO.
		</div>
		
		<div class="informacion_procesion">
			Pulsa sobre cualquier dirección para obtener una ruta desde tu posición actual.
			(Necesitarás una conexión a Internet activa)
		</div>
		
		<div id="geoloc_map_container" style="margin:auto;width:90%;display:none">
		
			<iframe id="geoloc_map" class="iframe_route_02" src=""> </iframe>
			
			<div id="geoloc_map_text" style="font-family:'4';font-size:1.2em;color:#333;padding:10px 10px;text-align:center;">
				Espere, calculando ruta...
			</div>
			
			<div class="ov_button_01" onclick="$('#geoloc_map_container').hide()">
				Ocultar
			</div>
			
			<div class="hollow_10px"> </div>
			
			<div class="ov_button_01" onclick="show_geoloc(destination);">
				Actualizar
			</div>			
			
		</div>
		
		<div id="ov_place_1" class="punto_a_ruta">
			Convento Del Carmen
		</div>
		<script>
			$("#ov_place_1").click(function(e){
				show_geoloc("Convento Del Carmen, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_2" class="punto_a_ruta">
			Calle Azucena
		</div>
		<script>
			$("#ov_place_2").click(function(e){
				show_geoloc("Calle Azucena, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_3" class="punto_a_ruta">
			Calle Reyes
		</div>
		<script>
			$("#ov_place_3").click(function(e){
				show_geoloc("Calle Reyes, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_4" class="punto_a_ruta">
			Paseo Del Prado
		</div>
		<script>
			$("#ov_place_4").click(function(e){
				show_geoloc("Paseo Del Prado, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_5" class="punto_a_ruta">
			Calle Prado
		</div>
		<script>
			$("#ov_place_5").click(function(e){
				show_geoloc("Calle Prado, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_6" class="punto_a_ruta">
			Calle Feria
		</div>
		<script>
			$("#ov_place_6").click(function(e){
				show_geoloc("Calle Feria, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_7" class="punto_a_ruta">
			Calle María Cristina
		</div>
		<script>
			$("#ov_place_7").click(function(e){
				show_geoloc("Calle Maria Cristina, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_8" class="punto_a_ruta">
			Plaza Mayor
		</div>
		<script>
			$("#ov_place_8").click(function(e){
				show_geoloc("Plaza Mayor, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_9" class="punto_a_ruta">
			Calle Cuchillería
		</div>
		<script>
			$("#ov_place_9").click(function(e){
				show_geoloc("Calle Cuchilleria, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_10" class="punto_a_ruta">
			Calle Lanza
		</div>
		<script>
			$("#ov_place_10").click(function(e){
				show_geoloc("Calle Lanza, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_11" class="punto_a_ruta">
			Calle Conde De La Cañada
		</div>
		<script>
			$("#ov_place_11").click(function(e){
				show_geoloc("Calle Conde De La Cañada, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_12" class="punto_a_ruta">
			Calle Libertad
		</div>
		<script>
			$("#ov_place_12").click(function(e){
				show_geoloc("Calle Libertad, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_13" class="punto_a_ruta">
			Calle Cruz
		</div>
		<script>
			$("#ov_place_13").click(function(e){
				//show_geoloc("");
			});
		</script>
				
		<div id="ov_place_14" class="punto_a_ruta">
			Calle María Cristina
		</div>
		<script>
			$("#ov_place_14").click(function(e){
				show_geoloc("Calle Maria Cristina, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_15" class="punto_a_ruta">
			Calle Toledo
		</div>
		<script>
			$("#ov_place_15").click(function(e){
				show_geoloc("Calle Toledo, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_16" class="punto_a_ruta">
			Pasaje De La Merced
		</div>
		<script>
			$("#ov_place_16").click(function(e){
				show_geoloc("Pasaje De La Merced, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_17" class="punto_a_ruta">
			Calle Caballeros
		</div>
		<script>
			$("#ov_place_17").click(function(e){
				show_geoloc("Calle Caballeros, Ciudad Real");
			});
		</script>
				
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
