<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_3" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_4" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_3").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_4").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div class="titulos_procesion">
				NAZARENO
			</div>
			<div class="subtitulos_procesion">
				25 de Marzo - Madrugada Viernes Santo
			</div>
			<div class="subtitulos_procesion">
				Salida a las <b>0:00h</b> desde Parroquia de San Pedro.
			</div>
			
		</div>
		
		<div class="informacion_procesion">
			La Hermandad organiza dos salidas procesionales, una en la tarde del Domingo de Pasión y la Estación de Penitencia de la Madrugada del Viernes Santo.
			La imagen se porta a costal, por una cuadrilla de 35 costaleros.
			<br>
		</div>
		
		<div class="titulos_hermandad">
			ORGANIZA.
		</div>
		
		<div id="ov_to_herman" class="enlace_a_hermandad">
			Antigua y Venerable Hermandad de Nuestro Padre Jesus Nazareno y María Santísima del Amparo en su Gracia y Esperanza
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/hermandades/hermandad_nazareno.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div class="titulos_hermandad">
			TÚNICA.
		</div>
		
		<div class="informacion_procesion">
			De terciopelo morado con escapulario y capillo blanco, fajín del mismo color sobre el que se coloca la medalla de la hermandad sobre un óvalo de terciopelo morado, guantes blancos y calcetín y zapato negro. Los hermanos portan farol eléctrico.
			<img src="./resources/habitos/nazareno.jpg" style="display:block" class="tunica"/>
		</div>
		
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="subtitulo_pasos">
			Jesús con la cruz al hombro camino del Calvario
		</div>
		
		<div class="informacion_pasos">
			Autor: Antonio Illanes
			<br>
			Fecha: 1941
			<br><br>
			Obra del sevillano Antonio Illanes de 1941. Realizó su primera salida procesional en 1942.
			<p><b>Estrenos 2016</b></p>
			Continuación del tallado del paso del Señor, por el tallista cordobés, José Carlos Rubio.<br>
			Nueva túnica para la imagen del Señor.
			<br><br>			
			<img src="./resources/pasos/nazarenonoche.jpg" class="imagenes_pasos"/>			
		</div>
		
		<div class="titulos_hermandad">
			MÚSICA.
		</div>
		
		<div class="informacion_procesion">
			Sin acompañamiento musical. En riguroso silencio. Una coral interpreta misereres en algunos puntos del recorrido. En la Plaza de Santiago, las Hermanas de la Cruz le cantan el tradicional "Sube el Nazareno".
		<br> También se realizan 7 meditaciones sobre la Pasión de Cristo.
		</div>
		
		<div class="titulos_hermandad">
			RECORRIDO.
		</div>
		
		<div class="informacion_procesion">
			Con salida y llegada de la Parroquia de San Pedro.<br>
			(El mapa no se mostrará sin una conexión a Internet activa)
		</div>
		
		<div style="margin:auto;width:90%">
		
			<div id="mapa_nazareno_2" class="iframe_route"></div>
			<script>
			setTimeout(function() {
				var lineSymbol = { path: google.maps.SymbolPath.FORWARD_OPEN_ARROW, scale: 2 };
				$("#mapa_nazareno_2").gmap3({
					map:{
					options:{
					center:[38.988013, -3.928411],
					zoom:15
					}
					},
					marker:{
					values:[
					{latLng:[38.984557, -3.926658], data:"San Pedro"}]
					},
					polyline:{
					options:{
						strokeColor: "#6F65D5",
						strokeOpacity: 0.6,
						strokeWeight: 4,
						icons: [{icon: lineSymbol, offset: '15%'},
						{icon: lineSymbol, offset: '30%'},
						{icon: lineSymbol, offset: '45%'},
						{icon: lineSymbol, offset: '60%'},
						{icon: lineSymbol, offset: '75%'},
						{icon: lineSymbol, offset: '90%'},
						],
						path:[

						[38.984557, -3.926658],
						
						[38.984351, -3.926598],
						
						[38.984200, -3.927303],
						[38.983733, -3.928553],

						[38.983832, -3.928741],
						[38.984335, -3.928355],
						[38.984548, -3.928266],
						[38.984679, -3.928314],
						[38.984842, -3.928223],
						[38.985853, -3.928440],
						[38.986339, -3.928482],
						[38.985888, -3.929052],
						[38.986824, -3.930474],
						[38.986912, -3.930691],
						[38.987345, -3.930401],
						[38.987691, -3.929902],
						[38.987310, -3.929653],
						[38.987568, -3.929157],
						[38.988013, -3.928411],
						[38.988748, -3.928293],
						[38.988961, -3.927724],
						[38.989155, -3.926785],
						[38.989255, -3.926174],
						[38.989520, -3.925549],

						[38.989823, -3.925718],
						[38.990080, -3.925131],
						[38.989846, -3.924980],
						
						[38.989718, -3.924691],					
						[38.989547, -3.924613],
						
						[38.989685, -3.924189],
						[38.989147, -3.923902],
						
						[38.988986, -3.924313],
						[38.988505, -3.924251],
						[38.987502, -3.924133],
						[38.986353, -3.923891],
						[38.986353, -3.923891],
						[38.986220, -3.925611],
						[38.986157, -3.926214],
						[38.984964, -3.926013],
						[38.985073, -3.926541],
						[38.985042, -3.927172],
						[38.984606, -3.926922],	

						[38.984304, -3.926771],
						
						]
						}
					}
				});
			},1000);
			</script>
		
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="titulos_hermandad">
			ITINERARIO.
		</div>
		
		<div class="informacion_procesion">
			Pulsa sobre cualquier dirección para obtener una ruta desde tu posición actual.
			(Necesitarás una conexión a Internet activa)
		</div>
		
		<div id="geoloc_map_container" style="margin:auto;width:90%;display:none">
		
			<iframe id="geoloc_map" class="iframe_route_02" src=""> </iframe>
			
			<div id="geoloc_map_text" style="font-family:'4';font-size:1.2em;color:#333;padding:10px 10px;text-align:center;">
				Espere, calculando ruta...
			</div>
			
			<div class="ov_button_01" onclick="$('#geoloc_map_container').hide()">
				Ocultar
			</div>
			
			<div class="hollow_10px"> </div>
			
			<div class="ov_button_01" onclick="show_geoloc(destination);">
				Actualizar
			</div>			
			
		</div>
		
		<div id="ov_place_1" class="punto_a_ruta">
			Calle Ramón y Cajal
		</div>
		<script>
			$("#ov_place_1").click(function(e){
				show_geoloc("Calle Ramón y Cajal, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_2" class="punto_a_ruta">
			Plaza Del Pilar
		</div>
		<script>
			$("#ov_place_2").click(function(e){
				show_geoloc("Plaza Del Pilar, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_3" class="punto_a_ruta">
			Calle General Aguilera
		</div>
		<script>
			$("#ov_place_3").click(function(e){
				show_geoloc("Calle General Aguilera, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_4" class="punto_a_ruta">
			Calle Maria Cristina
		</div>
		<script>
			$("#ov_place_4").click(function(e){
				show_geoloc("Calle Maria Cristina, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_5" class="punto_a_ruta">
			Calle Feria
		</div>
		<script>
			$("#ov_place_5").click(function(e){
				show_geoloc("Calle Feria, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_6" class="punto_a_ruta">
			Calle Prado
		</div>
		<script>
			$("#ov_place_6").click(function(e){
				show_geoloc("Calle Prado, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_7" class="punto_a_ruta">
			Calle Camarín
		</div>
		<script>
			$("#ov_place_7").click(function(e){
				show_geoloc("Calle Camarín, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_8" class="punto_a_ruta">
			Calle Caballeros
		</div>
		<script>
			$("#ov_place_8").click(function(e){
				show_geoloc("Calle Caballeros, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_9" class="punto_a_ruta">
			Pasaje De La Merced
		</div>
		<script>
			$("#ov_place_9").click(function(e){
				show_geoloc("Pasaje De La Merced, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_10" class="punto_a_ruta">
			Plaza De La Merced
		</div>
		<script>
			$("#ov_place_10").click(function(e){
				show_geoloc("Plaza De La Merced, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_11" class="punto_a_ruta">
			Calle Toledo
		</div>
		<script>
			$("#ov_place_11").click(function(e){
				show_geoloc("Calle Toledo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_12" class="punto_a_ruta">
			Calle Jacinto
		</div>
		<script>
			$("#ov_place_12").click(function(e){
				show_geoloc("Calle Jacinto, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_13" class="punto_a_ruta">
			Plaza De Agustin Salido
		</div>
		<script>
			$("#ov_place_13").click(function(e){
				show_geoloc("Plaza De Agustin Salido, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_14" class="punto_a_ruta">
			Calle Angel
		</div>
		<script>
			$("#ov_place_14").click(function(e){
				show_geoloc("Calle Angel, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_15" class="punto_a_ruta">
			Calle Norte
		</div>
		<script>
			$("#ov_place_15").click(function(e){
				show_geoloc("Calle Norte, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_16" class="punto_a_ruta">
			Calle Lirio
		</div>
		<script>
			$("#ov_place_16").click(function(e){
				show_geoloc("Calle Lirio, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_17" class="punto_a_ruta">
			Plaza De La Inmaculada
		</div>
		<script>
			$("#ov_place_17").click(function(e){
				show_geoloc("Plaza De La Inmaculada, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_18" class="punto_a_ruta">
			Calle Libertad
		</div>
		<script>
			$("#ov_place_18").click(function(e){
				show_geoloc("Calle Libertad, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_19" class="punto_a_ruta">
			Calle Cardenal Monescillo
		</div>
		<script>
			$("#ov_place_19").click(function(e){
				show_geoloc("Calle Cardenal Monescillo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_20" class="punto_a_ruta">
			Calle Lanza
		</div>
		<script>
			$("#ov_place_20").click(function(e){
				show_geoloc("Calle Lanza, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_21" class="punto_a_ruta">
			Calle Ruiz Morote
		</div>
		<script>
			$("#ov_place_21").click(function(e){
				show_geoloc("Calle Ruiz Morote, Ciudad Real");
			});
		</script>
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
