<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_3" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_4" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_3").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_4").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div class="titulos_procesion">
				PRENDIMIENTO
			</div>
			<div class="subtitulos_procesion">
				29 de Marzo - Domingo de Ramos
			</div>
			<div class="subtitulos_procesion">
				Salida a las <b>18:00h</b> desde la Parroquia de Nuestra Señora de los Ángeles.
			</div>
			
		</div>
		
		<div class="informacion_procesion">
			La Hermandad organiza una salida procesional, en la tarde del Domingo de Ramos.
			La imagen se porta a costal, por una cuadrilla de 42 costaleros.
			<br>
			El exorno floral es de lirios morados.
			<br>
		</div>
		
		<div class="titulos_hermandad">
			ORGANIZA.
		</div>
		
		<div id="ov_to_herman" class="enlace_a_hermandad">
			Hermandad del Prendimiento de Jesús Cautivo y María Santísima de la Salud
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/hermandades/hermandad_prendimiento.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div class="titulos_hermandad">
			TÚNICA.
		</div>
		
		<div class="informacion_procesion">
			De color blanco con botones y fajín color azul, del mismo color son el escapulario trasero y el capillo que lleva bordado el escudo de la hermandad. Los hermanos llevan sandalias negras y calcetas blancas y portan cirios color azul.
			<img src="./resources/habitos/prendimiento.jpg" style="display:block" class="tunica" />
		</div>
		
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="subtitulo_pasos">
			Jesús Cautivo
		</div>
		
		<div class="informacion_pasos">
			Autor: Miguel Ángel González Jurado
			<br>
			Fecha: 2000
			<br><br>
			Jesús Cautivo viste túnica blanca con cordón y cinturón de oro. Lleva potencias sobre doradas. El soldado romano lleva espada, casco y coraza de metal dorado  y viste túnica negra que le llega a la altura de las rodillas y capa azul. El sayón viste faldilla corta y faja hebrea y lleva sujeta la cuerda que ata las manos de Jesús. La imagen de Judas va vestida con túnica azul oscura y beca en color obre portando en la mano izquierda una bolsa. 
			<p>Estrenos 2015</p>
			2 Palermos, 7 Varas corporativas, 5 varas de insignias, Cruz Parroquial y dos ciriales de Cruz Parroquial de la Orfebrería Santos Campanario de Sevilla.
			<br>Túnica de capilla de terciopelo morado para Jesús Cautivo.
			<br>Llamador para el paso de palio de Orfebrería Hijos de Juan Fernández.
			<br>Saya bordada sobre tisú de plata con cotilla para María Santísima de la Salud.
			<br<<br>
			<img src="./resources/pasos/prendimiento.jpg" class="imagenes_pasos"/>			
		</div>
											
		<div class="titulos_hermandad">
			MÚSICA.
		</div>
		
		<div class="informacion_procesion">
			Agrupación Musical Santo Tomás de Villanueva.
		</div>
		
		<div class="titulos_hermandad">
			RECORRIDO.
		</div>
		
		<div class="informacion_procesion">
			Con salida y llegada a la Parroquia de Nuestra Señora de los Ángeles. 
			La ruta se recorre en sentido antihorario.
			(El mapa no se mostrará sin una conexión a Internet activa)
		</div>
		
		<div style="margin:auto;width:90%">
		
			<iframe id="route_map" src="" width="600" height="450" frameborder="0" style="border:0"></iframe>

			<script>
				route_map_url="https://www.google.com/maps/embed?pb=!1m59!1m12!1m3!1d387.69458384223964!2d-3.9236525654273615!3d38.97978986679013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m44!1i0!3e2!4m5!1s0xd6bc33e99ab1993%3A0x560d95b1998f3328!2sParroquia+Nuestra+Seora+de+los+%C3%81ngeles%2C+Calle+de+Nuestra+Se%C3%B1ora+de+los+%C3%81ngeles%2C+0%2C+13004+Ciudad+Real!3m2!1d38.980066!2d-3.9234639999999996!4m3!3m2!1d38.9826896!2d-3.9258051!4m3!3m2!1d38.983277699999995!2d-3.9265738999999997!4m3!3m2!1d38.9850418!2d-3.9271339!4m3!3m2!1d38.9869157!2d-3.9306942!4m3!3m2!1d38.9880995!2d-3.928423!4m3!3m2!1d38.986021099999995!2d-3.9284418!4m3!3m2!1d38.9804403!2d-3.9230015!4m3!3m2!1d38.9794376!2d-3.9224386!4m3!3m2!1d38.979901399999996!2d-3.9237001!5e0!3m2!1ses!2ses!4v1424280023599";
				setTimeout(function(){
					$("#route_map").attr("src",route_map_url);
				},2000);
			</script>
		
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="titulos_hermandad">
			ITINERARIO.
		</div>
		
		<div class="informacion_procesion">
			Pulsa sobre cualquier dirección para obtener una ruta desde tu posición actual.
			(Necesitarás una conexión a Internet activa)
		</div>
		
		<div id="geoloc_map_container" style="margin:auto;width:90%;display:none">
		
			<iframe id="geoloc_map" class="iframe_route_02" src=""> </iframe>
			
			<div id="geoloc_map_text" style="font-family:'4';font-size:1.2em;color:#333;padding:10px 10px;text-align:center;">
				Espere, calculando ruta...
			</div>
			
			<div class="ov_button_01" onclick="$('#geoloc_map_container').hide()">
				Ocultar
			</div>
			
			<div class="hollow_10px"> </div>
			
			<div class="ov_button_01" onclick="show_geoloc(destination);">
				Actualizar
			</div>			
			
		</div>
		
		<div id="ov_place_1" class="punto_a_ruta">
			Parroquia de los Ángeles
		</div>
		<script>
			$("#ov_place_1").click(function(e){
				show_geoloc("Parroquia de los Angeles, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_2" class="punto_a_ruta">
			Calle Islas Canarias
		</div>
		<script>
			$("#ov_place_2").click(function(e){
				show_geoloc("Calle Islas Canarias, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_3" class="punto_a_ruta">
			Paseo Carlos Eraña
		</div>
		<script>
			$("#ov_place_3").click(function(e){
				show_geoloc("Paseo Carlos Eraña, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_4" class="punto_a_ruta">
			Calle Granada
		</div>
		<script>
			$("#ov_place_4").click(function(e){
				show_geoloc("Calle Granada, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_5" class="punto_a_ruta">
			Plaza De San Francisco
		</div>
		<script>
			$("#ov_place_5").click(function(e){
				show_geoloc("Plaza De San Francisco, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_6" class="punto_a_ruta">
			Calle Palma
		</div>
		<script>
			$("#ov_place_6").click(function(e){
				show_geoloc("Calle Palma, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_7" class="punto_a_ruta">
			Calle Lanza
		</div>
		<script>
			$("#ov_place_7").click(function(e){
				show_geoloc("Calle Lanza, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_8" class="punto_a_ruta">
			Calle Cuchilleria
		</div>
		<script>
			$("#ov_place_8").click(function(e){
				show_geoloc("Calle Cuchilleria, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_9" class="punto_a_ruta">
			Plaza Mayor
		</div>
		<script>
			$("#ov_place_9").click(function(e){
				show_geoloc("Plaza Mayor, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_10" class="punto_a_ruta">
			Calle Maria Cristina
		</div>
		<script>
			$("#ov_place_10").click(function(e){
				show_geoloc("Calle Maria Cristina, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_11" class="punto_a_ruta">
			Calle Feria
		</div>
		<script>
			$("#ov_place_11").click(function(e){
				show_geoloc("Calle Feria, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_12" class="punto_a_ruta">
			Paseo Del Prado
		</div>
		<script>
			$("#ov_place_12").click(function(e){
				show_geoloc("Paseo Del Prado, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_13" class="punto_a_ruta">
			Calle Camarín
		</div>
		<script>
			$("#ov_place_13").click(function(e){
				show_geoloc("Calle Camarin, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_14" class="punto_a_ruta">
			Calle Caballeros
		</div>
		<script>
			$("#ov_place_14").click(function(e){
				show_geoloc("Calle Caballeros, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_15" class="punto_a_ruta">
			Plaza De La Merced
		</div>
		<script>
			$("#ov_place_15").click(function(e){
				show_geoloc("Plaza De La Merced, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_16" class="punto_a_ruta">
			Calle Toledo
		</div>
		<script>
			$("#ov_place_16").click(function(e){
				show_geoloc("Calle Toledo, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_17" class="punto_a_ruta">
			Calle Calatrava
		</div>
		<script>
			$("#ov_place_17").click(function(e){
				show_geoloc("Calle Calatrava, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_18" class="punto_a_ruta">
			Calle María Cristina
		</div>
		<script>
			$("#ov_place_18").click(function(e){
				show_geoloc("Calle Maria Cristina, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_19" class="punto_a_ruta">
			Calle Cruz
		</div>
		<script>
			$("#ov_place_19").click(function(e){
				show_geoloc("Calle Cruz, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_20" class="punto_a_ruta">
			Calle Paloma
		</div>
		<script>
			$("#ov_place_20").click(function(e){
				show_geoloc("Calle Paloma, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_21" class="punto_a_ruta">
			Calle Ruiz Morote
		</div>
		<script>
			$("#ov_place_21").click(function(e){
				show_geoloc("Calle Ruiz Morote, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_22" class="punto_a_ruta">
			Plaza De San Francisco
		</div>
		<script>
			$("#ov_place_22").click(function(e){
				show_geoloc("Plaza De San Francisco, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_23" class="punto_a_ruta">
			Calle Granada
		</div>
		<script>
			$("#ov_place_23").click(function(e){
				show_geoloc("Calle Granada, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_24" class="punto_a_ruta">
			Paseo Carlos Eraña
		</div>
		<script>
			$("#ov_place_24").click(function(e){
				show_geoloc("Paseo Carlos Eraña, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_25" class="punto_a_ruta">
			Calle San Miguel
		</div>
		<script>
			$("#ov_place_25").click(function(e){
				show_geoloc("Calle San Miguel, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_26" class="punto_a_ruta">
			Calle Nuestra Señora De Los Angeles			
		</div>
		<script>
			$("#ov_place_26").click(function(e){
				show_geoloc("Calle Nuestra Señora De Los Angeles	, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_27" class="punto_a_ruta">
			Calle Murcia			
		</div>
		<script>
			$("#ov_place_27").click(function(e){
				show_geoloc("Calle Murcia, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_28" class="punto_a_ruta">
			Calle Madrid			
		</div>
		<script>
			$("#ov_place_28").click(function(e){
				show_geoloc("Calle Madrid, Ciudad Real");
			});
		</script>
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
