<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_3" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_4" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_3").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_4").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div class="titulos_procesion">
				RESUCITADO
			</div>
			<div class="subtitulos_procesion">
				5 de Abril - Domingo de resurreción
			</div>
			<div class="subtitulos_procesion">
				Salida a las <b>12:00h</b> desde S.I.P.B. Catedral.
			</div>
			
		</div>
		
		<div class="informacion_procesion">
			Esta procesión pertenece a la Asociación de Cofradías, siendo cada año una de las Hermandades que componen la misma la encargada de presidir el cortejo. Organizan una salida procesional, en la mañana del Domingo de Resurreción.
			<br>
			El exorno floral es de clavel rojos y tomillo..
			<br>
		</div>
		
		<div class="titulos_hermandad">
			ORGANIZA.
		</div>
		
		<div id="ov_to_herman" class="enlace_a_hermandad">
			Asociación de Cofradías
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/hermandades/hermandad_resucitado.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div class="titulos_hermandad">
			TÚNICA.
		</div>
		
		<div class="informacion_procesion">
			El cortejo lo componen las túnicas de todas las Hermandades que componen la Asociación de Cofradías.
			<img src="./resources/habitos/resucitado.jpg" style="display:block" class="tunica" />
		</div>
		
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="subtitulo_pasos">
			Misterio de la Resurreción de Nuestro Señor Jesucristo
		</div>
		
		<div class="informacion_pasos">
			Autor: Joaquín García Donaire
			<br>
			Fecha: 1960
			<br><br>
			Portada a ruedas.
			<br><br>			
			<img src="./resources/pasos/resurrecion.jpg" class="imagenes_pasos"/>			
		</div>
		
		<div class="subtitulo_pasos">
			Virgen de la Alegría
		</div>
		
		<div class="informacion_pasos">
			Autor: Jesús Méndez Lastrucci
			<br><br>
			Portada por 35 costaleros.
			<br><br>			
			<img src="./resources/pasos/resurrecion_virgen.jpg" class="imagenes_pasos"/>			
		</div>
											
		<div class="titulos_hermandad">
			MÚSICA.
		</div>
		
		<div class="informacion_procesion">
			<p>CRISTO: Banda de Cornetas y Tambores Nuestra Señora del Prado- La
Pasión de Ciudad Real</p>
			<p>VIRGEN: Agrupación Musical de Ciudad Real</p>
		</div>
		
		<div class="titulos_hermandad">
			RECORRIDO.
		</div>
		
		<div class="informacion_procesion">
			Con salida y llegada desde S.I.P.B. Catedral.<br>
			(El mapa no se mostrará sin una conexión a Internet activa)
		</div>
		
		<div style="margin:auto;width:90%">
		
			<div id="mapa_resucitado" class="iframe_route"></div>
			<script>
			setTimeout(function() {
				var lineSymbol = { path: google.maps.SymbolPath.FORWARD_OPEN_ARROW, scale: 2 };
				$("#mapa_resucitado").gmap3({
					map:{
					options:{
					center:[38.986137, -3.926220],
					zoom:15
					}
					},
					marker:{
					values:[
					{latLng:[38.986489, -3.930685], data:"Catedral"}]
					},
					polyline:{
					options:{
						strokeColor: "#6F65D5",
						strokeOpacity: 0.6,
						strokeWeight: 4,
						icons: [{icon: lineSymbol, offset: '15%'},
						{icon: lineSymbol, offset: '30%'},
						{icon: lineSymbol, offset: '45%'},
						{icon: lineSymbol, offset: '60%'},
						{icon: lineSymbol, offset: '75%'},
						{icon: lineSymbol, offset: '90%'},
						],
						path:[
						
						[38.986489, -3.930685],

						[38.986218, -3.931034],
						[38.985426, -3.929961],
						[38.985255, -3.929908],
						[38.984100, -3.929194],
						[38.983662, -3.929312],
						[38.983545, -3.929811],
						[38.983274, -3.929672],
						[38.982761, -3.929221],
						[38.983023, -3.928674],
						[38.983306, -3.928502],
						[38.983611, -3.928462],
						[38.983730, -3.928534],
						[38.984205, -3.927295],
						[38.984307, -3.926767],
						[38.985108, -3.927193],
						[38.984987, -3.928247],
												
						[38.984950, -3.928596],//Punto plaza mayor
						
						[38.985900, -3.929052],					
						[38.986065, -3.928851],
						[38.987697, -3.929902],
						[38.987349, -3.930401],
						[38.986918, -3.930699],
						[38.986749, -3.930350],
						[38.986490, -3.930683],

						
						]
						}
					}
				});
			},1000);
			</script>
		
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="titulos_hermandad">
			ITINERARIO.
		</div>
		
		<div class="informacion_procesion">
			Pulsa sobre cualquier dirección para obtener una ruta desde tu posición actual.
			(Necesitarás una conexión a Internet activa)
		</div>
		
		<div id="geoloc_map_container" style="margin:auto;width:90%;display:none">
		
			<iframe id="geoloc_map" class="iframe_route_02" src=""> </iframe>
			
			<div id="geoloc_map_text" style="font-family:'4';font-size:1.2em;color:#333;padding:10px 10px;text-align:center;">
				Espere, calculando ruta...
			</div>
			
			<div class="ov_button_01" onclick="$('#geoloc_map_container').hide()">
				Ocultar
			</div>
			
			<div class="hollow_10px"> </div>
			
			<div class="ov_button_01" onclick="show_geoloc(destination);">
				Actualizar
			</div>			
			
		</div>
		
		<div id="ov_place_1" class="punto_a_ruta">
			Paseo del Prado
		</div>
		<script>
			$("#ov_place_1").click(function(e){
				show_geoloc("Paseo del Prado, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_2" class="punto_a_ruta">
			Calle Reyes
		</div>
		<script>
			$("#ov_place_2").click(function(e){
				show_geoloc("Calle Reyes, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_3" class="punto_a_ruta">
			Calle Alfonso X el Sabio
		</div>
		<script>
			$("#ov_place_3").click(function(e){
				show_geoloc("Calle Alfonso X el Sabio, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_4" class="punto_a_ruta">
			Calle Alarcos
		</div>
		<script>
			$("#ov_place_4").click(function(e){
				show_geoloc("Calle Alarcos, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_5" class="punto_a_ruta">
			Pasaje Gutierrez Ortega
		</div>
		<script>
			$("#ov_place_5").click(function(e){
				show_geoloc("Pasaje Gutierrez Ortega, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_6" class="punto_a_ruta">
			Avda. Rey Santo
		</div>
		<script>
			$("#ov_place_6").click(function(e){
				show_geoloc("Avda. Rey Santo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_7" class="punto_a_ruta">
			Plaza Del Pilar
		</div>
		<script>
			$("#ov_place_7").click(function(e){
				show_geoloc("Plaza Del Pilar, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_8" class="punto_a_ruta">
			Calle Ramon y Cajal
		</div>
		<script>
			$("#ov_place_8").click(function(e){
				show_geoloc("Calle Ramon y Cajal, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_9" class="punto_a_ruta">
			Calle Ruiz Morote
		</div>
		<script>
			$("#ov_place_9").click(function(e){
				show_geoloc("Calle Ruiz Morote, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_10" class="punto_a_ruta">
			Calle Cuchilleria
		</div>
		<script>
			$("#ov_place_10").click(function(e){
				show_geoloc("Calle Cuchilleria, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_11" class="punto_a_ruta">
			Plaza Mayor
		</div>
		<script>
			$("#ov_place_11").click(function(e){
				show_geoloc("Plaza Mayor, 1, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_12" class="punto_a_ruta">
			Mercado Viejo
		</div>
		<script>
			$("#ov_place_12").click(function(e){
				show_geoloc("Mercado Viejo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_13" class="punto_a_ruta">
			Calle Feria
		</div>
		<script>
			$("#ov_place_13").click(function(e){
				show_geoloc("Calle Feria, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_14" class="punto_a_ruta">
			Calle Caballeros
		</div>
		<script>
			$("#ov_place_14").click(function(e){
				show_geoloc("Calle Caballeros, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_15" class="punto_a_ruta">
			Calle Camarín
		</div>
		<script>
			$("#ov_place_15").click(function(e){
				show_geoloc("Calle Camarín, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_16" class="punto_a_ruta">
			Calle Prado
		</div>
		<script>
			$("#ov_place_16").click(function(e){
				show_geoloc("Calle Prado, Ciudad Real");
			});
		</script>
				
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
