<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_3" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_4" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_3").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_4").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div class="titulos_procesion">
				CRISTO DE LA PIEDAD
			</div>
			<div class="subtitulos_procesion">
				25 de Marzo - Viernes Santo
			</div>
			<div class="subtitulos_procesion">
				Salida a las <b>20:20h</b> desde S.I.P.B. Catedral.
			</div>
			
		</div>
		
		<div class="informacion_procesion">
			La Hermandad organiza una salida procesional, en la tarde del Viernes Santo.
			Forma de portar, a costal, por 35 costaleros.
			<br>
			El exorno floral es de monte de clavel rojo y en las esquinas rosas rojas.
			<br>
		</div>
		
		<div class="titulos_hermandad">
			ORGANIZA.
		</div>
		
		<div id="ov_to_herman" class="enlace_a_hermandad">
			Hermandad Del Santísimo Cristo De La Piedad
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/hermandades/hermandad_piedad.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div class="titulos_hermandad">
			TÚNICA.
		</div>
		
		<div class="informacion_procesion">
			De terciopelo negro con escapulario del mismo color, botones y fajín de raso blanco y cruz blanca de raso sobre el capillo. Guante blanco, zapato y calcetín negro. Los hermanos alumbran con cirios eléctricos.
			<img src="./resources/habitos/piedad.jpg" style="display:block" class="tunica" />
		</div>
		
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="subtitulo_pasos">
			Cristo de la Piedad 
		</div>
		
		<div class="informacion_pasos">
			Autor: Antonio Castillo Lastrucci
			<br>
			Fecha: 1947
			<br><br>
			<img src="./resources/pasos/piedad.jpg" class="imagenes_pasos"/>						
		</div>
	
		<div class="titulos_hermandad">
			MÚSICA.
		</div>
		
		<div class="informacion_procesion">
			Banda de cornetas y tambores Nuestro Señor del Prado-La Pasión (Ciudad Real)
		</div>
		
		<div class="titulos_hermandad">
			RECORRIDO.
		</div>
		
		<div class="informacion_procesion">
			Con salida y llegada de S.I.P.B Catedral.<br>
			(El mapa no se mostrará sin una conexión a Internet activa)
		</div>
		
		<div style="margin:auto;width:90%">
		
			<div id="mapa_cristo_piedad" class="iframe_route"></div>
			<script>
			setTimeout(function() {
				var lineSymbol = { path: google.maps.SymbolPath.FORWARD_OPEN_ARROW, scale: 2 };
				$("#mapa_cristo_piedad").gmap3({
					map:{
					options:{
					center:[38.986151, -3.926222],
					zoom:15
					}
					},
					marker:{
					values:[
					{latLng:[38.986489, -3.930685], data:"Catedral"}]
					},
					polyline:{
					options:{
						strokeColor: "#6F65D5",
						strokeOpacity: 0.6,
						strokeWeight: 4,
						icons: [{icon: lineSymbol, offset: '15%'},
						{icon: lineSymbol, offset: '30%'},
						{icon: lineSymbol, offset: '45%'},
						{icon: lineSymbol, offset: '60%'},
						{icon: lineSymbol, offset: '75%'},
						{icon: lineSymbol, offset: '90%'},
						],
						path:[

						[38.986489, -3.930685],
						[38.986745, -3.930354],
						[38.986863, -3.930546],
						[38.986916, -3.930697],
						[38.987349, -3.930391],
						[38.987701, -3.929910],
						[38.987303, -3.929666],
						[38.987614, -3.929078],
						[38.988022, -3.928408],
						[38.986600, -3.928478],
						[38.986530, -3.928384],
						[38.986344, -3.928483],
						
						[38.985896, -3.929049],
						[38.984966, -3.928594],
						
						[38.984993, -3.928250],
						[38.985110, -3.927195],
						[38.985041, -3.927163],
						[38.985070, -3.926512],
						[38.984960, -3.926013],
						[38.986151, -3.926222],
						[38.986236, -3.925514],
						[38.986347, -3.923883],
						[38.987504, -3.924127],
						
						[38.988528, -3.924245],
						[38.988983, -3.924308],
						
						[38.989135, -3.923895],					
						[38.989686, -3.924182],					
						[38.989546, -3.924619],
						[38.989715, -3.924705],
						
						[38.989838, -3.924962],
						[38.990071, -3.925134],
						[38.989834, -3.925721],
						
						[38.989525, -3.925548],
						[38.989323, -3.925981],
						[38.989237, -3.926290],
						[38.988610, -3.925949],
						[38.987955, -3.926596],
						[38.986537, -3.928387],
						[38.986346, -3.928478],
						[38.985902, -3.929047],
						[38.986750, -3.930361],
						[38.986490, -3.930675],
						
						]
						}
					}
				});
			},1000);
			</script>
		
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="titulos_hermandad">
			ITINERARIO.
		</div>
		
		<div class="informacion_procesion">
			Pulsa sobre cualquier dirección para obtener una ruta desde tu posición actual.
			(Necesitarás una conexión a Internet activa)
		</div>
		
		<div id="geoloc_map_container" style="margin:auto;width:90%;display:none">
		
			<iframe id="geoloc_map" class="iframe_route_02" src=""> </iframe>
			
			<div id="geoloc_map_text" style="font-family:'4';font-size:1.2em;color:#333;padding:10px 10px;text-align:center;">
				Espere, calculando ruta...
			</div>
			
			<div class="ov_button_01" onclick="$('#geoloc_map_container').hide()">
				Ocultar
			</div>
			
			<div class="hollow_10px"> </div>
			
			<div class="ov_button_01" onclick="show_geoloc(destination);">
				Actualizar
			</div>			
			
		</div>
		
		<div id="ov_place_1" class="punto_a_ruta">
			Calle Prado
		</div>
		<script>
			$("#ov_place_1").click(function(e){
				show_geoloc("Calle Prado, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_2" class="punto_a_ruta">
			Calle Camarín
		</div>
		<script>
			$("#ov_place_2").click(function(e){
				show_geoloc("Calle Camarín, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_3" class="punto_a_ruta">
			Pasaje De La Merced
		</div>
		<script>
			$("#ov_place_3").click(function(e){
				show_geoloc("Pasaje De La Merced, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_4" class="punto_a_ruta">
			Plaza De La Merced
		</div>
		<script>
			$("#ov_place_4").click(function(e){
				show_geoloc("Plaza De La Merced, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_5" class="punto_a_ruta">
			Calle Toledo
		</div>
		<script>
			$("#ov_place_5").click(function(e){
				show_geoloc("Calle Toledo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_6" class="punto_a_ruta">
			Calle Feria
		</div>
		<script>
			$("#ov_place_6").click(function(e){
				show_geoloc("Calle Feria, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_7" class="punto_a_ruta">
			Mercado Viejo
		</div>
		<script>
			$("#ov_place_7").click(function(e){
				show_geoloc("Mercado Viejo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_8" class="punto_a_ruta">
			Plaza Mayor
		</div>
		<script>
			$("#ov_place_8").click(function(e){
				show_geoloc("Plaza Mayor, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_9" class="punto_a_ruta">
			Calle Cuchilleria
		</div>
		<script>
			$("#ov_place_9").click(function(e){
				show_geoloc("Calle Cuchilleria, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_10" class="punto_a_ruta">
			Calle Lanza
		</div>
		<script>
			$("#ov_place_10").click(function(e){
				show_geoloc("Calle Lanza, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_11" class="punto_a_ruta">
			Calle Cardenal Monescillo
		</div>
		<script>
			$("#ov_place_11").click(function(e){
				show_geoloc("Calle Cardenal Monescillo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_12" class="punto_a_ruta">
			Calle Libertad
		</div>
		<script>
			$("#ov_place_12").click(function(e){
				show_geoloc("Calle Libertad, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_13" class="punto_a_ruta">
			Calle Lirio
		</div>
		<script>
			$("#ov_place_13").click(function(e){
				show_geoloc("Calle Lirio, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_14" class="punto_a_ruta">
			Plaza Inmaculada
		</div>
		<script>
			$("#ov_place_14").click(function(e){
				show_geoloc("Plaza Inmaculada, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_15" class="punto_a_ruta">
			Calle Norte
		</div>
		<script>
			$("#ov_place_15").click(function(e){
				show_geoloc("Calle Norte, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_16" class="punto_a_ruta">
			Calle Angel
		</div>
		<script>
			$("#ov_place_16").click(function(e){
				show_geoloc("Calle Angel, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_17" class="punto_a_ruta">
			Calle Jacinto
		</div>
		<script>
			$("#ov_place_17").click(function(e){
				show_geoloc("Calle Jacinto, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_18" class="punto_a_ruta">
			Calle Altagracia
		</div>
		<script>
			$("#ov_place_18").click(function(e){
				show_geoloc("Calle Altagracia, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_19" class="punto_a_ruta">
			Calle Calatrava
		</div>
		<script>
			$("#ov_place_19").click(function(e){
				show_geoloc("Calle Calatrava, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_20" class="punto_a_ruta">
			Calle Feria
		</div>
		<script>
			$("#ov_place_20").click(function(e){
				show_geoloc("Calle Feria, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_21" class="punto_a_ruta">
			Calle Prado
		</div>
		<script>
			$("#ov_place_21").click(function(e){
				show_geoloc("Calle Prado, Ciudad Real");
			});
		</script>
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
