<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_3" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_4" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_3").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_4").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div class="titulos_procesion">
				DESCENDIMIENTO
			</div>
			<div class="subtitulos_procesion">
				25 de Marzo - Viernes Santo
			</div>
			<div class="subtitulos_procesion">
				Salida a las <b>20:30h</b> desde Parroquia de la Merced.
			</div>
			
		</div>
		
		<div class="informacion_procesion">
			La Hermandad organiza una salida procesional, en la tarde del Viernes Santo.
			Forma de portar, a costal, por 40 costaleros.
			<br>
			El exorno floral es de clavel rojo, iris morado, passiflora caerulea y rosas rojas.
			<br>
		</div>
		
		<div class="titulos_hermandad">
			ORGANIZA.
		</div>
		
		<div id="ov_to_herman" class="enlace_a_hermandad">
			Humilde Y Fervorosa Hermandad Y Cofradía De Nazarenos Del Santísimo Cristo Del Amor En Su Santo Descendimiento.
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/hermandades/hermandad_descendimiento.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div class="titulos_hermandad">
			TÚNICA.
		</div>
		
		<div class="informacion_procesion">
			De terciopelo negro con botonadura blanca, al igual que el capillo y el escapulario. Lleva en el capillo bordado el antiguo escudo de la hermandad. Cíngulo amarillo, zapato negro y guante blanco. Los hermanos portan faroles y cirios morados.
			<img src="./resources/habitos/descendimiento.jpg" style="display:block" class="tunica" />
		</div>
		
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="subtitulo_pasos">
			Misterio del Descendimiento del Cristo del Amor
		</div>
		
		<div class="informacion_pasos">
			Autor: Luis Marco Pérez
			<br>
			Fecha: 1944
			<br><br>
			<img src="./resources/pasos/descendimiento.jpg" class="imagenes_pasos"/>						
		</div>
	
		<div class="titulos_hermandad">
			MÚSICA.
		</div>
		
		<div class="informacion_procesion">
			Banda de Cornetas y Tambores Jesús Rescatado de Valdepeñas.
		</div>
		
		<div class="titulos_hermandad">
			RECORRIDO.
		</div>
		
		<div class="informacion_procesion">
			Con salida y llegada de la Parroquia de la Merced.<br>
			(El mapa no se mostrará sin una conexión a Internet activa)
		</div>
		
		<div style="margin:auto;width:90%">
		
			<div id="mapa_descendimiento" class="iframe_route"></div>
			<script>
			setTimeout(function() {
				var lineSymbol = { path: google.maps.SymbolPath.FORWARD_OPEN_ARROW, scale: 2 };
				$("#mapa_descendimiento").gmap3({
				map:{
				options:{
				center:[38.990235, -3.926552],
				zoom:15
				}
				},
				marker:{
				values:[
				{latLng:[38.990665, -3.929230], data:"Rectorado"}]
				},
				polyline:{
				options:{
				strokeColor: "#6F65D5",
				strokeOpacity: 0.6,
				strokeWeight: 4,
				icons: [{icon: lineSymbol, offset: '15%'},
				{icon: lineSymbol, offset: '30%'},
				{icon: lineSymbol, offset: '45%'},
				{icon: lineSymbol, offset: '60%'},
				{icon: lineSymbol, offset: '75%'},
				{icon: lineSymbol, offset: '90%'},
				],
				path:[

				[38.990665, -3.929230],
				[38.989592, -3.928937],
				[38.989427, -3.929423],
				[38.988833, -3.930340],
				[38.988821, -3.930445],
				[38.988739, -3.930568],
				[38.987295, -3.929654],
				[38.987572, -3.929152],
				[38.988020, -3.928409],
				[38.986596, -3.928479],
				[38.986536, -3.928396],
				[38.986342, -3.928487],
				[38.985887, -3.929058],
				[38.984989, -3.928251],
				[38.985095, -3.927186],
				[38.985041, -3.927154],
				[38.985064, -3.926518],




				[38.984962, -3.926011],
				[38.986130, -3.926215],
				[38.987809, -3.926370],

				[38.990056, -3.927298],
				[38.989889, -3.928178],






				[38.989774, -3.928207],
				[38.989431, -3.929433],
				[38.990381, -3.929938],
				[38.990602, -3.929197]
				]		}
				}
				});
			},1000);
			</script>
		
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="titulos_hermandad">
			ITINERARIO.
		</div>
		
		<div class="informacion_procesion">
			Pulsa sobre cualquier dirección para obtener una ruta desde tu posición actual.
			(Necesitarás una conexión a Internet activa)
		</div>
		
		<div id="geoloc_map_container" style="margin:auto;width:90%;display:none">
		
			<iframe id="geoloc_map" class="iframe_route_02" src=""> </iframe>
			
			<div id="geoloc_map_text" style="font-family:'4';font-size:1.2em;color:#333;padding:10px 10px;text-align:center;">
				Espere, calculando ruta...
			</div>
			
			<div class="ov_button_01" onclick="$('#geoloc_map_container').hide()">
				Ocultar
			</div>
			
			<div class="hollow_10px"> </div>
			
			<div class="ov_button_01" onclick="show_geoloc(destination);">
				Actualizar
			</div>			
			
		</div>
		
		<div id="ov_place_1" class="punto_a_ruta">
			Calle Cuenca
		</div>
		<script>
			$("#ov_place_1").click(function(e){
				show_geoloc("Calle Cuenca, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_2" class="punto_a_ruta">
			Calle Estacion Via Crucis
		</div>
		<script>
			$("#ov_place_2").click(function(e){
				show_geoloc("Calle Estacion Via Crucis, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_3" class="punto_a_ruta">
			Calle Caballeros
		</div>
		<script>
			$("#ov_place_3").click(function(e){
				show_geoloc("Calle Caballeros, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_4" class="punto_a_ruta">
			Pasaje De La Merced
		</div>
		<script>
			$("#ov_place_4").click(function(e){
				show_geoloc("Pasaje De La Merced, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_5" class="punto_a_ruta">
			Calle Toledo
		</div>
		<script>
			$("#ov_place_5").click(function(e){
				show_geoloc("Calle Toledo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_6" class="punto_a_ruta">
			Calle Feria
		</div>
		<script>
			$("#ov_place_6").click(function(e){
				show_geoloc("Calle Feria, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_7" class="punto_a_ruta">
			Mercado Viejo
		</div>
		<script>
			$("#ov_place_7").click(function(e){
				show_geoloc("Mercado Viejo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_8" class="punto_a_ruta">
			Plaza Mayor
		</div>
		<script>
			$("#ov_place_8").click(function(e){
				show_geoloc("Plaza Mayor, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_9" class="punto_a_ruta">
			Calle Cuchilleria
		</div>
		<script>
			$("#ov_place_9").click(function(e){
				show_geoloc("Calle Cuchilleria, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_10" class="punto_a_ruta">
			Calle Lanza
		</div>
		<script>
			$("#ov_place_10").click(function(e){
				show_geoloc("Calle Lanza, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_11" class="punto_a_ruta">
			Calle Cardenal Monescillo
		</div>
		<script>
			$("#ov_place_11").click(function(e){
				show_geoloc("Calle Cardenal Monescillo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_12" class="punto_a_ruta">
			Calle Luz
		</div>
		<script>
			$("#ov_place_12").click(function(e){
				show_geoloc("Calle Luz, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_13" class="punto_a_ruta">
			Calle Toledo
		</div>
		<script>
			$("#ov_place_13").click(function(e){
				show_geoloc("Calle Toledo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_14" class="punto_a_ruta">
			Calle Estacion Via Crucis
		</div>
		<script>
			$("#ov_place_14").click(function(e){
				show_geoloc("Calle Estacion Via Crucis, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_15" class="punto_a_ruta">
			Calle Paz
		</div>
		<script>
			$("#ov_place_15").click(function(e){
				show_geoloc("Calle Paz, Ciudad Real");
			});
		</script>
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
