<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_3" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_4" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_3").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_4").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div style="padding:10px;background-color:#5E3656">
			
			<div style="font-family:'3';font-size:1.7em;color:#FFF;padding-bottom:10px;text-align:left;">
				NAZARENO
			</div>
			<div style="font-family:'4';font-size:1.2em;color:#FFF;padding-bottom:10px;text-align:left;">
				22 de Marzo - Domingo de pasión
			</div>
			<div style="font-family:'4';font-size:1.2em;color:#FFF;padding-bottom:10px;text-align:left;">
				Salida a las <b>18:00h</b> desde la Parroquia de San Pedro Apóstol, en la calle General Rey, 1.
			</div>
			
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			La Hermandad organiza dos salidas procesionales, una en la tarde del Domingo de Pasión y la Estación de Penitencia de la Madruigada del Viernes Santo.
			La imagen se porta a costal, por una cuadrilla de 35 costaleros.
			<br>
			El exorno florar es de claveles rojos y rosas rojas.
			<br>
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			ORGANIZA.
		</div>
		
		<div id="ov_to_herman" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:20px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Antigua y Venerable Hermandad Penitencial de Nuestro Padre Jesús Nazareno y María Santísima del Amparo en su Gracia y Esperanza
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/hermandades/hermandad_nazareno.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			TÚNICA.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			De terciopelo morado con escapulario y capillo blanco, fajín del mismo color sobre el que se coloca la medalla de la hermandad sobre un óvalo de terciopelo morado, guantes blancos y calcetín y zapato negro. Los hermanos portan farol eléctrico.
			<img src="./resources/habitos/nazareno.jpg" style="display:block" class="tunica" />
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			Jesús con la cruz al hombro camino del Calvario
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			Autor: Antonio Illanes
			<br>
			Fecha: 1941
			<br><br>
			Obra del sevillano Antonio Illanes de 1941. Realizó su primera salida procesional en 1942.
			<p>Estrenos 2014</p>
			Continuación del tallado del paso del Señor, por el tallista cordobés José Carlos Rubio, juego de Palermos de Industrias Élite y Cruz Parroquial de la orfebrería Delgado López (Sevilla).<br>
			Terminación de la túnica bordada de corte talar, tras el traspaso de los antiguos bordados de la túnica del Señor de principios del siglo XX por el bordador alcazareño Jesús Díaz Hellín.
			<br><br>			
			<img src="./resources/pasos/nazareno.jpg" style="display:block;margin:auto;width:80%;max-width:300px"/>			
		</div>
											
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			MÚSICA.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Agrupación Musical Nuestra Señora de los Reyes de Sevilla.
			<p>Con composición musical dedicada "A tus Pies Padre Nazareno" de Mariano Infante Jurado (2006)</p>
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			RECORRIDO.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Con salida y llegada en la Parroquia de San Pedro, en Calle General Rey, 1. 
			La ruta se recorre en sentido horario.
			(El mapa no se mostrará sin una conexión a Internet activa)
		</div>
		
		<div style="margin:auto;width:90%">
		
			<iframe id="route_map" style="background-color:#5E3656;border:none;width:100%;height:500px;background-image:url(./resources/general_images/loader.gif);background-repeat:no-repeat;background-position:center center;" src=""> 
				
			</iframe>
			<script>
				route_map_url="https://www.google.com/maps/embed/v1/directions?key=AIzaSyAD0H1_lbHwk3jMUzjVeORmISbIP34XtzU&origin=Calle General Rey, 1, Ciudad Real&destination=Calle General Rey, 1, Ciudad Real&avoid=tolls|highways&mode=walking&waypoints=38.984473, -3.926329|Calle Ruiz Morote, Ciudad Real|Calle Hernán Pérez del Pulgar, Ciudad Real|Plaza Pilar, Ciudad Real|Calle General Aguilera, Ciudad Real|Plaza Mayor, Ciudad Real|Calle María Cristina, Ciudad Real|Calle Feria, Ciudad Real|Calle Prado, Ciudad Real|Calle Camarín, Ciudad Real|Calle Caballeros, Ciudad Real|Pasaje de la Merced, Ciudad Real|Calle Toledo,17, Ciudad Real|Calle María Cristina, Ciudad Real|Calle Cruz, 1, Ciudad Real|Calle Paloma, Ciudad Real|Calle Ruiz Morote, Ciudad Real&language=es&zoom=15&center=38.984473, -3.926329";
				setTimeout(function(){
					$("#route_map").attr("src",route_map_url);
				},2000);
			</script>
		
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			ITINERARIO.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Pulsa sobre cualquier dirección para obtener una ruta desde tu posición actual.
			(Necesitarás una conexión a Internet activa)
		</div>
		
		<div id="geoloc_map_container" style="margin:auto;width:90%;display:none">
		
			<iframe id="geoloc_map" style="background-color:#5E3656;border:none;width:100%;height:400px;background-image:url(./resources/general_images/loader.gif);background-repeat:no-repeat;background-position:center center;" src=""> </iframe>
			
			<div id="geoloc_map_text" style="font-family:'4';font-size:1.2em;color:#333;padding:10px 10px;text-align:center;">
				Espere, calculando ruta...
			</div>
			
			<div class="ov_button_01" onclick="$('#geoloc_map_container').hide()">
				Ocultar
			</div>
			
			<div class="hollow_10px"> </div>
			
			<div class="ov_button_01" onclick="show_geoloc(destination);">
				Actualizar
			</div>			
			
		</div>
		
		<div id="ov_place_1" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Ruiz Morote
		</div>
		<script>
			$("#ov_place_1").click(function(e){
				show_geoloc("Calle Ruiz Morote, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_2" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Hernán Pérez del Pulgar
		</div>
		<script>
			$("#ov_place_2").click(function(e){
				show_geoloc("Calle Hernán Pérez del Pulgar, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_3" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza del Pilar
		</div>
		<script>
			$("#ov_place_3").click(function(e){
				show_geoloc("Plaza del Pilar, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_4" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle General Aguilera
		</div>
		<script>
			$("#ov_place_4").click(function(e){
				show_geoloc("Calle General Aguilera, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_5" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza Mayor
		</div>
		<script>
			$("#ov_place_5").click(function(e){
				show_geoloc("Plaza Mayor, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_6" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle María Cristina
		</div>
		<script>
			$("#ov_place_6").click(function(e){
				show_geoloc("Calle María Cristina, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_7" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Feria
		</div>
		<script>
			$("#ov_place_7").click(function(e){
				show_geoloc("Calle Feria, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_8" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Prado
		</div>
		<script>
			$("#ov_place_8").click(function(e){
				show_geoloc("Calle Prado, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_9" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Camarín
		</div>
		<script>
			$("#ov_place_9").click(function(e){
				show_geoloc("Calle Camarín, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_10" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Caballeros
		</div>
		<script>
			$("#ov_place_10").click(function(e){
				show_geoloc("Calle Caballeros, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_11" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Cruz
		</div>
		<script>
			$("#ov_place_11").click(function(e){
				show_geoloc("Calle Cruz, 1, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_12" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Paloma
		</div>
		<script>
			$("#ov_place_12").click(function(e){
				show_geoloc("Calle Paloma, Ciudad Real");
			});
		</script>
				
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
