<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_3" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_4" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_3").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_4").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div style="padding:10px;background-color:#5E3656">
			
			<div style="font-family:'3';font-size:1.7em;color:#FFF;padding-bottom:10px;text-align:left;">
				LAS PENAS
			</div>
			<div style="font-family:'4';font-size:1.2em;color:#FFF;padding-bottom:10px;text-align:left;">
				31 de Marzo - Martes Santo
			</div>
			<div style="font-family:'4';font-size:1.2em;color:#FFF;padding-bottom:10px;text-align:left;">
				Salida a las <b>21:00h</b> desde el Convento de las Carmelitas.
			</div>
			
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			La Hermandad organiza una salida procesional, en la noche del Martes Santo.
			La imagen se porta a costal, por una cuadrilla de 35 costaleros.
			<br>
			El exorno floral es un manto de lirios morados.
			<br>
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			ORGANIZA.
		</div>
		
		<div id="ov_to_herman" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:20px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Penitencial Hermandad y Cofradía de Nazarenos de la Humillación de Nuestro Señor Jesús de las Penas
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/hermandades/hermandad_penas.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			TÚNICA.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			De color rojo con botonadura color negro, al igual que el capillo con babero con el escudo de la hermandad; fajín alto de pita,  zapato y calcetín negro. Los hermanos portan cirios de color rojo.
			<img src="./resources/habitos/penas.jpg" style="display:block" class="tunica" />
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			Jesús de la Penas
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			Autor: Víctor González Gil y Faustino Sanz Herranz
			<br>
			Fecha: 1992
			<br><br>
			Jesús de la Penas. Es una obra inacabada de Víctor González Gil, a quien le sorprendió la muerte mientras las estaba realizando. Tuvo que ser terminada y policromada por el también madrileño Faustino Sanz Herranz en 1992.  El cirineo es obra del año 2006 del cordobés Miguel Ángel González Jurado, quien también tallo las nuevas manos del Señor en 2003.
			<p>Estrenos 2014</p>
			Primera fase de carpintería de la nueva canastilla y talla de las esquinas y parte del frontal, realizado en los talleres de Alberto Fernández Romero de Villarubia de los Ojos Juego de potencias para el Señor de procesionar realizadas en Orfebrería Orovio de la Torre.
			<br><br>	
			<img src="./resources/pasos/penas.jpg" style="display:block;margin:auto;width:80%;max-width:300px"/>			
		</div>
											
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			MÚSICA.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			La Cofradía va acompañada por un trío de música de capilla compuesto por instrumentos de viento y madera (clarinete, oboe y fagot) se interpretan piezas fúnebres y molotes.
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			RECORRIDO.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Con salida y llegada al Convento de las Carmelitas.
			La ruta se recorre en sentido antihorario.
			(El mapa no se mostrará sin una conexión a Internet activa)
		</div>
		
		<div style="margin:auto;width:90%">
		
			<iframe id="route_map" src="" width="600" height="450" frameborder="0" style="border:0"></iframe>

			<script>
				route_map_url="https://www.google.com/maps/embed?pb=!1m59!1m12!1m3!1d775.2954193248473!2d-3.9295214943705004!3d38.98834980307217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m44!1i0!3e2!4m3!3m2!1d38.988403399999996!2d-3.930605!4m3!3m2!1d38.9857012!2d-3.9303041999999997!4m3!3m2!1d38.9862105!2d-3.9295305999999997!4m3!3m2!1d38.9860085!2d-3.9289085!4m3!3m2!1d38.985999!2d-3.9284388999999997!4m3!3m2!1d38.9847901!2d-3.9252018!4m3!3m2!1d38.986229699999996!2d-3.9255874!4m3!3m2!1d38.988118199999995!2d-3.9283915!4m5!1s0xd6bc36a4da1bac3%3A0x8089b74bfa006e40!2sPje+Merced%2C+13001+Ciudad+Real!3m2!1d38.9876469!2d-3.9290184!4m3!3m2!1d38.988476399999996!2d-3.9304028!5e0!3m2!1ses!2ses!4v1424336751697";
				setTimeout(function(){
					$("#route_map").attr("src",route_map_url);
				},2000);
			</script>
		
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			ITINERARIO.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Pulsa sobre cualquier dirección para obtener una ruta desde tu posición actual.
			(Necesitarás una conexión a Internet activa)
		</div>
		
		<div id="geoloc_map_container" style="margin:auto;width:90%;display:none">
		
			<iframe id="geoloc_map" style="background-color:#5E3656;border:none;width:100%;height:400px;background-image:url(./resources/general_images/loader.gif);background-repeat:no-repeat;background-position:center center;" src=""> </iframe>
			
			<div id="geoloc_map_text" style="font-family:'4';font-size:1.2em;color:#333;padding:10px 10px;text-align:center;">
				Espere, calculando ruta...
			</div>
			
			<div class="ov_button_01" onclick="$('#geoloc_map_container').hide()">
				Ocultar
			</div>
			
			<div class="hollow_10px"> </div>
			
			<div class="ov_button_01" onclick="show_geoloc(destination);">
				Actualizar
			</div>			
			
		</div>
		
		<div id="ov_place_1" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Convento Del Carmen
		</div>
		<script>
			$("#ov_place_1").click(function(e){
				show_geoloc("Convento Del Carmen, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_2" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Azucena
		</div>
		<script>
			$("#ov_place_2").click(function(e){
				show_geoloc("Calle Azucena, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_3" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Reyes
		</div>
		<script>
			$("#ov_place_3").click(function(e){
				show_geoloc("Calle Reyes, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_4" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Paseo Del Prado
		</div>
		<script>
			$("#ov_place_4").click(function(e){
				show_geoloc("Paseo Del Prado, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_5" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Prado
		</div>
		<script>
			$("#ov_place_5").click(function(e){
				show_geoloc("Calle Prado, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_6" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Feria
		</div>
		<script>
			$("#ov_place_6").click(function(e){
				show_geoloc("Calle Feria, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_7" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle María Cristina
		</div>
		<script>
			$("#ov_place_7").click(function(e){
				show_geoloc("Calle Maria Cristina, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_8" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza Mayor
		</div>
		<script>
			$("#ov_place_8").click(function(e){
				show_geoloc("Plaza Mayor, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_9" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Cuchillería
		</div>
		<script>
			$("#ov_place_9").click(function(e){
				show_geoloc("Calle Cuchilleria, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_10" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Lanza
		</div>
		<script>
			$("#ov_place_10").click(function(e){
				show_geoloc("Calle Lanza, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_11" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Conde De La Cañada
		</div>
		<script>
			$("#ov_place_11").click(function(e){
				show_geoloc("Calle Conde De La Cañada, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_12" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Libertad
		</div>
		<script>
			$("#ov_place_12").click(function(e){
				show_geoloc("Calle Libertad, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_13" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Cruz
		</div>
		<script>
			$("#ov_place_13").click(function(e){
				//show_geoloc("");
			});
		</script>
				
		<div id="ov_place_14" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle María Cristina
		</div>
		<script>
			$("#ov_place_14").click(function(e){
				show_geoloc("Calle Maria Cristina, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_15" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Toledo
		</div>
		<script>
			$("#ov_place_15").click(function(e){
				show_geoloc("Calle Toledo, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_16" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Pasaje De La Merced
		</div>
		<script>
			$("#ov_place_16").click(function(e){
				show_geoloc("Pasaje De La Merced, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_17" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Caballeros
		</div>
		<script>
			$("#ov_place_17").click(function(e){
				show_geoloc("Calle Caballeros, Ciudad Real");
			});
		</script>
				
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
