<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_3" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_4" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_3").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_4").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div class="titulos_procesion">
				ANGUSTIAS
			</div>
			<div class="subtitulos_procesion">
				25 de Marzo - Viernes Santo
			</div>
			<div class="subtitulos_procesion">
				Salida a las <b>21:30h</b> desde Parroquia de la Merced.
			</div>
			
		</div>
		
		<div class="informacion_procesion">
			La Hermandad organiza una salida procesional, en la tarde del Viernes Santo.<br>
			Forma de portar, a costal, por 28 costaleros.
			<br>
			El exorno floral es de lilium morado.
			<br>
		</div>
		
		<div class="titulos_hermandad">
			ORGANIZA.
		</div>
		
		<div id="ov_to_herman" class="enlace_a_hermandad">
			Hermandad De Nuestra Señora De Las Angustias
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/hermandades/hermandad_angustias.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div class="titulos_hermandad">
			TÚNICA.
		</div>
		
		<div class="informacion_procesion">
			Negra mate, en forma de capote militar, con botonadura redonda dorada en la parte central y cierre en bocamanga de cordón amarillo. Capillo de raso negro con el escudo de la hermandad bordado, guante, zapato y calcetín negro. Los hermanos alumbran con cera natural color negro.
			<img src="./resources/habitos/angustias.jpg" style="display:block" class="tunica" />
		</div>
		
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="subtitulo_pasos">
			Virgen de las Angustias con Jesús muerto en sus brazos
		</div>
		
		<div class="informacion_pasos">
			Autor: Luis Marco Pérez
			<br>
			Fecha: 1944
			<p><b>Estrenos 2016</b></p>
			Cruz parroquial, con adornos en metal plateado, realizada en talleres Ramón Orovio de la Torre (Torralba de Calatrava, Ciudad Real).
			<br><br>
			<img src="./resources/pasos/angustias.jpg" class="imagenes_pasos"/>						
		</div>
	
		<div class="titulos_hermandad">
			MÚSICA.
		</div>
		
		<div class="informacion_procesion">
			Agrupación Musical Santo Tomás de Villanueva (Ciudad Real)
		</div>
		
		<div class="titulos_hermandad">
			RECORRIDO.
		</div>
		
		<div class="informacion_procesion">
			Con salida y llegada de la Parroquia de la Merced.<br>
			(El mapa no se mostrará sin una conexión a Internet activa)
		</div>
		
		<div style="margin:auto;width:90%">
		
			<div id="mapa_angustias" class="iframe_route"></div>
			<script>
			setTimeout(function() {
				var lineSymbol = { path: google.maps.SymbolPath.FORWARD_OPEN_ARROW, scale: 2 };
				$("#mapa_angustias").gmap3({
					map:{
						options:{
						center:[38.986137, -3.926220],
						zoom:15
						}
					},
					marker:{
						values:[
						{latLng:[38.987916, -3.928551], data:"Pasaje de la Merced"}]
					},
					polyline:{
					options:{
						strokeColor: "#6F65D5",
						strokeOpacity: 0.6,
						strokeWeight: 4,
						icons: [{icon: lineSymbol, offset: '3%'},
								{icon: lineSymbol, offset: '10%'},
								{icon: lineSymbol, offset: '20%'},
								{icon: lineSymbol, offset: '30%'},
								{icon: lineSymbol, offset: '40%'},
								{icon: lineSymbol, offset: '50%'},
								{icon: lineSymbol, offset: '60%'},
								{icon: lineSymbol, offset: '70%'},
								{icon: lineSymbol, offset: '80%'},
								{icon: lineSymbol, offset: '90%'},
								{icon: lineSymbol, offset: '98%'},
								],
						path:[

							[38.987916, -3.928551],
							[38.988011, -3.928404],
							[38.987325, -3.928457],
							[38.986599, -3.928487],
							[38.986533, -3.928382],
							[38.986339, -3.928500],
							[38.985895, -3.929050],

							[38.985088, -3.928372], //plaza mayor
							[38.984986, -3.928147], 
							[38.985106, -3.927194],
							[38.985008, -3.927140], //lanza
							[38.985050, -3.926494],
							[38.984957, -3.926008],
							[38.986137, -3.926220],
							[38.987788, -3.926360],
							[38.988130, -3.926446],
							[38.989137, -3.926888],
							[38.988924, -3.927806],
							[38.988757, -3.928294],
							[38.989778, -3.928212],
							[38.989588, -3.928952],
							[38.989415, -3.929438],
							[38.988819, -3.930349],
							[38.988827, -3.930422],
							[38.988737, -3.930551],
							[38.987302, -3.929656],
							[38.987702, -3.928924],
							[38.987916, -3.928551],
							
						]
						}
					}
				});
			
			},1000);
			</script>
		
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="titulos_hermandad">
			ITINERARIO.
		</div>
		
		<div class="informacion_procesion">
			Pulsa sobre cualquier dirección para obtener una ruta desde tu posición actual.
			(Necesitarás una conexión a Internet activa)
		</div>
		
		<div id="geoloc_map_container" style="margin:auto;width:90%;display:none">
		
			<iframe id="geoloc_map" class="iframe_route_02" src=""> </iframe>
			
			<div id="geoloc_map_text" style="font-family:'4';font-size:1.2em;color:#333;padding:10px 10px;text-align:center;">
				Espere, calculando ruta...
			</div>
			
			<div class="ov_button_01" onclick="$('#geoloc_map_container').hide()">
				Ocultar
			</div>
			
			<div class="hollow_10px"> </div>
			
			<div class="ov_button_01" onclick="show_geoloc(destination);">
				Actualizar
			</div>			
			
		</div>
		
		<div id="ov_place_1" class="punto_a_ruta">
			Parroquia de la Merced
		</div>
		<script>
			$("#ov_place_1").click(function(e){
				show_geoloc("Pasaje De La Merced, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_2" class="punto_a_ruta">
			Calle Toledo
		</div>
		<script>
			$("#ov_place_2").click(function(e){
				show_geoloc("Calle Toledo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_3" class="punto_a_ruta">
			Calle Feria
		</div>
		<script>
			$("#ov_place_3").click(function(e){
				show_geoloc("Calle Feria, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_4" class="punto_a_ruta">
			Mercado Viejo
		</div>
		<script>
			$("#ov_place_4").click(function(e){
				show_geoloc("Mercado Viejo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_5" class="punto_a_ruta">
			Plaza Mayor
		</div>
		<script>
			$("#ov_place_5").click(function(e){
				show_geoloc("Plaza Mayor, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_6" class="punto_a_ruta">
			Calle Cuchilleria
		</div>
		<script>
			$("#ov_place_6").click(function(e){
				show_geoloc("Calle Cuchilleria, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_7" class="punto_a_ruta">
			Calle Lanza
		</div>
		<script>
			$("#ov_place_7").click(function(e){
				show_geoloc("Calle Lanza, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_10" class="punto_a_ruta">
			Calle Cardenal Monescillo
		</div>
		<script>
			$("#ov_place_10").click(function(e){
				show_geoloc("Calle Cardenal Monescillo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_11" class="punto_a_ruta">
			Calle Luz
		</div>
		<script>
			$("#ov_place_11").click(function(e){
				show_geoloc("Calle Luz, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_12" class="punto_a_ruta">
			Calle Jacinto
		</div>
		<script>
			$("#ov_place_12").click(function(e){
				show_geoloc("Calle Jacinto, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_13" class="punto_a_ruta">
			Calle Toledo
		</div>
		<script>
			$("#ov_place_13").click(function(e){
				show_geoloc("Calle Toledo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_14" class="punto_a_ruta">
			Calle Estación Vía Crucis
		</div>
		<script>
			$("#ov_place_14").click(function(e){
				show_geoloc("Calle Estación Vía Crucis, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_15" class="punto_a_ruta">
			Plaza del Carmen
		</div>
		<script>
			$("#ov_place_15").click(function(e){
				show_geoloc("Plaza del Carmen, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_15" class="punto_a_ruta">
			Calle Caballeros
		</div>
		<script>
			$("#ov_place_15").click(function(e){
				show_geoloc("Calle Caballeros, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_15" class="punto_a_ruta">
			Pasaje De La Merced
		</div>
		<script>
			$("#ov_place_15").click(function(e){
				show_geoloc("Pasaje De La Merced, Ciudad Real");
			});
		</script>
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
