<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_3" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_4" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_3").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_4").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div style="padding:10px;background-color:#5E3656">
			
			<div class="titulos_procesion">
				SOLEDAD
			</div>
			<div class="subtitulos_procesion">
				4 de Abril - Sábado Santo
			</div>
			<div class="subtitulos_procesion">
				Salida a las <b>17:00h</b> desde la Parroquia de San Pedro.
			</div>
			
		</div>
		
		<div class="informacion_procesion">
			La Hermandad organiza una salida procesional, en la tarde del Sábado Santo.
			Forma de portar, a costal, tiene una cuadrilla de 48 costaleros.
			<br>
		</div>
		
		<div class="titulos_hermandad">
			ORGANIZA.
		</div>
		
		<div id="ov_to_herman" class="enlace_a_hermandad">
			Real Cofradía De Nuestra Señora De La Soledad, Tercio De Los Siete Dolores, Santa Cruz En El Monte Calvario Y María Santísima De La Amargura Y San Juan Evangelista
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/hermandades/hermandad_soledad.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div class="titulos_hermandad">
			TÚNICA.
		</div>
		
		<div class="informacion_procesion">
			De sarga negra con el capillo del mismo color que lleva bordado el escudo de la Hermandad a la altura del pecho. A la cintura se ceñirá con un cinturón de esparto de 12 centímetros, zapato y calcetín negro. Los hermanos alumbran con cirios.
			<img src="./resources/habitos/soledad.jpg" style="display:block" class="tunica" />
		</div>
		
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="subtitulo_pasos">
			Sección del misterio
		</div>
		
		<div class="informacion_pasos">
			<b>Virgen de la Amargura</b>
			<br>
			Autor: José Rivera García
			<br>
			Fecha: 1940
			<br><br>	
			<b>San Juan Evangelista</b>
			<br>
			Autor: Darío Fernández Parra
			<br>
			Fecha: 2005
			<br><br>
			<b>	María Magdalena</b>
			<br>
			Autor: Darío Fernández Parra
			<br>
			Fecha: 2004
			<br><br>			
		</div>
		
		<div class="subtitulo_pasos">
			Virgen de la Soledad 
		</div>
		
		<div class="informacion_pasos">
			Autor: Luis Marco Pérez
			<br>
			Fecha: 1945
			<br><br>			
			<img src="./resources/pasos/soledad.jpg" class="imagenes_pasos"/>			
		</div>
											
		<div class="titulos_hermandad">
			MÚSICA.
		</div>
		
		<div class="informacion_procesion">
			<p>PASO DE MISTERIO: Música de capilla<br>
			PASO DE PALIO: Banda Sinfónica "Reina de la Amargura" de Jaén.</p>
		</div>
		
		<div class="titulos_hermandad">
			RECORRIDO.
		</div>
		
		<div class="informacion_procesion">
			Con salida y llegada desde la Parroquia de San Pedro.<br>
			(El mapa no se mostrará sin una conexión a Internet activa)
		</div>
		
		<div style="margin:auto;width:90%">
		
			<iframe id="route_map" class="iframe_route" src=""> 
				
			</iframe>
			<script>
				route_map_url="https://www.google.com/maps/embed?pb=!1m60!1m12!1m3!1d6202.629751581581!2d-3.9277074413262416!3d38.9853094758871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m45!1i0!3e2!4m3!3m2!1d38.984427499999995!2d-3.9262953!4m3!3m2!1d38.983523399999996!2d-3.9275073999999996!4m3!3m2!1d38.983042999999995!2d-3.9287953!4m5!1s0xd6bc36acd198433%3A0x796e7f692c900fd2!2sCalle+General+Aguilera%2C+13001+Ciudad+Real%2C+Espa%C3%B1a!3m2!1d38.9844228!2d-3.9283078999999996!4m3!3m2!1d38.985999!2d-3.9284388999999997!4m3!3m2!1d38.9859712!2d-3.9289541!4m3!3m2!1d38.987147199999995!2d-3.9305401!4m3!3m2!1d38.9877008!2d-3.9284215!4m4!2sCalle+Cruz%2C+Ciudad+Real%2C+Espa%C3%B1a!3m2!1d38.9845943!2d-3.9278446!4m3!3m2!1d38.9845426!2d-3.9268943!5e0!3m2!1ses!2ses!4v1424348973606";
				setTimeout(function(){
					$("#route_map").attr("src",route_map_url);
				},2000);
			</script>
		
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="titulos_hermandad">
			ITINERARIO.
		</div>
		
		<div class="informacion_procesion">
			Pulsa sobre cualquier dirección para obtener una ruta desde tu posición actual.
			(Necesitarás una conexión a Internet activa)
		</div>
		
		<div id="geoloc_map_container" style="margin:auto;width:90%;display:none">
		
			<iframe id="geoloc_map" class="iframe_route_02" src=""> </iframe>
			
			<div id="geoloc_map_text" style="font-family:'4';font-size:1.2em;color:#333;padding:10px 10px;text-align:center;">
				Espere, calculando ruta...
			</div>
			
			<div class="ov_button_01" onclick="$('#geoloc_map_container').hide()">
				Ocultar
			</div>
			
			<div class="hollow_10px"> </div>
			
			<div class="ov_button_01" onclick="show_geoloc(destination);">
				Actualizar
			</div>			
			
		</div>
		
		<div id="ov_place_1" class="punto_a_ruta">
			Calle Ruiz Morote
		</div>
		<script>
			$("#ov_place_1").click(function(e){
				show_geoloc("Calle Ruiz Morote, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_2" class="punto_a_ruta">
			Calle Hernan Perez Del Pulgar
		</div>
		<script>
			$("#ov_place_2").click(function(e){
				show_geoloc("Calle Hernan Perez Del Pulgar, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_3" class="punto_a_ruta">
			Plaza Del Pilar
		</div>
		<script>
			$("#ov_place_3").click(function(e){
				show_geoloc("Plaza Del Pilar, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_4" class="punto_a_ruta">
			Calle General Aguilera
		</div>
		<script>
			$("#ov_place_4").click(function(e){
				show_geoloc("Calle General Aguilera, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_5" class="punto_a_ruta">
			Plaza Mayor
		</div>
		<script>
			$("#ov_place_5").click(function(e){
				show_geoloc("Plaza Mayor, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_6" class="punto_a_ruta">
			Calle Maria Cristina
		</div>
		<script>
			$("#ov_place_6").click(function(e){
				show_geoloc("Calle Maria Cristina, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_7" class="punto_a_ruta">
			Calle Feria
		</div>
		<script>
			$("#ov_place_7").click(function(e){
				show_geoloc("Calle Feria, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_8" class="punto_a_ruta">
			Calle Prado
		</div>
		<script>
			$("#ov_place_8").click(function(e){
				show_geoloc("Calle Prado, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_9" class="punto_a_ruta">
			Calle Camarín
		</div>
		<script>
			$("#ov_place_9").click(function(e){
				show_geoloc("Calle Camarín, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_10" class="punto_a_ruta">
			Calle Caballeros
		</div>
		<script>
			$("#ov_place_10").click(function(e){
				show_geoloc("Calle Caballeros, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_11" class="punto_a_ruta">
			Pasaje De La Merced
		</div>
		<script>
			$("#ov_place_11").click(function(e){
				show_geoloc("Pasaje De La Merced, 1, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_12" class="punto_a_ruta">
			Plaza De La Merced
		</div>
		<script>
			$("#ov_place_12").click(function(e){
				show_geoloc("Plaza De La Merced, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_13" class="punto_a_ruta">
			Calle Toledo
		</div>
		<script>
			$("#ov_place_13").click(function(e){
				show_geoloc("Calle Toledo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_14" class="punto_a_ruta">
			Calle Maria Cristina
		</div>
		<script>
			$("#ov_place_14").click(function(e){
				show_geoloc("Calle Maria Cristina, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_15" class="punto_a_ruta">
			Calle Cruz
		</div>
		<script>
			$("#ov_place_15").click(function(e){
				show_geoloc("Calle Cruz, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_16" class="punto_a_ruta">
			Calle Paloma
		</div>
		<script>
			$("#ov_place_16").click(function(e){
				show_geoloc("Calle Paloma, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_16" class="punto_a_ruta">
			Calle Ruiz Morote
		</div>
		<script>
			$("#ov_place_16").click(function(e){
				show_geoloc("Calle Ruiz Morote, Ciudad Real");
			});
		</script>
				
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
