<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_3" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_4" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_3").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_4").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div class="titulos_procesion">
				LAS PALMAS
			</div>
			<div class="subtitulos_procesion">
				20 de Marzo - Domingo de Ramos
			</div>
			<div class="subtitulos_procesion">
				Salida a las <b>11:30h</b> desde el Colegio Salesiano Hermano Gárate, calle Ramirez Arellano. 
			</div>
			
		</div>
		
		<div class="informacion_procesion">
			La Hermandad organiza una salida procesional, en la mañana del Domingo de Ramos.
			La imagen se porta a costal, por una cuadrilla de 40 costaleros.
			<br>
			El exorno floral es de claveles blancos.
			<br>
		</div>
		
		<div class="titulos_hermandad">
			ORGANIZA.
		</div>
		
		<div id="ov_to_herman" class="enlace_a_hermandad">
			Hermandad de las Palmas
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/hermandades/hermandad_palmas.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div class="titulos_hermandad">
			TÚNICA.
		</div>
		
		<div class="informacion_procesion">
			Blanca con botonadura amarilla y capillo blanco ribeteado con un cordón amarillo, capa azul celeste con el anagrama de la congregación mariana en fondo blanco en el lado izquierdo; fajín también azul celeste con borlas de hilo de oro; guante blanco y calzado negro. Los hermanos portan palmas.
			<img src="./resources/habitos/palmas.jpg" style="display:block" class="tunica" />
		</div>
		
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="subtitulo_pasos">
			Santísimo Niño de la Paz
		</div>
		
		<div class="informacion_pasos">
			Autor: Anónimo
			<br>
			Fecha: S. XVII
			<br><br>
			Viste una túnica de terciopelo rojo bordada en oro.<br>
			<p><b>Estrenos 2016</b></p>
			La Hermandad estrenará los cuatro faroles del paso del Stmo. Niño de la Paz, obra del taller Alberto Fernández. (Villarrubia de los Ojos. Ciudad Real).
			<br><br>	
			<img src="./resources/pasos/ninopaz.jpg" class="imagenes_pasos"/>			
		</div>
		<div class="hollow_10px"> </div>
		
		<div class="subtitulo_pasos">
			Misterio de la Entrada de Jesús en Jerusalén
		</div>
		
		<div class="informacion_pasos">
			Autor: D.José de Rabasa y Antonio Royo Miralles
			<br>
			Fecha: 1945
			<br><br>
			La Sagrada Entrada de Jesús en Jerusalén. Obra de los valencianos José Rabasa Pérez y Antonio Royo Miralles (1945), autores también de las imágenes de un hebreo y dos niños que aclaman a Jesús (1960). Completa la escena una palmera estrenada en el año 2003 del escultor sevillano Fernando Cotro Sáez. El paso, estrenado en 2003, tiene canastilla de madera con cabezas de ángeles y respiraderos en metal sobredorado con cartelas de la orfebrería de Ramón Orovio de Torralba de Calatrava, siendo los faldones de terciopelo azul. El paso es llevado a costal.
			<br><br>	
			<img src="./resources/pasos/palmas.jpg" class="imagenes_pasos"/>			
		</div>
											
		<div class="titulos_hermandad">
			MÚSICA.
		</div>
		
		<div class="informacion_procesion">
			Agrupación Musical Nuestro Padre Jesús Redentor de Moral de Calatrava.
		</div>
		
		<div class="titulos_hermandad">
			RECORRIDO.
		</div>
		
		<div class="informacion_procesion">
			Con salida y llegada al Colegio Salesiano Hermano Gárate, calle Ramirez Arellano. 
			La ruta se recorre en sentido horario.
			(El mapa no se mostrará sin una conexión a Internet activa)
		</div>
		
		<div style="margin:auto;width:90%">
		
			<div id="mapa_las_palmas" class="iframe_route"></div>
			<script>	
			setTimeout(function() {
				var lineSymbol = { path: google.maps.SymbolPath.FORWARD_OPEN_ARROW, scale: 2 };
				$("#mapa_las_palmas").gmap3({
					map:{
					options:{
					center:[38.985239, -3.928353],
					zoom:15
					}
					},
					marker:{
					values:[
					{latLng:[38.982329, -3.929042], data:"Ramirez Arellano"}]
					},
					polyline:{
					options:{
						strokeColor: "#6F65D5",
						strokeOpacity: 0.6,
						strokeWeight: 4,
						icons: [{icon: lineSymbol, offset: '15%'},
						{icon: lineSymbol, offset: '30%'},
						{icon: lineSymbol, offset: '45%'},
						{icon: lineSymbol, offset: '60%'},
						{icon: lineSymbol, offset: '75%'},
						{icon: lineSymbol, offset: '90%'},
						],
						path:[
						[38.982329, -3.929042],
						[38.982761, -3.929208],
						[38.983242, -3.929648],
						[38.983543, -3.929817],

						[38.983681, -3.929319],
						[38.984067, -3.929201],
						[38.984404, -3.929359],

						[38.985411, -3.929962],
						[38.985703, -3.930311],
						[38.986211, -3.929525],
						[38.986856, -3.930525],
						[38.986924, -3.930700],
						[38.987356, -3.930397],
						[38.987708, -3.929903],
						[38.987306, -3.929656],
						[38.987535, -3.929216],
						[38.988013, -3.928409],
						[38.986599, -3.928481],
						[38.986534, -3.928388],
						[38.986345, -3.928479],

						[38.986001, -3.928439],

						[38.984995, -3.928141],

						[38.985103, -3.927199],
						[38.984307, -3.926770],
						[38.984203, -3.927299],
						[38.983729, -3.928543],
						[38.983588, -3.928460],
						[38.983271, -3.928524],
						[38.983002, -3.928723],
						[38.982766, -3.929224],
						[38.982324, -3.929039],

						]
						}
					}
				});
			}, 1000);
			</script>
		
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="titulos_hermandad">
			ITINERARIO.
		</div>
		
		<div class="informacion_procesion">
			Pulsa sobre cualquier dirección para obtener una ruta desde tu posición actual.
			(Necesitarás una conexión a Internet activa)
		</div>
		
		<div id="geoloc_map_container" style="margin:auto;width:90%;display:none">
		
			<iframe id="geoloc_map" class="iframe_route_02" src=""> </iframe>
			
			<div id="geoloc_map_text" style="font-family:'4';font-size:1.2em;color:#333;padding:10px 10px;text-align:center;">
				Espere, calculando ruta...
			</div>
			
			<div class="ov_button_01" onclick="$('#geoloc_map_container').hide()">
				Ocultar
			</div>
			
			<div class="hollow_10px"> </div>
			
			<div class="ov_button_01" onclick="show_geoloc(destination);">
				Actualizar
			</div>			
			
		</div>
		
		<div id="ov_place_1" class="punto_a_ruta">
			Calle Ramirez Arellano
		</div>
		<script>
			$("#ov_place_1").click(function(e){
				show_geoloc("Calle Ramirez Arellano, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_2" class="punto_a_ruta">
			Pasaje Gutierrez Ortega
		</div>
		<script>
			$("#ov_place_2").click(function(e){
				show_geoloc("Pasaje Gutierrez Ortega, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_3" class="punto_a_ruta">
			Calle Alarcos
		</div>
		<script>
			$("#ov_place_3").click(function(e){
				show_geoloc("Calle Alarcos, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_4" class="punto_a_ruta">
			Plaza De Cervantes
		</div>
		<script>
			$("#ov_place_4").click(function(e){
				show_geoloc("Plaza De Cervantes, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_5" class="punto_a_ruta">
			Avenida Alfonso X El Sabio
		</div>
		<script>
			$("#ov_place_5").click(function(e){
				show_geoloc("Avenida Alfonso X El Sabio, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_6" class="punto_a_ruta">
			Calle Reyes
		</div>
		<script>
			$("#ov_place_6").click(function(e){
				show_geoloc("Calle Reyes, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_7" class="punto_a_ruta">
			Calle Prado
		</div>
		<script>
			$("#ov_place_7").click(function(e){
				show_geoloc("Calle Prado, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_8" class="punto_a_ruta">
			Paseo Del Prado
		</div>
		<script>
			$("#ov_place_8").click(function(e){
				show_geoloc("Paseo del Prado, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_9" class="punto_a_ruta">
			Calle Camarín
		</div>
		<script>
			$("#ov_place_9").click(function(e){
				show_geoloc("Calle Camarin, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_10" class="punto_a_ruta">
			Calle Caballeros
		</div>
		<script>
			$("#ov_place_10").click(function(e){
				show_geoloc("Calle Caballeros, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_11" class="punto_a_ruta">
			Pasaje De La Merced
		</div>
		<script>
			$("#ov_place_11").click(function(e){
				show_geoloc("Pasaje de Merced, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_12" class="punto_a_ruta">
			Plaza De La Merced
		</div>
		<script>
			$("#ov_place_12").click(function(e){
				show_geoloc("Plaza de Merced, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_13" class="punto_a_ruta">
			Calle Toledo
		</div>
		<script>
			$("#ov_place_13").click(function(e){
				show_geoloc("Calle Toledo, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_14" class="punto_a_ruta">
			Calle María Cristina
		</div>
		<script>
			$("#ov_place_14").click(function(e){
				show_geoloc("Calle Maria Cristina, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_15" class="punto_a_ruta">
			Plaza Mayor
		</div>
		<script>
			$("#ov_place_15").click(function(e){
				show_geoloc("Plaza Mayor, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_16" class="punto_a_ruta">
			Calle Cuchillería
		</div>
		<script>
			$("#ov_place_16").click(function(e){
				show_geoloc("Calle Cuchilleria, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_17" class="punto_a_ruta">
			Calle Ruiz Morote
		</div>
		<script>
			$("#ov_place_17").click(function(e){
				show_geoloc("Calle Ruiz Morote, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_18" class="punto_a_ruta">
			Calle Ramón y Cajal
		</div>
		<script>
			$("#ov_place_18").click(function(e){
				show_geoloc("Calle Ramon y Cajal, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_19" class="punto_a_ruta">
			Plaza Del Pilar
		</div>
		<script>
			$("#ov_place_19").click(function(e){
				show_geoloc("Plaza Del Pilar, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_20" class="punto_a_ruta">
			Avenida Rey Santo
		</div>
		<script>
			$("#ov_place_20").click(function(e){
				show_geoloc("Avenida Rey Santo, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_21" class="punto_a_ruta">
			Calle Ramirez Arellano
		</div>
		<script>
			$("#ov_place_21").click(function(e){
				show_geoloc("Calle Ramirez Arellano, Ciudad Real");
			});
		</script>
				
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
