<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_3" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_4" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_3").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_4").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div style="padding:10px;background-color:#5E3656">
			
			<div class="titulos_procesion">
				CRISTO DEL PERDÓN Y DE LAS AGUAS
			</div>
			<div class="subtitulos_procesion">
				3 de Abril - Viernes Santo
			</div>
			<div class="subtitulos_procesion">
				Salida a las <b>11:45h</b> desde Parroquia de San Pedro.
			</div>
			
		</div>
		
		<div class="informacion_procesion">
			La Hermandad organiza una salida procesional, en la mañana del Viernes Santo.
			Forma de portar, a ruedas.
			<br>
			El exorno floral es de romeros, iris morado y rosas rojas.
			<br>
		</div>
		
		<div class="titulos_hermandad">
			ORGANIZA.
		</div>
		
		<div id="ov_to_herman" class="enlace_a_hermandad">
			Hermandad Del Santísimo Cristo Del Perdón Y De Las Aguas (Las Tres Cruces)
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/hermandades/hermandad_trescruces.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div class="titulos_hermandad">
			TÚNICA.
		</div>
		
		<div class="informacion_procesion">
			De lana blanca con tablas, que lleva tres cruces de terciopelo morado sobre el hombro izquierdo. Capillo de terciopelo morado, que por delante llega hasta abajo, con botonadura dorada y escudo de la hermandad bordado, el cual cae sobre los hombros a manera de esclavina, prolongada en el centro de la espalda con pico con borla dorada. Guantes y calcetines morados, zapato negro con hebilla cromada y morada. Los hermanos portan cetros rematados en una cruz. Los niños portan banderines con el calvario o motivos diversos de la pasión.
			<img src="./resources/habitos/trescruces.jpg" style="display:block" class="tunica" />
		</div>
		
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="subtitulo_pasos">
			Cristo del Perdón y de las Aguas entre dos ladrones
		</div>
		
		<div class="informacion_pasos">
			Autor: Todo el Misterio es de Luis Marco Pérez
			<br>
			Fecha: 1943
			<br><br>
			<img src="./resources/pasos/trescruces.jpg" class="imagenes_pasos"/>						
		</div>
	
		<div class="titulos_hermandad">
			MÚSICA.
		</div>
		
		<div class="informacion_procesion">
			Cuarteto de música de capilla.
		</div>
		
		<div class="titulos_hermandad">
			RECORRIDO.
		</div>
		
		<div class="informacion_procesion">
			Con salida y llegada de la Parroquia de San Pedro.<br>
			(El mapa no se mostrará sin una conexión a Internet activa)
		</div>
		
		<div style="margin:auto;width:90%">
		
			<iframe id="route_map" class="iframe_route" src=""> 
				
			</iframe>
			<script>
				route_map_url="https://www.google.com/maps/embed?pb=!1m57!1m12!1m3!1d3101.228938753488!2d-3.9284965680097774!3d38.98727105778487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m42!1i0!3e2!4m3!3m2!1d38.984427499999995!2d-3.9262953!4m3!3m2!1d38.9845897!2d-3.9269193999999996!4m3!3m2!1d38.9869655!2d-3.9278505999999997!4m3!3m2!1d38.989593299999996!2d-3.9282152999999997!4m5!1s0xd6bc36be811aa7f%3A0x7c8f8fc4a1097ce1!2sPlaza+Carmen%2C+13003+Ciudad+Real!3m2!1d38.9887825!2d-3.9304899!4m5!1s0xd6bc36b836466bb%3A0x30b72de509514a58!2sCalle+Azucena%2C+Ciudad+Real!3m2!1d38.9870641!2d-3.9311423!4m3!3m2!1d38.9859898!2d-3.9289313!4m3!3m2!1d38.985999!2d-3.9284388999999997!4m3!3m2!1d38.9844009!2d-3.9268185!5e0!3m2!1ses!2ses!4v1424344335922";
				setTimeout(function(){
					$("#route_map").attr("src",route_map_url);
				},2000);
			</script>
		
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="titulos_hermandad">
			ITINERARIO.
		</div>
		
		<div class="informacion_procesion">
			Pulsa sobre cualquier dirección para obtener una ruta desde tu posición actual.
			(Necesitarás una conexión a Internet activa)
		</div>
		
		<div id="geoloc_map_container" style="margin:auto;width:90%;display:none">
		
			<iframe id="geoloc_map" class="iframe_route_02" src=""> </iframe>
			
			<div id="geoloc_map_text" style="font-family:'4';font-size:1.2em;color:#333;padding:10px 10px;text-align:center;">
				Espere, calculando ruta...
			</div>
			
			<div class="ov_button_01" onclick="$('#geoloc_map_container').hide()">
				Ocultar
			</div>
			
			<div class="hollow_10px"> </div>
			
			<div class="ov_button_01" onclick="show_geoloc(destination);">
				Actualizar
			</div>			
			
		</div>
		
		<div id="ov_place_1" class="punto_a_ruta">
			Calle Ruiz Morote
		</div>
		<script>
			$("#ov_place_1").click(function(e){
				show_geoloc("Calle Ruiz Morote, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_2" class="punto_a_ruta">
			Calle Paloma
		</div>
		<script>
			$("#ov_place_2").click(function(e){
				show_geoloc("Calle Paloma, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_3" class="punto_a_ruta">
			Calle Calatrava
		</div>
		<script>
			$("#ov_place_3").click(function(e){
				show_geoloc("Calle Calatrava, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_4" class="punto_a_ruta">
			Calle Toledo
		</div>
		<script>
			$("#ov_place_4").click(function(e){
				show_geoloc("Calle Toledo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_5" class="punto_a_ruta">
			Calle Estacion Via Crucis
		</div>
		<script>
			$("#ov_place_5").click(function(e){
				show_geoloc("Calle Estacion Via Crucis, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_6" class="punto_a_ruta">
			Plaza Del Carmen
		</div>
		<script>
			$("#ov_place_6").click(function(e){
				show_geoloc("Plaza Del Carmen, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_7" class="punto_a_ruta">
			Calle Azucena
		</div>
		<script>
			$("#ov_place_7").click(function(e){
				show_geoloc("Calle Azucena, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_8" class="punto_a_ruta">
			Calle Camarín
		</div>
		<script>
			$("#ov_place_8").click(function(e){
				show_geoloc("Calle Camarín, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_9" class="punto_a_ruta">
			Calle Prado
		</div>
		<script>
			$("#ov_place_9").click(function(e){
				show_geoloc("Calle Prado, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_10" class="punto_a_ruta">
			Plaza Mayor
		</div>
		<script>
			$("#ov_place_10").click(function(e){
				show_geoloc("Plaza Mayor, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_11" class="punto_a_ruta">
			Calle Cuchilleria
		</div>
		<script>
			$("#ov_place_11").click(function(e){
				show_geoloc("Calle Cuchilleria, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_12" class="punto_a_ruta">
			Calle Ruiz Morote
		</div>
		<script>
			$("#ov_place_12").click(function(e){
				show_geoloc("Calle Ruiz Morote, Ciudad Real");
			});
		</script>
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
