<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_3" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_4" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_3").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_4").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div class="titulos_procesion">
				CORONACIÓN DE ESPINAS
			</div>
			<div class="subtitulos_procesion">
				20 de Marzo - Domingo de Ramos
			</div>
			<div class="subtitulos_procesion">
				Salida a las <b>17:30h</b> desde la Parroquia de Santa María del Prado, calle Pasaje de la Merced. 
			</div>
			
		</div>
		
		<div class="informacion_procesion">
			La Hermandad organiza una salida procesional, en la tarde del Domingo de Ramos.
			La imagen se porta a costal, por una cuadrilla de 35 costaleros.
			<br>
			El exorno floral es de clavel rojo, liatris morado y cinco azucenas blancas a los pies del Cristo.
			<br>
		</div>
		
		<div class="titulos_hermandad">
			ORGANIZA.
		</div>
		
		<div id="ov_to_herman" class="enlace_a_hermandad">
			Hermandad del Santísimo Cristo Ultrajado y Coronado de Espinas y Santa María del Perdón
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/hermandades/hermandad_coronacion.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div class="titulos_hermandad">
			TÚNICA.
		</div>
		
		<div class="informacion_procesion">
			Blanca con fajín y clámide de color púrpura, el capillo también blanco. Sandalias negras y calcetas blancas. Portan cirio de color granate en el misterio y blancos en el palio.
			<img src="./resources/habitos/coronacion.jpg" style="display:block" class="tunica" />
		</div>
		
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="subtitulo_pasos">
			Santísimo Cristo Ultrajado y Coronado de Espinas
		</div>
		
		<div class="informacion_pasos">
			Autor: Jesús Méndez Lastrucci
			<br>
			Fecha: 1997
			<br><br>
			Porta una clámide de terciopelo rojo, las manos atadas y una caña entre ellas. El resto de las figuras del misterio son de vestir con orfebrería en los romanos de Manuel de los Ríos. El paso del misterio es de estilo barroco. Lleva candelabros de guardabrisas, faldones granates y orfebrería dorada. Fue estrenado en el año 2003.
				
			<br><br>
			<img src="./resources/pasos/coronacion.jpg" class="imagenes_pasos"/>			
		</div>
		<div class="hollow_10px"> </div>
		
		<div class="subtitulo_pasos">
			Santa Maria del Perdon.
		</div>
		
		<div class="informacion_pasos">
			Autor: Jesús Méndez Lastrucci
			<br>
			Fecha: 1997
			<br><br>
			La imagen de Santa María del Perdón fue bendecida el 8 de diciembre de 1997, realizando su primera salida procesional en la Semana Santa del año 1998. La imagen de candelero es una talla de vestir con rasgos de niña, de ahí que por muchos sea conocida como la Niña de los Ojos Verdes.
			<br><br>			
						
		</div>
											
		<div class="titulos_hermandad">
			MÚSICA.
		</div>
		
		<div class="informacion_procesion">
			· Banda de CCTT Ntra. Sra. Del Prado-La Pasión. (Ciudad Real) en el Paso de Misterio<br>
			· Asociación Musical Mozart (Aldea del Rey) en Paso de Palio
		</div>
		
		<div class="titulos_hermandad">
			RECORRIDO.
		</div>
		
		<div class="informacion_procesion">
			Con salida y llegada a la Parroquia de Santa María del Prado, calle Pasaje de la Merced. 
			La ruta se recorre en sentido antihorario.
			(El mapa no se mostrará sin una conexión a Internet activa)
		</div>
		
		<div style="margin:auto;width:90%">
		
			<div id="mapa_coronacion" class="iframe_route"></div>
			<script>	
			setTimeout(function() {
				var lineSymbol = { path: google.maps.SymbolPath.FORWARD_OPEN_ARROW, scale: 2 };
				$("#mapa_coronacion").gmap3({
					map:{
					options:{
					center:[38.987740, -3.928869],
					zoom:15
					}
					},
					marker:{
					values:[
					{latLng:[38.987740, -3.928869], data:"Pasaje De La Merced"}]
					},
					polyline:{
					options:{
						strokeColor: "#6F65D5",
						strokeOpacity: 0.6,
						strokeWeight: 4,
						icons: [{icon: lineSymbol, offset: '15%'},
						{icon: lineSymbol, offset: '30%'},
						{icon: lineSymbol, offset: '45%'},
						{icon: lineSymbol, offset: '60%'},
						{icon: lineSymbol, offset: '75%'},
						{icon: lineSymbol, offset: '90%'},
						],
						path:[
						[38.987740, -3.928869],
						[38.988020, -3.928405],
						[38.988762, -3.928295],
						[38.988956, -3.927750],
						[38.989154, -3.926849],
						[38.989239, -3.926243],
						[38.989339, -3.925934],
						[38.989521, -3.925543],

						[38.989903, -3.925763],

						[38.990107, -3.925162],

						[38.990523, -3.925382],
						[38.990329, -3.925951],
						[38.990213, -3.926543],

						[38.989915, -3.927922],
						[38.989885, -3.928201],
						[38.989767, -3.928204],
						[38.989587, -3.928941],
						[38.989427, -3.929424],
						[38.988833, -3.930320],
						[38.988835, -3.930424],
						[38.988733, -3.930567],
						[38.988597, -3.930475],
						[38.988522, -3.930577],
						[38.988011, -3.930711],
						[38.987411, -3.931012],
						[38.986485, -3.931414],
						[38.985432, -3.929955],
						[38.985253, -3.929885],
						[38.984384, -3.929362],
						[38.984117, -3.929204],
						[38.984025, -3.929201],
						[38.983675, -3.929322],
						[38.983837, -3.928735],
						[38.984165, -3.928453],
						[38.984344, -3.928327],
						[38.984569, -3.928263],
						[38.984684, -3.928311],
						[38.984994, -3.928132],
						[38.985899, -3.929051],
						[38.986845, -3.930516],
						[38.986918, -3.930701],
						[38.987366, -3.930390],
						[38.987702, -3.929896],
						[38.987306, -3.929639],
						[38.987596, -3.929110],
						]
						}
					}
				});
			}, 1000);
			</script>
		
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="titulos_hermandad">
			ITINERARIO.
		</div>
		
		<div class="informacion_procesion">
			Pulsa sobre cualquier dirección para obtener una ruta desde tu posición actual.
			(Necesitarás una conexión a Internet activa)
		</div>
		
		<div id="geoloc_map_container" style="margin:auto;width:90%;display:none">
		
			<iframe id="geoloc_map" class="iframe_route_02" src=""> </iframe>
			
			<div id="geoloc_map_text" style="font-family:'4';font-size:1.2em;color:#333;padding:10px 10px;text-align:center;">
				Espere, calculando ruta...
			</div>
			
			<div class="ov_button_01" onclick="$('#geoloc_map_container').hide()">
				Ocultar
			</div>
			
			<div class="hollow_10px"> </div>
			
			<div class="ov_button_01" onclick="show_geoloc(destination);">
				Actualizar
			</div>			
			
		</div>
		
		<div id="ov_place_1" class="punto_a_ruta">
			Pasaje de La Merced
		</div>
		<script>
			$("#ov_place_1").click(function(e){
				show_geoloc("Pasaje de Merced, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_2" class="punto_a_ruta">
			Calle Toledo
		</div>
		<script>
			$("#ov_place_2").click(function(e){
				show_geoloc("Calle Toledo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_3" class="punto_a_ruta">
			Calle Jacinto
		</div>
		<script>
			$("#ov_place_3").click(function(e){
				show_geoloc("Calle Jacinto, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_4" class="punto_a_ruta">
			Calle Ángel
		</div>
		<script>
			$("#ov_place_4").click(function(e){
				show_geoloc("Calle Angel, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_5" class="punto_a_ruta">
			Plaza De Santiago
		</div>
		<script>
			$("#ov_place_5").click(function(e){
				//show_geoloc("");
			});
		</script>
		
		<div id="ov_place_6" class="punto_a_ruta">
			Calle Norte
		</div>
		<script>
			$("#ov_place_6").click(function(e){
				show_geoloc("Calle Norte, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_7" class="punto_a_ruta">
			Calle Estrella
		</div>
		<script>
			$("#ov_place_7").click(function(e){
				show_geoloc("Calle Estrella, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_8" class="punto_a_ruta">
			Calle Toledo
		</div>
		<script>
			$("#ov_place_8").click(function(e){
				show_geoloc("Calle Toledo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_9" class="punto_a_ruta">
			Calle Estación Vía Crucis
		</div>
		<script>
			$("#ov_place_9").click(function(e){
				show_geoloc("Calle Estacion Via Crucis, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_10" class="punto_a_ruta">
			Plaza Del Carmen
		</div>
		<script>
			$("#ov_place_10").click(function(e){
				show_geoloc("Plaza Del Carmen, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_11" class="punto_a_ruta">
			Calle Azucena
		</div>
		<script>
			$("#ov_place_11").click(function(e){
				show_geoloc("Calle Azucena, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_12" class="punto_a_ruta">
			Calle Reyes
		</div>
		<script>
			$("#ov_place_12").click(function(e){
				show_geoloc("Plaza de Merced, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_13" class="punto_a_ruta">
			Avenida Alfonso X El Sabio
		</div>
		<script>
			$("#ov_place_13").click(function(e){
				show_geoloc("Avenida Alfonso X El Sabio, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_14" class="punto_a_ruta">
			Plaza Del Pilar (Alarcos)
		</div>
		<script>
			$("#ov_place_14").click(function(e){
				show_geoloc("Plaza Del Pilar, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_15" class="punto_a_ruta">
			Calle General Aguilera
		</div>
		<script>
			$("#ov_place_15").click(function(e){
				show_geoloc("Calle General Aguilera, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_16" class="punto_a_ruta">
			Plaza Mayor
		</div>
		<script>
			$("#ov_place_16").click(function(e){
				show_geoloc("Plaza Mayor, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_17" class="punto_a_ruta">
			Paseo Del Prado
		</div>
		<script>
			$("#ov_place_17").click(function(e){
				show_geoloc("Paseo Del Prado, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_18" class="punto_a_ruta">
			Calle Camarín
		</div>
		<script>
			$("#ov_place_18").click(function(e){
				show_geoloc("Calle Camarin, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_19" class="punto_a_ruta">
			Calle Caballeros
		</div>
		<script>
			$("#ov_place_19").click(function(e){
				show_geoloc("Calle Caballeros, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_20" class="punto_a_ruta">
			Pasaje De La Merced
		</div>
		<script>
			$("#ov_place_20").click(function(e){
				show_geoloc("Pasaje De La Merced, Ciudad Real");
			});
		</script>
				
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
