<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_3" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_4" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_3").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_4").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div style="padding:10px;background-color:#5E3656">
			
			<div style="font-family:'3';font-size:1.7em;color:#FFF;padding-bottom:10px;text-align:left;">
				CORONACIÓN DE ESPINAS
			</div>
			<div style="font-family:'4';font-size:1.2em;color:#FFF;padding-bottom:10px;text-align:left;">
				29 de Marzo - Domingo de Ramos
			</div>
			<div style="font-family:'4';font-size:1.2em;color:#FFF;padding-bottom:10px;text-align:left;">
				Salida a las <b>17:30h</b> desde la Parroquia de Santa María del Prado, calle Pasaje de la Merced. 
			</div>
			
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			La Hermandad organiza una salida procesional, en la tarde del Domingo de Ramos.
			La imagen se porta a costal, por una cuadrilla de 35 costaleros.
			<br>
			El exorno floral es de clavel rojo, liatris morado y cinco azucenas blancas a los pies del Cristo.
			<br>
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			ORGANIZA.
		</div>
		
		<div id="ov_to_herman" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:20px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Hermandad del Santísimo Cristo Ultrajado y Coronado de Espinas y Santa María del Perdón
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/hermandades/hermandad_coronacion.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			TÚNICA.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Blanca con fajín y clámide de color púrpura, el capillo también blanco. Sandalias negras y calcetas blancas. Portan cirio de color granate en el misterio y blancos en el palio.
			<img src="./resources/habitos/coronacion.jpg" style="display:block"/>
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div style="margin:auto;width:80%;font-family:'2';font-size:1.1em;color:#FFF;padding:10px;text-align:left;background-color:#5E3656">
			Santísimo Cristo Ultrajado y Coronado de Espinas
		</div>
		
		<div style="margin:auto;width:80%;font-family:'4';font-size:1.1em;color:#333;padding:10px 10px;text-align:justify;">
			Autor: Jesús Méndez Lastrucci
			<br>
			Fecha: 1997
			<br><br>
			Porta una clámide de terciopelo rojo, las manos atadas y una caña entre ellas. El resto de las figuras del misterio son de vestir con orfebrería en los romanos de Manuel de los Ríos. El paso del misterio es de estilo barroco. Lleva candelabros de guardabrisas, faldones granates y orfebrería dorada. Fue estrenado en el año 2003.
			<p>Estrenos 2014</p>
			Pinturas para el Libro de Reglas.
			<br><br>	
			<img src="./resources/pasos/coronacion.jpg" style="display:block;margin:auto;width:80%;max-width:300px"/>			
		</div>
											
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			MÚSICA.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Banda de Música de Granátula de Calatrava.
		</div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			RECORRIDO.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Con salida y llegada a la Parroquia de Santa María del Prado, calle Pasaje de la Merced. 
			La ruta se recorre en sentido antihorario.
			(El mapa no se mostrará sin una conexión a Internet activa)
		</div>
		
		<div style="margin:auto;width:90%">
		
			<iframe id="route_map" src="" width="600" height="450" frameborder="0" style="border:0"></iframe>

			<script>
				route_map_url="https://www.google.com/maps/embed?pb=!1m57!1m12!1m3!1d1550.5776154254734!2d-3.9265286822770964!3d38.98895343376275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m42!1i0!3e2!4m3!3m2!1d38.987740099999996!2d-3.9288594999999997!4m3!3m2!1d38.9898236!2d-3.9249937999999998!4m3!3m2!1d38.989772599999995!2d-3.9282006999999997!4m3!3m2!1d38.9886158!2d-3.9304892999999996!4m3!3m2!1d38.986464399999996!2d-3.9314158999999997!4m3!3m2!1d38.983669299999995!2d-3.9293085999999997!4m3!3m2!1d38.9851063!2d-3.9271879!4m3!3m2!1d38.9865085!2d-3.9291324!4m3!3m2!1d38.987697!2d-3.9299041999999997!4m3!3m2!1d38.9876603!2d-3.9289954999999996!5e0!3m2!1ses!2ses!4v1424278585738";
				setTimeout(function(){
					$("#route_map").attr("src",route_map_url);
				},2000);
			</script>
		
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div style="font-family:'2';font-size:1.2em;color:#FFF;padding:10px;text-align:left;background-color:#999">
			ITINERARIO.
		</div>
		
		<div style="font-family:'4';font-size:1.2em;color:#333;padding:20px 10px;text-align:justify;">
			Pulsa sobre cualquier dirección para obtener una ruta desde tu posición actual.
			(Necesitarás una conexión a Internet activa)
		</div>
		
		<div id="geoloc_map_container" style="margin:auto;width:90%;display:none">
		
			<iframe id="geoloc_map" style="background-color:#5E3656;border:none;width:100%;height:400px;background-image:url(./resources/general_images/loader.gif);background-repeat:no-repeat;background-position:center center;" src=""> </iframe>
			
			<div id="geoloc_map_text" style="font-family:'4';font-size:1.2em;color:#333;padding:10px 10px;text-align:center;">
				Espere, calculando ruta...
			</div>
			
			<div class="ov_button_01" onclick="$('#geoloc_map_container').hide()">
				Ocultar
			</div>
			
			<div class="hollow_10px"> </div>
			
			<div class="ov_button_01" onclick="show_geoloc(destination);">
				Actualizar
			</div>			
			
		</div>
		
		<div id="ov_place_1" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Pasaje de La Merced
		</div>
		<script>
			$("#ov_place_1").click(function(e){
				show_geoloc("Pasaje de Merced, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_2" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Toledo
		</div>
		<script>
			$("#ov_place_2").click(function(e){
				show_geoloc("Calle Toledo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_3" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Jacinto
		</div>
		<script>
			$("#ov_place_3").click(function(e){
				show_geoloc("Calle Jacinto, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_4" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Ángel
		</div>
		<script>
			$("#ov_place_4").click(function(e){
				show_geoloc("Calle Angel, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_5" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza De Santiago
		</div>
		<script>
			$("#ov_place_5").click(function(e){
				//show_geoloc("");
			});
		</script>
		
		<div id="ov_place_6" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Norte
		</div>
		<script>
			$("#ov_place_6").click(function(e){
				show_geoloc("Calle Norte, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_7" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Estrella
		</div>
		<script>
			$("#ov_place_7").click(function(e){
				show_geoloc("Calle Estrella, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_8" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Toledo
		</div>
		<script>
			$("#ov_place_8").click(function(e){
				show_geoloc("Calle Toledo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_9" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Estación Vía Crucis
		</div>
		<script>
			$("#ov_place_9").click(function(e){
				show_geoloc("Calle Estacion Via Crucis, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_10" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza Del Carmen
		</div>
		<script>
			$("#ov_place_10").click(function(e){
				show_geoloc("Plaza Del Carmen, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_11" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Azucena
		</div>
		<script>
			$("#ov_place_11").click(function(e){
				show_geoloc("Calle Azucena, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_12" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Reyes
		</div>
		<script>
			$("#ov_place_12").click(function(e){
				show_geoloc("Plaza de Merced, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_13" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Avenida Alfonso X El Sabio
		</div>
		<script>
			$("#ov_place_13").click(function(e){
				show_geoloc("Avenida Alfonso X El Sabio, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_14" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza Del Pilar (Alarcos)
		</div>
		<script>
			$("#ov_place_14").click(function(e){
				show_geoloc("Plaza Del Pilar, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_15" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle General Aguilera
		</div>
		<script>
			$("#ov_place_15").click(function(e){
				show_geoloc("Calle General Aguilera, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_16" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Plaza Mayor
		</div>
		<script>
			$("#ov_place_16").click(function(e){
				show_geoloc("Plaza Mayor, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_17" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Paseo Del Prado
		</div>
		<script>
			$("#ov_place_17").click(function(e){
				show_geoloc("Paseo Del Prado, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_18" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Camarín
		</div>
		<script>
			$("#ov_place_18").click(function(e){
				show_geoloc("Calle Camarin, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_19" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Calle Caballeros
		</div>
		<script>
			$("#ov_place_19").click(function(e){
				show_geoloc("Calle Caballeros, Ciudad Real");
			});
		</script>
				
		<div id="ov_place_20" style="font-family:'4';font-size:1.2em;color:#5E3656;padding:5px 10px;text-align:center;text-decoration:underline;cursor:pointer">
			Pasaje De La Merced
		</div>
		<script>
			$("#ov_place_20").click(function(e){
				show_geoloc("Pasaje De La Merced, Ciudad Real");
			});
		</script>
				
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
