<!-- Volver -->
<div  class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_3" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"/> Volver
		</div>
		
		<div id="ov_back_button_4" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"/> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_3").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_4").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div class="titulos_procesion">
				SANTO SEPULCRO
			</div>
			<div class="subtitulos_procesion">
				3 de Abril - Viernes Santo
			</div>
			<div class="subtitulos_procesion">
				Salida a las <b>20:00h</b> desde Guardapasos.
			</div>
			
		</div>
		
		<div class="informacion_procesion">
			La Hermandad organiza una salida procesional, en la tarde del Viernes Santo.
			Forma de portar: El paso del sepulcro es portado a un hombro por fuera por 48 costaleros. La Virgen de la Pasión es portada a un hombro por fuera por 54 costaleros
			<br>
			El exorno floral es de flores blancas.
			<br>
		</div>
		
		<div class="titulos_hermandad">
			ORGANIZA.
		</div>
		
		<div id="ov_to_herman" class="enlace_a_hermandad">
			Muy Ilustre Y Venerable Cofradía De Nazarenos De Nuestro  Padre Jesús De Las Cinco Llagas En El Santo Sepúlcro. Real Y Fervorosa Cofradía De Ntra. Sra. De La Pasión.
		</div>
		<script>
			$("#ov_to_herman").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/hermandades/hermandad_sepulcro.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div class="titulos_hermandad">
			TÚNICA.
		</div>
		
		<div class="informacion_procesion">
			Negra con botonadura blanca en túnica y bocamangas, cíngulo de seda blanco, capa también blanca con la cruz de Jerusalén en rojo bordada en el lado izquierdo; capillo de raso negro; guante blanco, calcetín y zapato negro. Los hermanos portan cirio de color blanco.
			<img src="./resources/habitos/sepulcro.jpg" style="display:block" class="tunica" />
		</div>
		
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="subtitulo_pasos">
			Jesús de las Cinco Llagas en el Santo Sepulcro 
		</div>
		
		<div class="informacion_pasos">
			Autor: Claudio Rius Garrich
			<br>
			Fecha: 1944
			<br><br>
			<img src="./resources/pasos/sepulcro.jpg" class="imagenes_pasos"/>						
		</div>
		
		<div class="subtitulo_pasos">
			Virgen de la Pasión
		</div>
		
		<div class="informacion_pasos">
			Autor: Víctor González Gil
			<br>
			Fecha: 1940
			<br><br>
			<img src="./resources/pasos/virgenpasion.jpg" class="imagenes_pasos"/>						
		</div>		
	
		<div class="titulos_hermandad">
			MÚSICA.
		</div>
		
		<div class="informacion_procesion">
			Banda Municipal de Ciudad Real.
			<p>Marchas dedicadas:<br>
			- Dolorosa, Ave María de D. Manuel Ortix Loro<br>
			- Ave María Dolorosa de D. José Vicente Romero</p>
		</div>
		
		<div class="titulos_hermandad">
			RECORRIDO.
		</div>
		
		<div class="informacion_procesion">
			Con salida y llegada desde S.I.P.B. Catedral.<br>
			(El mapa no se mostrará sin una conexión a Internet activa)
		</div>
		
		<div style="margin:auto;width:90%">
		
			<div id="mapa_sepulcro" class="iframe_route"></div>
			<script>
			setTimeout(function() {
				var lineSymbol = { path: google.maps.SymbolPath.FORWARD_OPEN_ARROW, scale: 2 };
				$("#mapa_sepulcro").gmap3({
				map:{
				options:{
				center:[38.988936, -3.927786],
				zoom:15
				}
				},
				marker:{
				values:[
				{latLng:[38.988012, -3.921885], data:"Rectorado"}]
				},
				polyline:{
				options:{
				strokeColor: "#6F65D5",
				strokeOpacity: 0.6,
				strokeWeight: 4,
				icons: [{icon: lineSymbol, offset: '15%'},
				{icon: lineSymbol, offset: '30%'},
				{icon: lineSymbol, offset: '45%'},
				{icon: lineSymbol, offset: '60%'},
				{icon: lineSymbol, offset: '75%'},
				{icon: lineSymbol, offset: '90%'},
				],
				path:[

				[38.988012, -3.921885],
				[38.987510, -3.924117],
				[38.988519, -3.924256],
				[38.988982, -3.924302],
				[38.989715, -3.924705],
				[38.989783, -3.924834],


				[38.990113, -3.925189],
				[38.989963, -3.925801],

				[38.989525, -3.925548],
				[38.989326, -3.925981],
				[38.989128, -3.926895],
				[38.988936, -3.927786],




				[38.988747, -3.928293],
				[38.988624, -3.928328],
				[38.988334, -3.928926],
				[38.987696, -3.929910],
				[38.987296, -3.929658],
				[38.987583, -3.929119],
				[38.988017, -3.928405],
				[38.986603, -3.928486],
				[38.986530, -3.928392],
				[38.986343, -3.928491],
				[38.985893, -3.929052],
				[38.984990, -3.928247],
				[38.985110, -3.927191],
				[38.985037, -3.927170],
				[38.985066, -3.926526],
				[38.984960, -3.926005],
				[38.986128, -3.926220],
				[38.987103, -3.926322],
				[38.987182, -3.925946],
				[38.987260, -3.925710],
				[38.988012, -3.921885],
				]		}
				}
				});
			},1000);
			</script>
		
		</div>
		
		<div class="hollow_10px"> </div>
		
		<div class="titulos_hermandad">
			ITINERARIO.
		</div>
		
		<div class="informacion_procesion">
			Pulsa sobre cualquier dirección para obtener una ruta desde tu posición actual.
			(Necesitarás una conexión a Internet activa)
		</div>
		
		<div id="geoloc_map_container" style="margin:auto;width:90%;display:none">
		
			<iframe id="geoloc_map" class="iframe_route_02" src=""> </iframe>
			
			<div id="geoloc_map_text" style="font-family:'4';font-size:1.2em;color:#333;padding:10px 10px;text-align:center;">
				Espere, calculando ruta...
			</div>
			
			<div class="ov_button_01" onclick="$('#geoloc_map_container').hide()">
				Ocultar
			</div>
			
			<div class="hollow_10px"> </div>
			
			<div class="ov_button_01" onclick="show_geoloc(destination);">
				Actualizar
			</div>			
			
		</div>
		
		<div id="ov_place_1" class="punto_a_ruta">
			Calle Quevedo
		</div>
		<script>
			$("#ov_place_1").click(function(e){
				show_geoloc("Calle Quevedo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_2" class="punto_a_ruta">
			Calle Lirio
		</div>
		<script>
			$("#ov_place_2").click(function(e){
				show_geoloc("Calle Lirio, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_3" class="punto_a_ruta">
			Calle Norte
		</div>
		<script>
			$("#ov_place_3").click(function(e){
				show_geoloc("Calle Norte, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_4" class="punto_a_ruta">
			Calle Agustin Salido
		</div>
		<script>
			$("#ov_place_4").click(function(e){
				show_geoloc("Calle Agustin Salido, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_5" class="punto_a_ruta">
			Calle Jacinto
		</div>
		<script>
			$("#ov_place_5").click(function(e){
				show_geoloc("Calle Jacinto, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_6" class="punto_a_ruta">
			Calle Rosa
		</div>
		<script>
			$("#ov_place_6").click(function(e){
				show_geoloc("Calle Rosa, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_7" class="punto_a_ruta">
			Calle Caballeros
		</div>
		<script>
			$("#ov_place_7").click(function(e){
				show_geoloc("Calle Caballeros, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_8" class="punto_a_ruta">
			Pasaje De La Merced
		</div>
		<script>
			$("#ov_place_8").click(function(e){
				show_geoloc("Pasaje De La Merced, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_9" class="punto_a_ruta">
			Calle Toledo
		</div>
		<script>
			$("#ov_place_9").click(function(e){
				show_geoloc("Calle Toledo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_10" class="punto_a_ruta">
			Calle Feria
		</div>
		<script>
			$("#ov_place_10").click(function(e){
				show_geoloc("Calle Feria, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_11" class="punto_a_ruta">
			Mercado Viejo
		</div>
		<script>
			$("#ov_place_11").click(function(e){
				show_geoloc("Mercado Viejo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_12" class="punto_a_ruta">
			Plaza Mayor
		</div>
		<script>
			$("#ov_place_12").click(function(e){
				show_geoloc("Plaza Mayor, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_13" class="punto_a_ruta">
			Calle Cuchilleria
		</div>
		<script>
			$("#ov_place_13").click(function(e){
				show_geoloc("Calle Cuchilleria, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_14" class="punto_a_ruta">
			Calle Lanza
		</div>
		<script>
			$("#ov_place_14").click(function(e){
				show_geoloc("Calle Lanza, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_15" class="punto_a_ruta">
			Calle Cardenal Monescillo
		</div>
		<script>
			$("#ov_place_15").click(function(e){
				show_geoloc("Calle Cardenal Monescillo, Ciudad Real");
			});
		</script>
		
		<div id="ov_place_16" class="punto_a_ruta">
			Calle Huertos
		</div>
		<script>
			$("#ov_place_16").click(function(e){
				show_geoloc("Calle Huertos, Ciudad Real");
			});
		</script>
					
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
