<!-- Volver -->
<div style="display: block;" class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_5" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"> Volver
		</div>
		
		<div id="ov_back_button_6" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_5").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_6").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div id="ov_large_menu_item_1" class="ov_large_menu_item">
			
				<div class="ov_box_circle_images">
					
					<img src="./resources/escudos/piedad.png" class="ov_image_circle" alt=" ">
					
				</div>
				
				<div class="ov_box_large_menu_item_title">
					
					<div class="ov_text_large_menu_item_01" style="color:#FFF">Hermandad del Santísimo Cristo de la Piedad</div>				
					
				</div>
				
				<div class="ov_clear_floats"> </div>
				
			</div>
			
		</div>
		
		<div class="texto_hermandad">
			Se fundó  en 1616 teniendo como titular una imagen de Cristo Crucificado de Giraldo Merlo. Ya entonces se daba culto a la imagen del crucificado, con el nombre de Santísimo Cristo de la Piedad. En 1727 se redactaron nuevas constituciones en las que ya aparece la túnica de negro para acompañar al Cristo en procesión. En los últimos años del siglo XIX y primeros del XX, la hermandad estaba casi extinguida. En 1904 se reorganizó tallándose por esta  época unas nuevas andas al Cristo. En el año 1941 volvió a desfilar esta Cofradía con un Cristo de autor anónimo que en la actualidad se encuentra colocado en la parte superior del Retablo de la Catedral. En 1946 se redactaron nuevos estatutos y ese mismo año se realizó el actual Cristo que es obra de Castillo Lastrucci.
			<br><br>
			El paso se porta a costal, tiene una cuadrilla de 35 costaleros.
			<p><b>MÚSICA</b></p>
			Banda de cornetas y tambores Nuestro Señor del Prado-La Pasión (Ciudad Real) 
		</div>
		
		<div class="titulos_hermandad">
			DATOS
		</div>
		
		<div class="informacion_hermandad">
			<b>Túnica:</b><br>
			Túnica de terciopelo negro con escapulario del mismo color, botones y fajín de raso blanco y cruz blanca de raso sobre el capillo. Guante blanco, zapato y calcetín negro. Los hermanos alumbran con cirios eléctricos.
			<br><br>
			<img src="./resources/habitos/piedad.jpg" style="display:block">
			<b>Ubicación de la titular:</b><br>S. I. B. Catedral de Ciudad Real.
			<br><br>
			<b>Fundación:</b><br>1616.
			<br><br>
		</div>
		
		<div class="titulos_hermandad">
			CONTACTO
		</div>
		
		<div class="informacion_hermandad">
			Casa Hermandad<br>	
			C/ Azucena nº 21, Bajo B 13002<br><br>
			<a id="web" href="http://eternapiedad.blogspot.com.es/">Página web</a><br>
			<a id="twitter" href="https://twitter.com/Hdad_Piedad">Twitter</a><br>
			<a id="facebook" href="https://www.facebook.com/eternapiedad?_rdr">Facebook</a>
			<script>
				$("a").on("click",function(e){
					var url = $(this).attr('href');
					var containHttp = new RegExp('http\\b');
					var containHttps = new RegExp('https\\b');
					if(containHttp.test(url)){
						e.preventDefault();
						var new_url=extern_page+url.substr(7);
						window.open(new_url, "_system", "location=yes");
					}
					else if(containHttps.test(url)){
						e.preventDefault();
						var new_url=extern_page+url.substr(8);
						window.open(new_url, "_system", "location=yes");
					}
				});
			</script>
		</div>
		
		<div class="titulos_hermandad">
			PROCESIONES
		</div>
		
		<div id="ov_to_proce" class="enlace_a_procesion">
			Cristo de la Piedad (Viernes Santo)
		</div>
		<script>
			$("#ov_to_proce").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_cristo_piedad_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
				
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
				
		<div class="subtitulo_hermandad">
			Cristo de la Piedad
		</div>
		
		<div class="informacion_pasos">
			Autor: Antonio Castillo Lastrucci
			<br>
			Fecha: 1947
			<br><br>
			El paso está compuesto por la imagen de Cristo Crucificado que es de talla completa luciendo potencias y cantoneras en la cruz de plata de ley. La imagen del Cristo es obra de Antonio Castillo Lastrucci, el cual la talló en sus talleres de Sevilla en el año 1947. El paso, estrenado en 2008, es de madera. Los faldones son de color negro y lleva 6 candelabros de guardabrisas de 9 luces en las esquinas y de 5 luces en los costeros.
			<br><br>
			<img src="./resources/pasos/piedad.jpg" class="imagenes_pasos" />			
		</div>
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
