<!-- Volver -->
<div style="display: block;" class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_5" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"> Volver
		</div>
		
		<div id="ov_back_button_6" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_5").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_6").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div id="ov_large_menu_item_1" class="ov_large_menu_item">
			
				<div class="ov_box_circle_images">
					
					<img src="./resources/escudos/angustias.png" class="ov_image_circle" alt=" ">
					
				</div>
				
				<div class="ov_box_large_menu_item_title">
					
					<div class="ov_text_large_menu_item_01" style="color:#FFF">Hermandad de Nuestra Señora de las Angustias</div>				
					
				</div>
				
				<div class="ov_clear_floats"> </div>
				
			</div>
			
		</div>
		
		<div class="texto_hermandad">
			La talla Titular recibe culto desde la fundación de la Hermandad en el altar derecho de la Capilla del Santísimo en la Parroquia de la Merced. Procesionó por primera vez el Viernes Santo del año 1944. A la Hermandad en un principio sólo podían pertenecer excombatientes de la Guerra Civil y de la División Azul. En 1975 se aprobó en Junta General abrir la Hermandad a cualquier devoto de la Virgen sin necesidad de ser hijo o familiar de excombatientes.
			<br><br>
			Meter información de los pasos
			<br><br>
			La túnica es negra mate, en forma de capote militar, con botonadura redonda dorada en la parte central y cierre en bocamanga de cordón amarillo. Capillo de raso negro con el escudo de la hermandad bordado, guante, zapato y calcetín negro. Los hermanos alumbran con cera natural color negro.
			<br><br>
			El paso se porta a costal, por 28 costaleros.
			<br><br>
			Acompañamiento Musical Santo Tomás de Villanueva de Ciudad Real
		</div>
		
		<div class="titulos_hermandad">
			DATOS
		</div>
		
		<div class="informacion_hermandad">
			<b>Hábito:</b><br>
			<img src="./resources/habitos/angustias.jpg" style="display:block">
			<br>
			<b>Fundación:</b><br>1943.
			<br><br>
			<b>Ubicación de los titulares:</b><br>
			Capilla del Santísimo en la Parroquia de Santa MAría del Prado (La Merced)
			<br><br>
			<b>Culto(s) organizados:</b><br>
			Cuaresma: Misa de Hermandad<br>
			Septiembre: Festividad de Nuestra Señora de las Angustias<br>
			Nomviembre: Misa por los Difuntos de la Hermandad
			
		</div>
		
		<div class="titulos_hermandad">
			CONTACTO
		</div>
		
		<div class="informacion_hermandad">
			C/Rosa nº 1, 13003 Ciudad Real<br>
			Parroquia Santa María del Prado (La Merced)
			<br><br>			
			<a href="http://angustiasdeciudadreal.blogspot.com.es" class="enlace_externo">Página web</a>

			<script>
			$("a").on("click", function(e) {
				var url = $(this).attr('href');
				var containsHttp = new RegExp('http\\b'); 
				var containsHttps = new RegExp('https\\b'); 
				
				if(containsHttp.test(url)) { 
					e.preventDefault(); 
					window.open(url, "_system", "location=yes"); 
				}
				else if(containsHttps.test(url)) { 
					e.preventDefault(); 
					window.open(url, "_system", "location=yes"); 
				}
			});						
			</script>
			
		</div>
		
		<div class="titulos_hermandad">
			PROCESIONES
		</div>
		
		<div id="ov_to_proce" class="enlace_a_procesion">
			Angustias (3 de Abril, Viernes Santo)
		</div>
		<script>
			$("#ov_to_proce").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_angustias_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
				
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
				
		<div class="subtitulo_hermandad">
			Virgen de las Angustias con Jesús muerto en sus brazos
		</div>
		
		<div class="informacion_pasos">
			Autor: Luis Marco Pérez
			<br>
			Fecha: 1944
			<br><br>
			El autor talló las dos imágenes que componen el misterio y que son de talla completa llevando la virgen en su rostros 3 lágrimas, aro de plata  y un pañuelo bordado que pende de su mano izquierda. La cruz lleva cartel de INRI en 3 lenguas y de ella pende un sudario. Paso con canastilla de estilo barroco en madera de cedro oscurecida. Tiene 4 pequeños faroles de guardabrisas y el misterio es iluminado por 4 faroles con hachones en color sangre de toro.
			<br><br>
			<img src="./resources/pasos/angustias.jpg" class="imagenes_pasos" />			
		</div>
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
