<!-- Volver -->
<div style="display: block;" class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_5" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"> Volver
		</div>
		
		<div id="ov_back_button_6" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_5").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_6").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div id="ov_large_menu_item_1" class="ov_large_menu_item">
			
				<div class="ov_box_circle_images">
					
					<img src="./resources/escudos/medinaceli.png" class="ov_image_circle" alt=" ">
					
				</div>
				
				<div class="ov_box_large_menu_item_title">
					
					<div class="ov_text_large_menu_item_01" style="color:#FFF">Real Cofradía de Esclavitud de Nuestro Padre Jesús de Medinaceli y del Santísimo Niño del Remedio</div>				
					
				</div>
				
				<div class="ov_clear_floats"> </div>
				
			</div>
			
		</div>
		
		<div class="texto_hermandad">
			La hermandad fue fundada en 1949 por el artista local José Mur Escolá pero no fue reconocida canónicamente hasta el 22 de Agosto de 1952, en la iglesia de Nuestra Señora del Pilar. Desde su fundación fue una de las hermandades que más culto rindió a su titular y que contó con una gran aceptación social y un crecimiento rápido. Antiguamente, esta hermandad iba acompañada por un grupo de soldados romanos en su desfile procesional.
			<br><br>
			Túnica de color amarillo oro en forma de amplio manto, forros visibles de raso blanco, y puños con adornos dorados, sujeta con cíngulo morado y oro. Capillo morado con bordados en oro, escapulario grande bordado con el escudo de la cofradía, guante blanco, zapato y calcetín negro. Los hermanos portan farol eléctrico.
			<br><br>
			La imagen se porta a costal, por una cuadrilla de 35 costaleros.
			<br><br>
			Agrupación Musical Santo Tomás de Villanueva (Ciudad Real).
		</div>
		
		<div class="titulos_hermandad">
			DATOS
		</div>
		
		<div class="informacion_hermandad">
			<b>Tunica:</b><br>
			<img src="./resources/habitos/perchelera.jpg" style="display:block">
			<b>Ubicación del titular:</b><br>Parroquia Nuestra Señora del Pilar.
			<br><br>
			<b>Fundación:</b><br>1949.
			<br><br>
			<b>Atributos de los Hermanos:</b><br>Estandarte Guía de la Sección del Cristo, bordado en oro con un óleo de la imagen del Señor, bordado por las Religiosas Adoratrices de Ciudad Real.<br>Estandarte Corporativo de la Hermandad, bordado en oro con un óleo de la imagen del Cristo, obra de D. Jesús Díaz Hellín (Alcázar de San Juan).
			<br><br>
		</div>
		
		<div class="titulos_hermandad">
			CONTACTO
		</div>
		
		<div class="informacion_hermandad">
			Virgen del Prado s/n 13004<br>
			<a id="web" href="http://medinaceliciudadreal.es.tl/">Página web</a><br>
			<a id="twitter" href="https://twitter.com/GJMedinaceli">Twitter</a>
			<script>
				$("a").on("click",function(e){
					var url = $(this).attr('href');
					var containHttp = new RegExp('http\\b');
					var containHttps = new RegExp('https\\b');
					if(containHttp.test(url)){
						e.preventDefault();
						window.open(url, "_system", "location=yes");
					}
					else if(containHttps.test(url)){
						e.preventDefault();
						window.open(url, "_system", "location=yes");
					}
				});
			</script>
		</div>
		
		<div class="titulos_hermandad">
			PROCESIONES
		</div>
		
		<div id="ov_to_proce" class="enlace_a_procesion">
			Medinaceli (31 de Marzo, Martes Santo)
		</div>
		<script>
			$("#ov_to_proce").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_medinaceli_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
				
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
				
		<div class="subtitulo_hermandad">
			Niño del Remedio
		</div>
		
		<div class="informacion_pasos">
			Autor: Adoratrices de Ciudad Real
			<br>
			Fecha: 1965
			<br><br>
			 El Niño porta potencias en metal sobredorado y viste túnica de cola de color granate bordada en oro por las religiosas. El paso del niño es de estilo barroco, estrenado en 1965. Está dorado en pan de oro.<br>Nuestro Padre Jesús Nazareno de Medinaceli. Obra de Faustino Sanz. El Señor viste túnica morada bordada en oro por las Hermanas del Stmo. Sacramento de Jaén (1993). Porta una corona de espinas en plata sobre dorada. Las manos las lleva maniatadas por un cordón de oro y sobre el pecho lleva el escapulario de los esclavos de la hermandad, elaborados en los talleres de Francisco Franco, de Sevilla. El paso del Cristo es de estilo barroco, estrenado en 1962 y ampliado en 1999, con respiraderos y canastilla dorada en pan de oro. Posse ocho candelabros guardabrisas. Delante del respiradero delantero lleva una imagen a escala de la Virgen del Pilar.
			<br><br>
			<img src="./resources/pasos/ninoremedio.jpg" class="imagenes_pasos" />			
		</div>
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
