<!-- Volver -->
<div style="display: block;" class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_5" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"> Volver
		</div>
		
		<div id="ov_back_button_6" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_5").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_6").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div id="ov_large_menu_item_1" class="ov_large_menu_item">
			
				<div class="ov_box_circle_images">
					
					<img src="./resources/escudos/palmas.png" class="ov_image_circle" alt=" ">
					
				</div>
				
				<div class="ov_box_large_menu_item_title">
					
					<div class="ov_text_large_menu_item_01" style="color:#FFF">Hermandad de las Palmas</div>				
					
				</div>
				
				<div class="ov_clear_floats"> </div>
				
			</div>
			
		</div>
		
		<div class="texto_hermandad">
			Fundada en la Iglesia de los Jesuitas, donde actualmente se encuentra el colegio Hermano Gárate, el 9 de Abril de 1944 por el patronato de la Congregación Juvenil Mariana de María Inmaculada, San Luís y San Estanislao. La hermandad asumió como escudo propio el de las congregaciones marianas y adoptaron los colores azul celeste y blanco para las túnicas de los cofrades, queriendo con ello rendir un tributo a la Madre Inmaculada, ya que el lema de la congregación era «A Cristo por María».
			<br><br>
			La imagen se porta a costal, por una cuadrilla de 40 costaleros.
			<p><b>MÚSICA</b></p>
			Agrupación Musical Nuestro Padre Jesús Redentor de Moral de Calatrava.
		</div>
		
		<div class="titulos_hermandad">
			DATOS
		</div>
		
		<div class="informacion_hermandad">
			<b>Túnica:</b><br>
			Túnica blanca con botonadura amarilla y capillo blanco ribeteado con un cordón amarillo, capa azul celeste con el anagrama de la congregación mariana en fondo blanco en el lado izquierdo; fajín también azul celeste con borlas de hilo de oro; guante blanco y calzado negro. Los hermanos portan palmas.
			<br><br>
			<img src="./resources/habitos/palmas.jpg" style="display:block">
			<b>Ubicación del titular:</b><br>Iglesia de San Ignacio de Loyola (Salesianos).
			<br><br>
			<b>Fundación:</b><br>1944.
			<br><br>
		</div>
		
		<div class="titulos_hermandad">
			CONTACTO
		</div>
		
		<div class="informacion_hermandad">	
			<a id="web" href="http://hermandaddelaspalmasciudadreal.blogspot.com.es/">Página web</a><br>
			<a id="twitter" href="https://twitter.com/Hdad_Palmas">Twitter</a>
			<script>
				$("a").on("click",function(e){
					var url = $(this).attr('href');
					var containHttp = new RegExp('http\\b');
					var containHttps = new RegExp('https\\b');
					if(containHttp.test(url)){
						e.preventDefault();
						var new_url=extern_page+url.substr(7);
						window.open(new_url, "_system", "location=yes");
					}
					else if(containHttps.test(url)){
						e.preventDefault();
						var new_url=extern_page+url.substr(8);
						window.open(new_url, "_system", "location=yes");
					}
				});
			</script>
		</div>
		
		<div class="titulos_hermandad">
			PROCESIONES
		</div>
		
		<div id="ov_to_proce" class="enlace_a_procesion">
			Las Palmas (Domingo de Ramos)
		</div>
		<script>
			$("#ov_to_proce").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_palmas_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
				
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
				
		<div class="subtitulo_hermandad">
			Santísimo Niño de la Paz
		</div>
		
		<div class="informacion_pasos">
			Autor: Anónimo
			<br>
			Fecha: S. XVII
			<br><br>
			Viste una túnica de terciopelo rojo bordada en oro.
			<p><b>Estrenos 2016</b></p>
			La Hermandad estrenará los cuatro faroles del paso del Stmo. Niño de la Paz, obra del taller Alberto Fernández. (Villarrubia de los Ojos. Ciudad Real).
			<br><br>
			<img src="./resources/pasos/ninopaz.jpg" class="imagenes_pasos" />			
		</div>
		
		<div class="hollow_10px"> </div>
		<div class="subtitulo_hermandad">
			Misterio de la Entrada de Jesús en Jerusalén
		</div>
		
		<div class="informacion_pasos">
			Autor: D.José de Rabasa y Antonio Royo Miralles
			<br>
			Fecha: 1945
			<br><br>
			La Sagrada Entrada de Jesús en Jerusalén. Obra de los valencianos José Rabasa Pérez y Antonio Royo Miralles (1945), autores también de las imágenes de un hebreo y dos niños que aclaman a Jesús (1960). Completa la escena una palmera estrenada en el año 2003 del escultor sevillano Fernando Cotro Sáez. El paso, estrenado en 2003, tiene canastilla de madera con cabezas de ángeles y respiraderos en metal sobredorado con cartelas de la orfebrería de Ramón Orovio de Torralba de Calatrava, siendo los faldones de terciopelo azul. El paso es llevado sobre ruedas.
			<br><br>	
			<img src="./resources/pasos/palmas.jpg" class="imagenes_pasos"/>		
		</div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
