<!-- Volver -->
<div style="display: block;" class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_5" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"> Volver
		</div>
		
		<div id="ov_back_button_6" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_5").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_6").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div id="ov_large_menu_item_1" class="ov_large_menu_item">
			
				<div class="ov_box_circle_images">
					
					<img src="./resources/escudos/prendimiento.png" class="ov_image_circle" alt=" ">
					
				</div>
				
				<div class="ov_box_large_menu_item_title">
					
					<div class="ov_text_large_menu_item_01" style="color:#FFF">Hermandad del Prendimiento de Jesús Cautivo y María Santísima de la Salud</div>				
					
				</div>
				
				<div class="ov_clear_floats"> </div>
				
			</div>
			
		</div>
		
		<div class="texto_hermandad">
			La hermandad se fundó el 29 de mayo de 1999 y se erigió canónicamente el 30 de julio de ese mismo año en la parroquia de Ntra. Sra. de los Ángeles. En Enero de 1998 tuvo lugar la primera reunió con el Sr. Obispo D. Rafael Torija para informarle del proyecto de fundar una nueva hermandad con la intención de ampliar y enriquecer la Semana Santa de Ciudad Real. El Sr. Obispo puso algunas condiciones para que el proyecto siguiera adelante. Tras muchos intentos fallidos, finalmente en abril de 1999 el párroco D. Francisco Romero, admite el proyecto y permite establecer en la Parroquia de Ntra. Sra. de los Ángeles la sede canónica de la hermandad. El 30 de julio por fin se aprueba la hermandad.
			<br><br>
			La imagen se porta a costal, por una cuadrilla de 42 costaleros.
			<p><b>MÚSICA</b></p>
			Agrupación Musical Santo Tomás de Villanueva.
		</div>
		
		<div class="titulos_hermandad">
			DATOS
		</div>
		
		<div class="informacion_hermandad">
			<b>Túnica:</b><br>
			La túnica es de color blanco con botones y fajín color azul, del mismo color son el escapulario trasero y el capillo que lleva bordado el escudo de la hermandad. Los hermanos llevan sandalias negras y calcetas blancas y portan cirios color azul.
			<br><br>
			<img src="./resources/habitos/prendimiento.jpg" style="display:block">
			<b>Ubicación del titular:</b><br>Parroquia de Nuestra Señora de los Angeles.
			<br><br>
			<b>Fundación:</b><br>1999.
			<br><br>
			<b>Insignia(s) destacadas:</b><br>
			· Senatus, Orfebrería de A. Santos Campanario (2006).<br>
			· Estandarte Cristo, bordado sobre terciopelo azul Francia con bordados de Jesús Díaz Hellín y orfebrería de A. Santos Campanario (2009).<br>
			· Banderín del Grupo Joven de la Hermandad, bordado en terciopelo azul Francia, con bordados de Jesús Díaz Hellín y orfebrería de A. Santos Campanarios (2009).<br>
			· Cruz Guía en madera de cedro donada por la Parroquia, con orfebrería de Ramón Orovio (2003).<br>
			· Faroles Cruz Guía, Orfebrería A. Santos Campanario (2006).<br>
			· Ciriales y pértiga, Orfebrería Ramón Orovio (2003).<br>
			· Bandera de Paso, Orfebrería A. Santos Campanario y Taller de costura Real Textil (2007).<br>
			· Libro de Reglas y pértiga, Orfebrería Ramón Orovio (2004).<br>
			· Estandarte Corporativo, con Orfebrería de A. Santos Campanario con bordados de Jesús Díaz Hellín en terciopelo azul Francia.
			<br><br>
		</div>
		
		<div class="titulos_hermandad">
			CONTACTO
		</div>
		
		<div class="informacion_hermandad">
			Casa Hermandad<br>
			Residencial Ronda nº 11<br><br>
			<a id="web" href="http://www.prendimiento.es">Página web</a><br>
			<a id="twitter" href="https://twitter.com/GJPRENDIMIENTO1">Twitter</a><br>
			<a id="blog" href="http://cautivoysalud.blogspot.com.es/">Blog</a>
			<script>
				$("a").on("click",function(e){
					var url = $(this).attr('href');
					var containHttp = new RegExp('http\\b');
					var containHttps = new RegExp('https\\b');
					if(containHttp.test(url)){
						e.preventDefault();
						var new_url=extern_web+url.substr(7);
						window.open(new_url, "_system", "location=yes");
					}
					else if(containHttps.test(url)){
						e.preventDefault();
						var new_url=extern_web+url.substr(8);
						window.open(new_url, "_system", "location=yes");
					}
				});
			</script>
		</div>
		
		<div class="titulos_hermandad">
			PROCESIONES
		</div>
		
		<div id="ov_to_proce" class="enlace_a_procesion">
			Prendimiento (Domingo de Ramos)
		</div>
		<script>
			$("#ov_to_proce").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_prendimiento_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
				
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
				
		<div class="subtitulo_hermandad">
			Jesús Cautivo
		</div>
		
		<div class="informacion_pasos">
			Autor: Miguel Ángel González Jurado
			<br>
			Fecha: 2000
			<br><br>
			Jesús Cautivo viste túnica blanca con cordón y cinturón de oro. Lleva potencias sobre doradas. El soldado romano lleva espada, casco y coraza de metal dorado  y viste túnica negra que le llega a la altura de las rodillas y capa azul. El sayón viste faldilla corta y faja hebrea y lleva sujeta la cuerda que ata las manos de Jesús. La imagen de Judas va vestida con túnica azul oscura y beca en color obre portando en la mano izquierda una bolsa. La Imagen de María Santísima de la Salud es obra del sevillano Antonio J. Dubé de Luque.
			<br><br>
			<img src="./resources/pasos/prendimiento.jpg" class="imagenes_pasos" />			
		</div>
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
