<!-- Volver -->
<div style="display: block;" class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_5" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"> Volver
		</div>
		
		<div id="ov_back_button_6" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_5").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_6").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div id="ov_large_menu_item_1" class="ov_large_menu_item">
			
				<div class="ov_box_circle_images">
					
					<img src="./resources/escudos/jesuscaido.png" class="ov_image_circle" alt=" ">
					
				</div>
				
				<div class="ov_box_large_menu_item_title">
					
					<div class="ov_text_large_menu_item_01" style="color:#FFF">Hermandad de Nuestro Padre Jesús Caído</div>				
					
				</div>
				
				<div class="ov_clear_floats"> </div>
				
			</div>
			
		</div>
		
		<div class="texto_hermandad">
			En un principio se fundó para dar culto a una reliquia de la cruz de Cristo, se denominaba la Santa Cruz. En 1770 se redactaron nuevas ordenanzas y constituciones. Los cofrades empezaron a vestir una nueva túnica en 1903. En 1912 la imagen fue sustituida por un nuevo misterio de Venancio Marco Roig, formado por las tallas de Jesús y del cirineo. Durante la Guerra Civil se destruyó todo su patrimonio. El gremio comercial de la ciudad se hizo cargo de la reorganización de la hermandad, por lo cual esta hermandad es conocida popularmente como  “El Comercio”.
			<br><br>
			La túnica es blanca con botones morados, capillo de raso morado con borlas de oro, llevando en la delantera del mismo, bordado en oro el anagrama “J.H.S.” Se completa la túnica con fajín de raso morado, donde llevan la medalla de la hermandad en metal plateado y capa muy amplia y holgada también en raso morado, la cual lleva bordada en blanco a la altura del hombro izquierdo una cruz inclinada. Zapato negro y guante blanco, portando los hermanos cetros niquelados.
			<br><br>
			El paso se porta a costal, por 45 costaleros.
			<br><br>
			Agrupación Musical Santísimo Cristo de la Piedad de Miguelturra (Ciudad Real).
		</div>
		
		<div class="titulos_hermandad">
			DATOS
		</div>
		
		<div class="informacion_hermandad">
			<b>Hábito:</b><br>
			<img src="./resources/habitos/jesuscaido.jpg" style="display:block">
			<b>Fundación:</b><br>1605.
			<br><br>
			<b>Culto(s) organizados:</b><br>30 de Marzo - Presentación del cartel y Pregón de Semana Santa 2014, a cargo de D. Francisco Badía (Museo López Villaseñor a las 12.30 horas).<br>2 de Abril - Misa de Difuntos y Besapiés con la Imagen Titular, en la Parroquia de San Pedro Apóstol (20.30 horas)
		</div>
		
		<div class="titulos_hermandad">
			CONTACTO
		</div>
		
		<div class="informacion_hermandad">
			Parroquia de San Pedro Apóstol<br>
			<a id="web" href="http://hermandadjesuscaidocr.blogspot.com.es/">Página web</a><br>
			<a id="twitter" href="https://twitter.com/HermandadJesusC">Twitter</a>
			<script>
				$("a").on("click",function(e){
					var url = $(this).attr('href');
					var containHttp = new RegExp('http\\b');
					var containHttps = new RegExp('https\\b');
					if(containHttp.test(url)){
						e.preventDefault();
						window.open(url, "_system", "location=yes");
					}
					else if(containHttps.test(url)){
						e.preventDefault();
						window.open(url, "_system", "location=yes");
					}
				});
			</script>
		</div>
		
		<div class="titulos_hermandad">
			PROCESIONES
		</div>
		
		<div id="ov_to_proce" class="enlace_a_procesion">
			Jesús Caído (3 de Abril, Viernes Santo)
		</div>
		<script>
			$("#ov_to_proce").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_jesus_caido_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
				
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
				
		<div class="subtitulo_hermandad">
			Las caídas de Jesús con la cruz al hombro
		</div>
		
		<div class="informacion_pasos">
			Autor:  Luis Marco Pérez
			<br>
			Fecha: 1943-1945
			<br><br>
			El Misterio representa una de las caídas de Jesús con la cruz al hombro y es ayudado por el cirineo. Completan el misterio un sayón, la Verónica  y la imagen de la Virgen María.
			<br><br>
			<img src="./resources/pasos/jesuscaido.jpg" class="imagenes_pasos" />			
		</div>
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
