<!-- Volver -->
<div style="display: block;" class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_5" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"> Volver
		</div>
		
		<div id="ov_back_button_6" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_5").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_6").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div id="ov_large_menu_item_1" class="ov_large_menu_item">
			
				<div class="ov_box_circle_images">
					
					<img src="./resources/escudos/misericordia.png" class="ov_image_circle" alt=" ">
					
				</div>
				
				<div class="ov_box_large_menu_item_title">
					
					<div class="ov_text_large_menu_item_01" style="color:#FFF">Hermandad de la Santísima Virgen de la Misericordia</div>				
					
				</div>
				
				<div class="ov_clear_floats"> </div>
				
			</div>
			
		</div>
		
		<div class="texto_hermandad">
			La hermandad de la Virgen de la Misericordia fue fundada por un grupo de catequistas de la Parroquia de San Pedro en el año 1985. La primera titular con la que procesionó pertenecía a a una camarera y fue bendecida en 1986. En los primeros estatutos se acordó que solamente podrían pertenecer a esta cofradía jóvenes con edades comprendidas entre los 8 y los 20 años. Finalmente en 1988 la hermandad optó por que pudiese pertenecer a la hermandad quien quisiera independientemente de su edad. Fue la primera en España en contar con una cuadrilla “mixta”. En 1990 procesiona por primera vez la actual imagen de la Virgen de la Misericordia.
			<br><br>
			Túnica de sarga blanca con botonadura, cíngulo y capillo de color granate. En el babero del capillo lleva bordado el escudo de la hermandad. Sandalias franciscanas negras y calcetín blanco. Los hermanos portan callado peregrino, consistente en un báculo de madera enrollado en la parte superior con 14 vueltas de pita, simbolizando las estaciones del Vía Crucis.
			<br><br>
			El paso se porta a costal, por 30 costaleros.
			<br><br>
			Banda Municipal de Música de Porzuna (Ciudad Real)
		</div>
		
		<div class="titulos_hermandad">
			DATOS
		</div>
		
		<div class="informacion_hermandad">
			<b>Hábito:</b><br>
			<img src="./resources/habitos/misericordia.jpg" style="display:block">
			<b>Ubicación de la titular:</b><br>Capilla de San Juan Bautista de la Parroquia de San Pedro Apóstol.
			<br><br>
			<b>Fundación:</b><br>1985.
			<br><br>
			<b>Insignia(s) destacadas:</b><br>Estandarte de la Virgen del Prado, realizado por la Hermandad en su XXV Aniversario, como agradecimiento a la Patrona.
			<br><br>
			<b>Culto(s) organizados:</b><br>27, 28 y 29 de Marzo - Triduo en honor a la Santísima Virgen de la Misericordia.<br>25 de Septiembre - Función Solemne por la festividad de Nuestra Señora de la Misericordia.<br>Noviembre - Misa de Difuntos.<br>8 de Marzo - Premios "M" y Presentación del cartel 2014 (18.00 horas).
		</div>
		
		<div class="titulos_hermandad">
			CONTACTO
		</div>
		
		<div class="informacion_hermandad">
			Parroquia de San Pedro Apóstol<br>			
			<a id="web" href="http://misericordia-ciudadreal.blogspot.com.es/">Página web</a><br>
			<a id="twitter" href="https://twitter.com/misericordiacrl">Twitter</a>
			<script>
				$("a").on("click",function(e){
					var url = $(this).attr('href');
					var containHttp = new RegExp('http\\b');
					var containHttps = new RegExp('https\\b');
					if(containHttp.test(url)){
						e.preventDefault();
						window.open(url, "_system", "location=yes");
					}
					else if(containHttps.test(url)){
						e.preventDefault();
						window.open(url, "_system", "location=yes");
					}
				});
			</script>
		</div>
		
		<div class="titulos_hermandad">
			PROCESIONES
		</div>
		
		<div id="ov_to_proce" class="enlace_a_procesion">
			Misericordia (3 de Abril, Viernes Santo)
		</div>
		<script>
			$("#ov_to_proce").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_misericordia_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
				
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
				
		<div class="subtitulo_hermandad">
			Virgen de la Misericordia
		</div>
		
		<div class="informacion_pasos">
			Autor: Juan Ventura
			<br>
			Fecha: 1989
			<br><br>
			La Virgen viste saya lisa de brocado beige, tocado de sobremanto de malla bordada en oro. Luce corona en metal sobredorado y manto de color granate con el escudo de la hermandad bordado en su centro. En las manos lleva un rosario regalado por el Grupo Joven de la hermandad. El paso lleva respiraderos en metal plateado y peana y llamador del mismo metal. Las jarras son de 1993 y los faldones granates del 1999, año en el que se portó por primera vez a costal.
			<br><br>
			<img src="./resources/pasos/misericordia.jpg" class="imagenes_pasos" />			
		</div>
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
