<!-- Volver -->
<div style="display: block;" class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_5" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"> Volver
		</div>
		
		<div id="ov_back_button_6" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_5").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_6").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div id="ov_large_menu_item_1" class="ov_large_menu_item">
			
				<div class="ov_box_circle_images">
					
					<img src="./resources/escudos/silencio.png" class="ov_image_circle" alt=" ">
					
				</div>
				
				<div class="ov_box_large_menu_item_title">
					
					<div class="ov_text_large_menu_item_01" style="color:#FFF">Hermandad del Santísimo Cristo de la Buena Muerte y la Virgen del Mayor Dolor (silencio)</div>				
					
				</div>
				
				<div class="ov_clear_floats"> </div>
				
			</div>
			
		</div>
		
		<div class="texto_hermandad">
			El 7 de marzo de 1943 queda constituida la hermandad realizando ese mismo año su primera salida penitencial el Jueves Santo a las 5 de la mañana con la imagen del Cristo de la Misericordia que actualmente se encuentra en el templo de San José  Obrero. Esta hermandad nace con el objetivo de ser una de la denominadas hermandades “serias”, “de silencio” y “penitenciales”. Durante su recorrido no solo los nazarenos guardan silencio y respeto ante el via crucis y las imágenes de sus titulares sino también el público que se acerca a ver la procesión permanece en rotundo silencio.
			<br><br>
			Túnica basada en el hábito franciscano, es negra con botonadura blanca, capillo bajo también negro con la Cruz de Jerusalén en blanco. Cíngulo de cuerda de cáñamo, guante blanco, sandalia negra y calcetín blanco. Los hermanos portan hachones de madera. 
			<br><br>
			La imagen se porta a costal, a un solo hombro con cuatro varales por fuera.
			<br><br>
			Un solo tambor en cabeza de la procesión, y otro a la altura del trono para marcar el paso de los portadores.
		</div>
		
		<div class="titulos_hermandad">
			DATOS
		</div>
		
		<div class="informacion_hermandad">
			<b>Hábito:</b><br>
			<img src="./resources/habitos/silencio.jpg" style="display:block">
			<b>Ubicación del titular:</b><br>El Crito de la Buena Muerte en la Parroquia de San Pedro.<br>La Virgen del Mayor Dolor en el domicilio del Hermano mayor con vistas a la calle
			<br><br>
			<b>Fundación:</b><br>1952.
			<br><br>
			<b>Insiginia(s) destacadas:</b><br>Estandarte guión.<br>Estandarte pintado por Martín Casado y adornado con los bordados de un traje de luces del torero Víctor Mendes.<br>Estandarte pintado por Martín Casado.<br>Estandarte con una pintura de D. Alfonso de la Torre.<br>Estandarte de la doble condición humana y divina de Cristo, en el que van la corona y las potencias.
			<br><br>
			<b>Culto(s) organizados:</b><br>Función Solemne al Señor de las Penas en Cuaresma.
		</div>
		
		<div class="titulos_hermandad">
			CONTACTO
		</div>
		
		<div class="informacion_hermandad">
			C/ Luz nº 9, Ciudad Real<br>
			<a id="web" href="http://www.silencio-cr.es/">Página web</a><br>
			<a id="twitter" href="https://twitter.com/GJ_Silencio_CR">Twitter</a>
			<script>
				$("a").on("click",function(e){
					var url = $(this).attr('href');
					var containHttp = new RegExp('http\\b');
					var containHttps = new RegExp('https\\b');
					if(containHttp.test(url)){
						e.preventDefault();
						window.open(url, "_system", "location=yes");
					}
					else if(containHttps.test(url)){
						e.preventDefault();
						window.open(url, "_system", "location=yes");
					}
				});
			</script>
		</div>
		
		<div class="titulos_hermandad">
			PROCESIONES
		</div>
		
		<div id="ov_to_proce" class="enlace_a_procesion">
			Mayor dolor (31 de Marzo, Miercoles Santo)
		</div>
		<script>
			$("#ov_to_proce").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_silencio_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
		
		<div id="ov_to_proce1" class="enlace_a_procesion">
			Silencio (2 de Abril, Jueves Santo)
		</div>
		<script>
			$("#ov_to_proce1").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_silencio_02.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
				
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
				
		<div class="subtitulo_hermandad">
			Cristo de la Buena Muerte y Virgen del Mayor Dolor
		</div>
		
		<div class="informacion_pasos">
			Autor: José María Rausell Montañana y Francisco Llorens Ferrer
			<br>
			Fecha: 1947 y 1944 respectivamente
			<br><br>
			Tanto el Cristo como la Virgen procesionan sobre tonos de estilo barroco dorados en pan de oro, de la carpintería de Francisco Hurtado y con faldones negros. El trono del Cristo de la Buena Muerte lleva cuatro hachones colocados en las esquinas y el de la Virgen del Mayor Dolor candelabros de guardabrisas. La Virgen porta una concha de plata que fue encontrada en el tejado de la Parroquia de San Pedro en los años cuarenta. En el corazón lleva un puñal de plata de ley.
			<br><br>
			<img src="./resources/pasos/silencio.jpg" class="imagenes_pasos" />			
		</div>
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
