<!-- Volver -->
<div style="display: block;" class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_5" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"> Volver
		</div>
		
		<div id="ov_back_button_6" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_5").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_6").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div id="ov_large_menu_item_1" class="ov_large_menu_item">
			
				<div class="ov_box_circle_images">
					
					<img src="./resources/escudos/encuentro.png" class="ov_image_circle" alt=" ">
					
				</div>
				
				<div class="ov_box_large_menu_item_title">
					
					<div class="ov_text_large_menu_item_01" style="color:#FFF">Cofradía del Encuentro. Hermandad Ferroviaria de San Rafael Arcángel y Nuestra Señora de Alarcos</div>				
					
				</div>
				
				<div class="ov_clear_floats"> </div>
				
			</div>
			
		</div>
		
		<div class="texto_hermandad">
			Fundada dentro de la Hermandad Ferroviaria de Acción Católica de Nuestra Señora de Alarcos y San Rafael Arcángel en 1945. Procesionó por primera vez en la Semana Santa de 1946, sacando en 1949 una rica colección de estandartes pertenecientes a la antigua hermandad de la Coronación de Espinas. Antiguamente, el misterio completo estaba expuesto al culto en la Parroquia de San Pedro. Sin embargo, desde 1970 y tras las obras en la parroquia, tuvo que abandonarla no volviendo a entrara nunca, salvo el Viernes Santo, día en que procesiona. El misterio estuvo guardado en los hangares de la antigua estación de ferrocarril, donde sufrió destrozos en 1982. Fueron restauradas las imágenes y se celebró una misa en el campo de la ferroviaria con la asistencia de una representación de todas las hermandades de Semana Santa.
			<br><br>
			Meter información de los pasos
			<br><br>
			La túnica es blanca con botonadura en terciopelo morado, cíngulo amarillo y capa de este mismo color, con las cuatro órdenes militares en el lado izquierdo, capillo de terciopelo morado con el anagrama en tul “J.H.S.” a través del cual se logra la visión. Zapato negro y guante blanco. Los hermanos portan cetros niquelados con el anagrama anteriormente reseñado.
			<br><br>
			Meter información de porteo
			<br><br>
			Meter información banda de música
		</div>
		
		<div class="titulos_hermandad">
			DATOS
		</div>
		
		<div class="informacion_hermandad">
			<b>Hábito:</b><br>
			<img src="./resources/habitos/encuentro.jpg" style="display:block">
			<b>Templo de Residencia Canónica:</b><br>Convento de Santa Teresa.
			<br><br>
			<b>Fundación:</b><br>1831.
			<br><br>
			<b>Hermanos:</b><br>160.
			<br><br>
			<b>Nazarenos:</b><br>90.
			<br><br>
			<b>Atributos de los Hermanos:</b><br>Cruz de Madera
			<br><br>
			<b>Culto(s) organizados:</b><br>Triduo al Santísimo Cristo de los Afligidos.
		</div>
		
		<div class="titulos_hermandad">
			CONTACTO
		</div>
		
		<div class="informacion_hermandad">
			Cofradía del Santisimo Cristo de los Afligidos.<br>
			Convento de los Padres Carmelitas<br>
			Plaza de la Santa, nº 2<br>
			05001 - AVILA<br><br>			
			afligidosavilahm@gmail.com 
		</div>
		
		<div class="titulos_hermandad">
			PROCESIONES
		</div>
		
		<div id="ov_to_proce" class="enlace_a_procesion">
			Via Matris (11 de Abril, Viernes de Dolores)
		</div>
		<script>
			$("#ov_to_proce").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_via_matris_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
				
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
				
		<div class="subtitulo_hermandad">
			Encuentro de Jesús con su Madre camino del Calvario
		</div>
		
		<div class="informacion_pasos">
			Autor: José María Rausell Montañana y Francisco Llorens
			<br>
			Fecha: 1946
			<br><br>
			Encuentro de Jesús con su Madre camino del Calvario en la calle de la Amargura. Completan el misterio María Magdalena y un soldado romano. Todas las imágenes que lo componen son de talla completa. El paso del misterio del Encuentro es de estilo renacentista estrenado en 1948 dorado en pan de oro. No lleva candelabros ni ningún otro tipo de iluminación, sólo unos jarrones en las esquinas repletos de flores. El paso lleva faldones morados y es de la carpintería de los ferroviarios Rafael del Campo, Ortiz y Monescillo.
			<br><br>
			<img src="./resources/pasos/encuentro.jpg" class="imagenes_pasos" />			
		</div>
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
