<!-- Volver -->
<div style="display: block;" class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_5" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"> Volver
		</div>
		
		<div id="ov_back_button_6" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_5").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_6").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div id="ov_large_menu_item_1" class="ov_large_menu_item">
			
				<div class="ov_box_circle_images">
					
					<img src="./resources/escudos/huerto.png" class="ov_image_circle" alt=" ">
					
				</div>
				
				<div class="ov_box_large_menu_item_title">
					
					<div class="ov_text_large_menu_item_01" style="color:#FFF">Real y muy ilustre Hermandad de la Oración en el Huerto de los Olivos</div>				
					
				</div>
				
				<div class="ov_clear_floats"> </div>
				
			</div>
			
		</div>
		
		<div class="texto_hermandad">
			La hermandad se fundó en el año 1688 para dar culto al misterio de Jesucristo orando en el huerto a su Eterno Padre. En 1730 se redactan nuevas ordenanzas y en 1786 la hermandad traslada a la Parroquia de San Pedro. En 1911 la hermandad cambia el misterio tradicional por uno nuevo, que será pasto de las llamas en la guerra civil. En las primeras salidas procesionales los hermanos portaban palmas, siendo estas sustituidas a partir de 1967 por los actuales cetros niquelados. Desde el año  2005 el Cristo titular de la Hermandad está expuesto al culto en la Ermita de la Virgen de Alarcos, en la capilla de San Isidro Labrador.
			<br><br>
			La túnica es morada con botonadura granate, capillo y cíngulo de terciopelo granate, capa de raso color granate vivo, sandalia negra y guantes y calcetas blancas. Los hermanos portan cetro niquelado terminado en un cáliz rodeado por dos hojas de olivo.
			<br><br>
			El paso se porta a dos hombros, por 40 portadores
			<br><br>
			Banda de Cornetas y Tambores de Jesús Nazareno, de Fernancaballero en la Cruz de Guía y Agrupación Musical Santo Tomás de Villanueva, de Ciudad Real en el Misterio.
		</div>
		
		<div class="titulos_hermandad">
			DATOS
		</div>
		
		<div class="informacion_hermandad">
			<b>Tunica:</b><br>
			<img src="./resources/habitos/huerto.jpg" style="display:block">
			<b>Templo de Residencia Canónica:</b><br>Convento de Santa Teresa.
			<br><br>
			<b>Fundación:</b><br>1688.
			<br><br>
			<b>Insignia(s):</b><br>Cruz de Guía en metal plateado de la orfebrería de Ramón Orovio de la Torre (1999).<br>Tres estandartes grandes y dos pequeños bordados por las Adoratrices de Ciudad Real (1951).<br>Estandarte del Cáliz de la Casa de Santa Rufina, de Madrid (1971).<br>Guión del Grupo Joven, antiguo guión de la Banda de Cornetas y Tambores de la Hermandad confeccionado por la casa de Rufina de Madrid.<br>Estandarte de Jesús y el Ángel bordados en los talleres de Carrasquilla en 1994.<br>Estandarte Corporativo bordado en oro por los talleres de García y Poo de Sevilla en 2002.<br>Estandarte con el escudo de la Hermandad bordado en oro sobre terciopelo morado obra del bordador valenciano D. Juan José Barber.
			<br><br>
		</div>
		
		<div class="titulos_hermandad">
			CONTACTO
		</div>
		
		<div class="informacion_hermandad">
			C/ Paloma, nº 15 C. P. 13003 Ciudad Real<br>
			<a id="web" href="http://www.oracionenelhuertocr.com/">Página web</a><br>
			<a id="twitter" href="https://twitter.com/Hdad_HuertoCR">Twitter</a>
			<script>
				$("a").on("click",function(e){
					var url = $(this).attr('href');
					var containHttp = new RegExp('http\\b');
					var containHttps = new RegExp('https\\b');
					if(containHttp.test(url)){
						e.preventDefault();
						window.open(url, "_system", "location=yes");
					}
					else if(containHttps.test(url)){
						e.preventDefault();
						window.open(url, "_system", "location=yes");
					}
				});
			</script>
		</div>
		
		<div class="titulos_hermandad">
			PROCESIONES
		</div>
		
		<div id="ov_to_proce" class="enlace_a_procesion">
			Oración en el Huerto (3 de Abril, Viernes Santo)
		</div>
		<script>
			$("#ov_to_proce").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_oracion_huerto_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
				
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
				
		<div class="subtitulo_hermandad">
			Jesús orando en el Huerto de los Olivos
		</div>
		
		<div class="informacion_pasos">
			Autor: Luis Marco Pérez
			<br>
			Fecha: 1946
			<br><br>
			Jesús orando en el Huerto de los Olivos mientras un ángel le indica el cáliz que cuelga del olivo. Mientras tanto, San Juan, San Pedro y Santiago duermen. Es una reproducción  de la Oración en el Huerto del murciano Salcillo. Todas las imágenes  del misterio son de talla completa a excepción del Señor que es de vestir. Luce túnica de terciopelo morado bordada en oro. Del olivo pende un cáliz de plata sobredorada. El paso es de estilo barroco estrenado en el año 2006. Completan el paso los faldones en color rojo.
			<br><br>
			<img src="./resources/pasos/huerto.jpg" class="imagenes_pasos" />			
		</div>
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
