<!-- Volver -->
<div style="display: block;" class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_5" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"> Volver
		</div>
		
		<div id="ov_back_button_6" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_5").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_6").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div id="ov_large_menu_item_1" class="ov_large_menu_item">
			
				<div class="ov_box_circle_images">
					
					<img src="./resources/escudos/flagelacion.png" class="ov_image_circle" alt=" ">
					
				</div>
				
				<div class="ov_box_large_menu_item_title">
					
					<div class="ov_text_large_menu_item_01" style="color:#FFF">Ilustre, Humilde y Fervorosa Hermandad y Cofradía de Nazarenos de la Flagelación de Nuestro Padre Jesús de la Bondad y María Santísima del Consuelo</div>				
					
				</div>
				
				<div class="ov_clear_floats"> </div>
				
			</div>
			
		</div>
		
		<div class="texto_hermandad">
			La Hermandad de la Flagelación fue fundada en 1983 en la Parroquia de Santiago Apóstol bajo el nombre de Cofradía del Amor Fraterno. En 1988 se talla la imagen de la Virgen del Consuelo, primera titular de la hermandad, y en 1990 se expone al culto en una capilla habilitada en la calle de la Estrella. El Miércoles Santo de 1991 se lleva a cabo la primera salida procesional de la hermandad únicamente con la imagen de María Santísima del Consuelo. En el año 1992 la hermandad cambia de sede canónica, siendo desde entonces hasta la actualidad la Parroquia de Santo Tomás de  Villanueva.  En febrero de 1992 se bendice la imagen del Cristo de la Bondad y en la Semana Santa de ese mismo año procesiona por primera vez junto a la Virgen del Consuelo.
			<br><br>
			Meter información de los pasos
			<br><br>
			Túnica blanca con botonadura granate y fajín de raso granate. Capillo blanco con el escudo de la hermandad bordado en oro. Sandalias negras y calcetas blancas. Los hermanos del tramo del Cristo portan cirios de color granate y los de la Virgen de color blanco.
			<br><br>
			Meter información de porteo
			<br><br>
			Meter información banda de música
		</div>
		
		<div class="titulos_hermandad">
			DATOS
		</div>
		
		<div class="informacion_hermandad">
			<b>Hábito:</b><br>
			<img src="./resources/habitos/flagelacion.jpg" style="display:block">
			<b>Templo de Residencia Canónica:</b><br>Convento de Santa Teresa.
			<br><br>
			<b>Fundación:</b><br>1831.
			<br><br>
			<b>Hermanos:</b><br>160.
			<br><br>
			<b>Nazarenos:</b><br>90.
			<br><br>
			<b>Atributos de los Hermanos:</b><br>Cruz de Madera
			<br><br>
			<b>Culto(s) organizados:</b><br>Triduo al Santísimo Cristo de los Afligidos.
		</div>
		
		<div class="titulos_hermandad">
			CONTACTO
		</div>
		
		<div class="informacion_hermandad">
			Cofradía del Santisimo Cristo de los Afligidos.<br>
			Convento de los Padres Carmelitas<br>
			Plaza de la Santa, nº 2<br>
			05001 - AVILA<br><br>			
			afligidosavilahm@gmail.com 
		</div>
		
		<div class="titulos_hermandad">
			PROCESIONES
		</div>
		
		<div id="ov_to_proce" class="enlace_a_procesion">
			Via Matris (11 de Abril, Viernes de Dolores)
		</div>
		<script>
			$("#ov_to_proce").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_via_matris_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
				
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
				
		<div class="subtitulo_hermandad">
			Jesús flagelado
		</div>
		
		<div class="informacion_pasos">
			Autor: Fernando Castejón López
			<br>
			Fecha: 1991
			<br><br>
			La imagen de Jesús flagelado es obra del escultor Fernando Castejón López en 1991. El resto de las imágenes del paso (los dos sayones, uno romano a caballo, otro a pie, y un patricio son obra del sevillano Manuel Ramos Corona, el mismo encargado de realizar la imagen de la Virgen del Consuelo en 1989.<br>El paso del misterio es de estilo barroco estrenado en 2003. El paso lleva candelabros de guardabrisas y faldones en terciopelo granate. La Virgen del consuelo viste saya en terciopelo azul bordada en oro y toca de sobre manto en mall bordada en oro. Luce corona en metal sobredorado y en su pecherín lleva pendido un broche con su nombre en plata y la medalla de oro de hermandad. El manto es liso de color granate. En la mano izquierda lleva unas flores de azahar en metal plateado. 
			<br><br>
			<img src="./resources/pasos/flagelacion.jpg" class="imagenes_pasos" />			
		</div>
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
