<!-- Volver -->
<div style="display: block;" class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_5" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"> Volver
		</div>
		
		<div id="ov_back_button_6" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_5").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_6").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div id="ov_large_menu_item_1" class="ov_large_menu_item">
			
				<div class="ov_box_circle_images">
					
					<img src="./resources/escudos/cena.png" class="ov_image_circle" alt=" ">
					
				</div>
				
				<div class="ov_box_large_menu_item_title">
					
					<div class="ov_text_large_menu_item_01" style="color:#FFF">Hermandad Sacramental de la Santa Cena y María Santísima del Dulce Nombre</div>				
					
				</div>
				
				<div class="ov_clear_floats"> </div>
				
			</div>
			
		</div>
		
		<div class="texto_hermandad">
			La Hermandad fue fundada en el año 1960 en la Parroquia de Santiago Apóstol para aglutinar a los estudiantes ciudarrealeños  de bachillerato y primeros cursos de la universidad. El paso de Misterio fue bendecido el 24 de Marzo de 1964, por el Obispo-Prior Juan Hervas Benet. Desde 1999 la Universidad de Castilla-La Mancha monta unas carpas en el Rectorado de la Plaza de España a donde se trasladan los pasos para su salida procesional. En mayo de 1995 la Hermandad acepto la donación de la imagen de María Santísima del Dulce Nombre, por parte de unos hermanos y fue nombrada Titular de la Hermandad. Esta imagen realizo su primera salida procesional en la Semana Santa de 1998.
			<br><br>
			La túnica es de lana blanca con capillo de raso del mismo color con el escudo de la hermandad, beca verde y cinturón de raso color eminencia y con trenzado de pita, sandalia negra y calceta blanca. Los hermanos portan cirios de color blanco.
			<br><br>
			La imagen del Misterio es empujada sobre ruedas desde el interior por 13 hermanos. El palio de la Virgen del Dulce Nombre es portada a costal por 35 hermanos. 
			<br><br>
			Asociación Banda de Música de Pozoblanco.
		</div>
		
		<div class="titulos_hermandad">
			DATOS
		</div>
		
		<div class="informacion_hermandad">
			<b>Tunica:</b><br>
			<img src="./resources/habitos/cena.jpg" style="display:block">
			<b>Templo de residencia canónica:</b><br>Parroquia de San Pedro.
			<b>Ubicación de los titulares:</b><br>El misterio de la Santa Cena en el Museo Diocesano (Obispado de Ciudad Real)<br>María Santísima del Dulce Nombre - Capilla del Convento de las Hermanas de la Cruz de Ciudad Real.
			<br><br>
			<b>Fundación:</b><br>1960.
			<br><br>
			<b>Insignia(s) destacadas:</b><br>Cruz de Guía en madera, estrenada en la Semana Santa de 1998, con la palabra "Estudiantes", en el crucero.<br>Estandarte con el Santo Grial, bordado en oro por las Religiosas Adoratrices de Ciudad Real en 1964.
			<br><br>
			</div>
		
		<div class="titulos_hermandad">
			CONTACTO
		</div>
		
		<div class="informacion_hermandad">	
			<a id="web" href="http://santacenadeciudadreal.blogspot.com.es/">Página web</a><br>
			<a id="twitter" href="https://twitter.com/CrCena">Twitter</a>
			<script>
				$("a").on("click",function(e){
					var url = $(this).attr('href');
					var containHttp = new RegExp('http\\b');
					var containHttps = new RegExp('https\\b');
					if(containHttp.test(url)){
						e.preventDefault();
						window.open(url, "_system", "location=yes");
					}
					else if(containHttps.test(url)){
						e.preventDefault();
						window.open(url, "_system", "location=yes");
					}
				});
			</script>
		</div>
		
		<div class="titulos_hermandad">
			PROCESIONES
		</div>
		
		<div id="ov_to_proce" class="enlace_a_procesion">
			Santa Cena (2 de Abril, Jueves Santo)
		</div>
		<script>
			$("#ov_to_proce").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_cena_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
				
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
				
		<div class="subtitulo_hermandad">
			El Misterio de la Santa Cena
		</div>
		
		<div class="informacion_pasos">
			Autor: Faustino Sanz Herranz
			<br>
			Fecha: 1960-1964
			<br><br>
			El paso del misterio es de estilo barroco, color caoba de la carpintería de Jesús Segura Ponce. Lleva candelabros de guardabrisas. Completan el paso faldones de terciopelo verde con broches bordados en oro fino y el escudo de la hermandad bordado en el faldón delatero.<br>María Santísima del Dulce Nombre es obra de Jesús Méndez Lastrucci de 1995. Viste saya blanca bordada en oro y manto liso también blanco. Luce corona en metal sobredorado y en su mano izquierda lleva una rosa de orfebrería en metal plateado.
			<br><br>	
			<img src="./resources/pasos/cena.jpg" class="imagenes_pasos"/>			
		</div>
		<div class="hollow_10px"> </div>
		
		<div class="subtitulo_hermandad">
			Maria Santisima del Dulce Nombre
		</div>
		
		<div class="informacion_pasos">
			Autor: Jesús Méndez Lastrucci
			<br>
			Fecha: 1995
			<br><br>
			La imagen de la Virgen viste saya blanca bordada en oro y manto liso también blanco. Luce corona en metal sobredorado y en su mano izquierda lleva una rosa de orfebrería en metal plateado. En la calle del paso va una reliquia de Sor Ángela de la Cruz. El palio lleva bambalinas en malla bordadas. La gloria del techo del palio es una palma de orfebrería plateada. Los faldones son de color blanco con broches bordados en oro.
			<br><br>	
			<img src="./resources/pasos/virgendulcenombre.jpg" class="imagenes_pasos"/>			
		</div>
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
