<!-- Volver -->
<div style="display: block;" class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_5" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"> Volver
		</div>
		
		<div id="ov_back_button_6" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_5").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_6").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div id="ov_large_menu_item_1" class="ov_large_menu_item">
			
				<div class="ov_box_circle_images">
					
					<img src="./resources/escudos/resucitado.png" class="ov_image_circle" alt=" ">
					
				</div>
				
				<div class="ov_box_large_menu_item_title">
					
					<div class="ov_text_large_menu_item_01" style="color:#FFF">Asociación de Cofradías de Semana Santa</div>				
					
				</div>
				
				<div class="ov_clear_floats"> </div>
				
			</div>
			
		</div>
		
		<div class="texto_hermandad">
			No es una hermandad propia, sino que la Procesión del Resucitado es organizada por la Asociación de Hermandades de Ciudad Real, encargándose cada año una hermandad de su salida procesional. En 1960 procesiona por primera vez la imagen de Jesús Resucitado. En un principio los nazarenos de otras hermandades que participaban iban cubiertos con capillo. Desde mediados de los años 70 hasta el 2000 se decidió que los penitentes irían sin cubrir su rostro. Posteriormente volverían a cubrirse. En 1998 se incorporó al cortejo procesional la imagen de la Virgen de la Alegría que al no convencer a muchos ciudadrrealeños se sustituyó en 2001. La nueva imagen tampoco agradó a la ciudadanía por lo que se talló una tercera en 2007 aprovechando parte del cuerpo de la anterior.
			<br><br>
			Exorno floral claveles rojos y tomillo
			<br><br>
			Porteo a ruedas
			<br><br>
			Banda de Cornetas y Tambores Nuestra Señora del Prado - La Pasión de Ciudad Real y de la Agrupación Musical de Ciudad Real
			
		</div>
		
		<div class="titulos_hermandad">
			DATOS
		</div>
		
		<div class="informacion_hermandad">
			<b>Tunica:</b><br>
			El cortejo lo componen las túnicas de todas las Hermandades que componen la Asociación de Cofradías.
			<img src="./resources/habitos/resucitado.jpg" style="display:block">
			<br><br>
			<b>Ubicación de los titulares</b><br>Jesús Resucitado - Sala de Exposiciones del Obispado María Santísima de la Alegría - Capilla de la Casa de la Iglesia
			<br><br>
			<b>Peculiaridades</b><br>Cada año, una de las Hermandades que componen la Asociación de Cofradías se encarga de presidir el cortejo.
		</div>
		
		<div class="titulos_hermandad">
			CONTACTO
		</div>
		
		<div class="informacion_hermandad">
			Asociación de Cofradías<br>
			C/Caballeros 7, 2ª Planta
			<br><br>			
		</div>
		
		<div class="titulos_hermandad">
			PROCESIONES
		</div>
		
		<div id="ov_to_proce" class="enlace_a_procesion">
			Resucitado (5 de Abril, Domingo de resurreción)
		</div>
		<script>
			$("#ov_to_proce").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_resucitado_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
				
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
				
		<div class="subtitulo_hermandad">
			La Sagrada Resurrección de Jesucristo
		</div>
		
		<div class="informacion_pasos">
			Autor: Joaquín García Donaire
			<br>
			Fecha: 1958-1962
			<br><br>
			El misterio se compone de las imágenes de Jesús saliendo triunfal del Sepulcro y tres romanos que no dan crédito a lo que ven. El paso del misterio es de estilo modernista en madera. Los faldones son de terciopelo granate con el emblema de la Asociación de Hermandades en el delantero.<br>La Virgen María de la Alegría de Jesús Méndez Lastrucci viste saya de terciopelo azul bordada en plata. Luce corona en metal sobredorado y en su pecherón lleva un broche con su nombre en plata y el escudo de la Asociación. El manto de la Virgen es de color beige. El paso de la Virgen lleva respiraderos en metal plateado y peana del mismo color. Los faldones son de color beige.
			<br><br>
			<img src="./resources/pasos/resurrecion.jpg" class="imagenes_pasos" />			
		</div>
		<div class="subtitulo_hermandad">
			Virgen de la Alegría
		</div>
		
		<div class="informacion_pasos">
			Autor: Jesús Méndez Lastrucci
			<br><br>
			Portada por 35 costaleros.
			<br><br>			
			<img src="./resources/pasos/resurrecion_virgen.jpg" class="imagenes_pasos"/>			
		</div>
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
