<!-- Volver -->
<div style="display: block;" class="ov_back_button_container">
	
	<div class="ov_back_button_container_limited">
		<div id="ov_back_button_5" class="ov_back_button_1">
			<img src="./resources/general_images/atras.png" style="height:15px;display:inline"> Volver
		</div>
		
		<div id="ov_back_button_6" class="ov_back_button_2">
			<img src="./resources/general_images/menu.png" style="height:15px;display:inline"> Menú
		</div>
	</div>
	
</div>
<div class="back_hollow_filler"> </div>
<script>
		$("#ov_back_button_5").click(function(e){
			
			onBackKeyDown();
						
		});
		$("#ov_back_button_6").click(function(e){
			
			load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/general/ov_view_main_menu.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
						
		});		
</script>
<!-- Volver -->
<div class="ov_zone_general">
	
	<div class="ov_zone_limited_2">
		
		<div class="contenedor_escudo">
			
			<div id="ov_large_menu_item_1" class="ov_large_menu_item">
			
				<div class="ov_box_circle_images">
					
					<img src="./resources/escudos/avemaria.png" class="ov_image_circle" alt=" ">
					
				</div>
				
				<div class="ov_box_large_menu_item_title">
					
					<div class="ov_text_large_menu_item_01" style="color:#FFF">Hermandad de Nuestra Señora de los Dolores (Ave María)</div>				
					
				</div>
				
				<div class="ov_clear_floats"> </div>
				
			</div>
			
		</div>
		
		<div class="texto_hermandad">
			Los hermanos que formaban esta cofradía tenían la obligación de saludarse al encontrarse con las palabras “Ave María”,  según sus constituciones.  La imagen que dio origen a la hermandad y que tuvo como titular hasta 1936 era de vestir y recibía culto en el Altar Mayor. Se destruyó en 1936. En 1940, la hermandad desfiló con una imagen provisional de Ramón de la Osa y en ese mismo año se encargó la actual titular al sevillano Antonio Castillo Lastrucci. Cuando llegó a Ciudad Real fue instalada en una habitación del Gran Hotel, desde donde se trasladó a la Catedral la Semana de Pasión de 1941 para ser bendecida.
			<br><br>
			El paso se porta a costal
			<p><b>MÚSICA</b></p>
			Agrupación musical de Miguelturra 
		</div>
		
		<div class="titulos_hermandad">
			DATOS
		</div>
		
		<div class="informacion_hermandad">
			<b>Túnica:</b><br>
			Túnica de veludillo beige con botonadura y cíngulo dorado. Capa y capillo de terciopelo negro llevando este último bordado en oro el anagrama del “Ave María”. Guante, zapato y calcetín negro. Los hermanos alumbran con cirios.
			<br><br>
			<img src="./resources/habitos/perchelera.jpg" style="display:block">
			<b>Fundación:</b><br>1692.
			<br><br>
			<b>Ubicación de los titulares:</b><br>S.I.P.B. Catedral
			<br><br>
			
		</div>
		
		<div class="titulos_hermandad">
			CONTACTO
		</div>
		
		<div class="informacion_hermandad">
			Casa Hermandad en C/Montesa
			<br><br>			
			<!--<a href="http://dolorosacatedral.es" class="enlace_externo">Página web</a>			-->
			<script>
				$("a").on("click",function(e){
					var url = $(this).attr('href');
					var containHttp = new RegExp('http\\b');
					var containHttps = new RegExp('https\\b');
					if(containHttp.test(url)){
						e.preventDefault();
						var new_url=extern_page+url.substr(7);
						window.open(new_url, "_system", "location=yes");
					}
					else if(containHttps.test(url)){
						e.preventDefault();
						var new_url=extern_page+url.substr(8);
						window.open(new_url, "_system", "location=yes");
					}
				});				
			</script>
		</div>
		
		<div class="titulos_hermandad">
			PROCESIONES
		</div>
		
		<div id="ov_to_proce" class="enlace_a_procesion">
			Ntra. Sra. de los Dolores (Viernes Santo)
		</div>
		<script>
			$("#ov_to_proce").click(function(e){
				
				load_view({view_to_load: 'ov_view_container_02', url_to_load: './views/procesiones/ov_view_dolores_01.html', view_background_color: '#EBEBEB', view_background_image: 'none', view_to_hide: 'ov_view_container_01' });	
							
			});
		</script>
				
		<div class="titulos_hermandad">
			PASOS.
		</div>
		
		<div class="hollow_10px"> </div>
				
		<div class="subtitulo_hermandad">
			Virgen de los Dolores
		</div>
		
		<div class="informacion_pasos">
			Autor: Antonio Castillo Lastrucci
			<br>
			Fecha: 1940
			<br><br>
			Viste saya en terciopelo negro bordada en oro  y luce corona de oro. El manto es de terciopelo negro bordado en oro. El  paso es de orfebrería en metal plateado. En la calle del paso va una imagen de la Virgen del Prado tallada en madera de cedro. El palio es de terciopelo negro con bambalinas delantera y trasera bordadas en oro. En el techo va una gloria de un corazón con los siete puñales. El techo del palio también va bordado. Completan el paso los faldones en terciopelo negro.
			<br><br>
			<img src="./resources/pasos/avemaria.jpg" class="imagenes_pasos" />			
		</div>
		
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>
		<div class="hollow_10px"> </div>						
		
	</div>
	
</div>	
